<%= content_for(:css) do %>
<link rel="stylesheet" href="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/CSS/Blogs/blog.css">
<style>
.post .post-title{
  min-height: 38px;
}
li::after{
  content:'' !important;
}

body{
  background-color: white !important;
}

</style>

<%end%>
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div id="hot-post" class="row hot-post">
        <div class="col-md-8 hot-post-left">
          <!-- post -->
          <div class="post post-thumb">
            <a class="post-img" href=<%=blog_path(@blog1[0].url)%>><img src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" class='lazyload' data-src=<%=@blog1[0].attachment.url(:first_index)%> alt=""></a>
            <div class="post-body">
              <div class="post-category">
                <%@blog1[0].categorium.each do |categoria|%>
                  <a href=""><%=categoria.name%></a>
                <%end%>
              </div>
              <h3 class="post-title title-lg"><a href=<%=blog_path(@blog1[0].url)%>><%=@blog1[0].title%></a></h3>
              <ul class="post-meta">
                <li><%=@blog1[0].user.name%> <%=@blog1[0].user.sobrenome%></li>
                <li><%=@blog1[0].created_at.strftime("%d %B %Y")%></li>
              </ul>
            </div>
          </div>
          <!-- /post -->
        </div>
        <div class="col-md-4 hot-post-right">
          <!-- post -->
          <div class="post post-thumb">
            <a class="post-img" href=<%=blog_path(@blog1[1].url)%>><img src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" class='lazyload' data-src=<%=@blog1[1].attachment.url(:relacionados)%> alt=""></a>
            <div class="post-body">
              <div class="post-category">
                <%@blog1[1].categorium.each do |categoria|%>
                <a href=""><%=categoria.name%></a>
                <%end%>
              </div>
              <h3 class="post-title"><a href=<%=blog_path(@blog1[1].url)%>><%=@blog1[1].title%></a></h3>
              <ul class="post-meta">
                <li><%=@blog1[1].user.name%> <%=@blog1[1].user.sobrenome%></li>
                <li><%=@blog1[1].created_at.strftime("%d %B %Y")%></li>
              </ul>
            </div>
          </div>
          <!-- /post -->

          <!-- post -->
          <div class="post post-thumb">
            <a class="post-img" href=<%=blog_path(@blog1[2].url)%>><img src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog1[2].attachment.url(:relacionados)%> class='lazyload' alt=""></a>
            <div class="post-body">
              <div class="post-category">
                <%@blog1[2].categorium.each do |categoria|%>
                <a href=""><%=categoria.name%></a>
                <%end%>
              </div>
              <h3 class="post-title"><a href=<%=blog_path(@blog1[2].url)%>><%=@blog1[2].title%></a></h3>
              <ul class="post-meta">
                <li><%=@blog1[2].user.name%> <%=@blog1[2].user.sobrenome%></li>
                <li><%=@blog1[2].created_at.strftime("%d %B %Y")%></li>
              </ul>
            </div>
          </div>
          <!-- /post -->
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-8">
          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2 class="title">Artigos recentes</h2>
              </div>
            </div>
            <!-- post -->
            <%@blogs.each do |blog|%>
            <div class="col-md-6" style='min-height:350px;'>
              <div class="post">
                <a class="post-img" href=<%=blog_path(blog.url)%>><img src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" class='lazyload' data-src=<%=blog.attachment.url(:relacionados)%> alt=""></a>
                <div class="post-body">
                  <div class="post-category">
                    <a href=""></a>
                  </div>
                  <h3 class="post-title"><a href=<%=blog_path(blog.url)%>><%=blog.title%></a></h3>
                  <ul class="post-meta">
                    <li class='font-bold'><%=blog.user.name%> <%=blog.user.sobrenome%></li>
                    <li><%=blog.created_at.strftime("%d %B %Y")%></li>
                  </ul>
                </div>
              </div>
            </div>
            <%end%>
            <!-- /post -->
          </div>
          <!-- /row -->

          <!-- row -->
        </div>
        <div class="col-md-4">
          <!-- ad widget-->
          <!-- /ad widget -->

          <!-- social widget -->
        <%=render 'coluna', popular: @popular%>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->


  <!-- jQuery Plugins
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>-->

