<div class="content">
        <h3>Jobs a serem analisados</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @analisados.any?%>
                  <%@analisados.all.each do |analisado|%>
                    <div class="col-sm-3">
                        <a href=<%=job_path(analisado.id)%>><div class="card">
                            <img class="card-img-top" src=<%=analisado.image.url(:capa)%> alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title mb-3"><%=analisado.title%></h4>
                                <p class="card-text"><%=analisado.description%></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                  <a href="#"> <i class="fa fa-bell-o"></i> Job ID<span class="pull-right">#<%=analisado.id%></span></a>
                                </li>
                                <li class="list-group-item">
                                  <a href="#"> <i class="fa fa-money"></i> Valor <span class="pull-right">R$<%=analisado.value%></span></a>
                                </li>
                                <li class="list-group-item">
                                  <a href="#"> <i class="fa fa-tasks"></i> Tipo <span class="pull-right"><%=analisado.tipo%></span></a>
                                </li>
                                <li class="list-group-item">
                                  <a href="#"> <i class="fa fa-clock-o"></i> Disponível <span class="pull-right">Horário Aqui</span></a>
                                </li>
                              </ul>

                        </div></a>
                    </div>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhuma oferta de Job para você no momento. Fique atento a novos Jobs</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->