  <div class="content">
    <div class="animated fadeIn">
      <div class="row">
        <div class='col-lg-4'>
          <div class="card">
            <div class="card-header">
              <strong>Informações</strong>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-bell-o"></i> Título<span class="pull-right"><%=@job.title%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-bell-o"></i> Job ID<span class="pull-right">#<%=@job.id%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-money"></i> Descrição <div style='padding-top:15px'><%= @job.description %></div></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-tasks"></i> Tipo <span class="pull-right"><%=@job.tipo%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-clock-o"></i> Dimensões<span class="pull-right">Width (X): <%=@job.x%></span>
                <ul class="list-group list-group-flush"  style="list-style: none;">
                  <li>
                    <span class="pull-right">Depth (Y): <%=@job.y%></span>
                  </li>
                  <li>
                    <span class="pull-right">Height (Z): <%=@job.z%></span>
                  </li>
                </ul>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-money"></i> Valor <span class="pull-right" style='color:green'>R$<%=@job.value%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"><i class="fa fa-clock-o"></i> DeadLine <span class="pull-right"><strong style='color:red'>Horário Aqui</strong></span></a>
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-header">
              <strong>Observações</strong>
            </div>
            <div class="card-body">
              <p><%= @job.observations %></p>
             
            </div>
          </div>
        </div>
        <div class='col-lg-8'>
          <div class="card">
            <div class="card-header">
              <strong>Imagens de Referência</strong>
            </div>

            <div class="card-body" style='padding-left:150px; padding-right:150px'>
              <img class="card-img-top" src=<%=@job.image.url(:capa)%> alt="Card image cap">
            </div>
            <div style='text-align:center'>
              <%= link_to @job.image.url, download: "Job_#{@job.id}_image" do%>
                <i class="fa fa-upload"></i> Download da Imagem
              <%end%>
            </div>
          </div>
          <div class='pull-right'>
            <%= simple_form_for @job, :url => aceitar_job_path(@job), :method => :post do |f|%>
              <a href=<%=jobs_path%> class="btn btn-sm">
                <i class="fa fa-ban"></i> Cancelar
              </a>
              <%if current_modeler.admin%>
                <a href=<%=edit_job_path(@job)%> class="btn btn-sm btn-primary" style='background-color:#3F315D; border:none'>
                  Editar
                </a>
              <%end%>
              <%if @job.modeler%>
              <a href=<%=enviar_job_path(@job)%> class="btn btn-primary btn-sm" style='background-color:green'>
               <i class="fa fa-upload"></i>Enviar Modelo
              </a>
              <%else%>
                <%= f.button :submit, "Aceitar Job",class:"btn btn-primary btn-sm", style:'background-color:#009fab'%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>

      <%if @job.jobmodels.any?%>
        <div class="row">
           <div class="card" style='width:100%'>
              <div class="card-header">
                <strong class="card-title">Modelos Enviados</strong>
              </div>
              <div class="table-stats order-table ov-h">
                <table class="table ">
                  <thead>
                    <tr>
                      <th class="serial">#</th>
                      <th class="avatar">Modelador</th>
                      <th>ID</th>
                      <th>Nome do Arquivo</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@job.jobmodels.each do |jobmodel|%>
                      <tr>
                        <td class="serial">1.</td>
                        <td class="avatar">
                          <div class="round-img">
                            <a href="#"><img class="rounded-circle" src="<%=@job.modeler.image.url(:profile)%>" alt=""></a>
                          </div>
                        </td>
                        <td> #<%=jobmodel.id%> </td>
                        <td>  <span class="name"><%=File.basename(jobmodel.attachment.url)%></span> </td>
                        <td>
                          <a href='<%=jobmodel.attachment.url%>' title='Download'><span class="badge badge-complete"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                        </td>
                      </tr>
                    <%end%>
                            
                  </tbody>
                </table>
              </div> <!-- /.table-stats -->
            </div>
        </div>
        <%if current_modeler.admin%>
        <div class="row">
          <div class="card" style='width:100%'>
            <div class="card-header">
              <strong>Aprovar </strong>Job
            </div>
            <div class="card-body card-block">
                <div class="row form-group mx-auto d-block text-sm-center">
                  <%= button_to "Aprovar Job e Liberar Pagamento", aprovar_job_path(@job), data: { confirm: "Você tem certeza que quer aprovar esse job?" }, method: :post, class:'external btn btn-success btn-sm text-sm-center' %>
                </div>
            </div>
          </div>
        </div>
      <%end%>
      <%end%>


    </div>
  </div>
