<style>

.fotinha{
  overflow:hidden;
  height: 120px;
  width:22%;
  display: inline-block;
  position:relative;
  border:1px solid #bfbfbf;
  background-color:white;
}

@media (max-width: 768px){
  .mySlides{
  height:auto !important;
  overflow:hidden;
  padding:5px !important;
}
}

.mySlides{
  height:600px;
  overflow:auto;
}

</style>


  <div class="content">
    <div class="animated fadeIn">
    <%if @job.unaproved%>
        <div class="row">
          <div class="card" style='width:100%; border:1px solid red'>
            <div class="card-header">
              <strong style='color:red'>Feedbacks</strong> - Seu Job não foi aprovado. Necessário reenvio dos arquivos
            </div>
            <div class="card-body card-block">
                <%= @job.erros.html_safe %>
            </div>
          </div>
        </div>
      <%end%>
      <div class="row">
        <div class='col-lg-4'>
          <div class="card">
            <div class="card-header">
              <strong>Informações</strong>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-bell-o"></i> Título<span class="pull-right"><%=@job.title%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-bell-o"></i> Job ID<span class="pull-right">#<%=@job.id%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-money"></i> Descrição <div style='padding-top:15px'><%= @job.description %></div></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-tasks"></i> Tipo <span class="pull-right"><%=@job.tipo%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-clock-o"></i> Dimensões<span class="pull-right">Width (X): <%=@job.x%></span>
                <ul class="list-group list-group-flush"  style="list-style: none;">
                  <li>
                    <span class="pull-right">Depth (Y): <%=@job.y%></span>
                  </li>
                  <li>
                    <span class="pull-right">Height (Z): <%=@job.z%></span>
                  </li>
                </ul>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#"> <i class="fa fa-money"></i> Valor <span class="pull-right" style='color:green'>R$<%=@job.value%></span></a>
              </li>
              <li class="list-group-item">
                <a href="#"><i class="fa fa-clock-o"></i> DeadLine <span class="pull-right"><strong style='color:red'>Horário Aqui</strong></span></a>
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-header">
              <strong>Observações</strong>
            </div>
            <div class="card-body">
              <p><%= @job.observations %></p>
             
            </div>
          </div>
          <aside class="profile-nav alt">
            <section class="card">
              <div class="card-header">
                <strong>Histórico</strong>
              </div>
              <div class="card-header user-header alt" style='background-color:white'>

                <%@job.job_notifications.each do |notification|%>
                  <div class="media">
                    <a href="#">

                      <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="<%if notification.modeler.image.url(:thumb)%><%=notification.modeler.image.url(:thumb)%><%else%>https://beeprinted-stls.s3.amazonaws.com/Plataforma/Profile/user.jpg<%end%>">
                    </a>
                    <div class="media-body">
                      <p><%=notification.message%></p>
                    </div>
                  </div>
                  <div class='text-right' style='opacity:0.6'>
                    <p><strong><%=time_ago_in_words notification.created_at%></strong></p>
                  </div>
                  <hr>
                <%end%>
              </div>

            </section>
          </aside>
        </div>
        <div class='col-lg-8'>
          <div class="card">
            <div class="card-header">
              <strong>Imagens de Referência</strong>
            </div>



            <div class="card-body mySlides" style='padding-left:5em; padding-right:5em'>
              <img class="card-img-top" src=<%=@job.image.url%> alt="Card image cap">
            </div>

            <%@job.images.each_with_index do |image,index|%>
              <div class="card-body mySlides" style='padding-left:5em; padding-right:5em'>
                <img class="card-img-top" src=<%=image.attachment.url%> alt="Card image cap">
              </div>
            <%end%>




            <div style='text-align:center'>
              <%= link_to @job.image.url, download: "Job_#{@job.id}_image", id:'download_image' do%>
                <i class="fa fa-upload"></i> Download da Imagem
              <%end%>
            </div>
            <br>

            <ul style="padding-left:0px;white-space:nowrap;width:100%;line-height:0px;margin-bottom:0px">
              <li class="fotinha">
              <%=image_tag @job.image.url,style:"position:absolute; left:50%; top:50%; -webkit-transform: translateY(-50%) translateX(-50%); margin-bottom:-6px;width:100%; cursor:pointer", onclick:"currentDiv(1);$('#download_image').attr('href', '#{@job.image.url}') ",class:"demo w3-opacity w3-hover-opacity-off"%>
              </li>

              <%@job.images.each_with_index do |image,index|%>
                <li class="fotinha">
                  <%=image_tag image.attachment.url(:thumb),style:"position:absolute; left:50%; top:50%; -webkit-transform: translateY(-50%) translateX(-50%); margin-bottom:-6px;width:100%; cursor:pointer", onclick:"currentDiv(#{index +2});$('#download_image').attr('href', '#{image.attachment.url}')",class:"demo w3-opacity w3-hover-opacity-off"%> 
                </li>
              <%end%>
            </ul>
          </div>
          <%if @job.jobmodels.any?%>
           <div class="card" style='width:100%'>
              <div class="card-header">
                <strong class="card-title">Modelos Enviados</strong>
              </div>
              <div class="table-stats order-table ov-h">
                <table class="table ">
                  <thead>
                    <tr>
                      <th class="serial">#</th>
                      <th class="avatar">Modelador</th>
                      <th>ID</th>
                      <th>Nome do Arquivo</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@job.jobmodels.each do |jobmodel|%>
                      <tr>
                        <td class="serial">1.</td>
                        <td class="avatar">
                          <%=@job.modeler.name%>
                        </td>
                        <td> #<%=jobmodel.id%> </td>
                        <td>  <span class="name"><%=File.basename(jobmodel.attachment.url)%></span> </td>
                        <td>
                          <a href='<%=jobmodel.attachment.url%>' title='Download'><span class="badge badge-complete"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                        </td>
                      </tr>
                    <%end%>
                            
                  </tbody>
                </table>
              </div> <!-- /.table-stats -->
            </div>    
        <%end%>
        <%if @job.jobmodels.any?%>
        <%if current_modeler.admin%>
          <div class="card" style='width:100%'>
            <div class="card-header">
              <strong>Avaliar </strong>Job
            </div>
            <div class="card-body card-block">
                <div class="row form-group mx-auto d-block text-sm-center">
                  <%= button_to "Desaprovar Job", desaprovar_job_path(@job), method: :get, class:'external btn btn-danger btn-sm text-sm-center' %>
                  <br>
                  <%= button_to "Aprovar Job e Liberar Pagamento", aprovar_job_path(@job), data: { confirm: "Você tem certeza que quer aprovar esse job?" }, method: :post, class:'external btn btn-success btn-sm text-sm-center' %>
                </div>
            </div>
          </div>
      <%end%>
      <%end%>
      <div class='pull-right'>
            <%= simple_form_for @job, :url => aceitar_job_path(@job), :method => :post do |f|%>
              <a href=<%=jobs_path%> class="btn btn-sm">
                <i class="fa fa-ban"></i> Cancelar
              </a>
              <%if current_modeler.admin%>
                <a href=<%=edit_job_path(@job)%> class="btn btn-sm btn-primary" style='background-color:#3F315D; border:none'>
                  Editar
                </a>
              <%end%>
              <%if @job.modeler%>
              <a href=<%=enviar_job_path(@job)%> class="btn btn-primary btn-sm" style='background-color:green'>
               <i class="fa fa-upload"></i>Enviar Modelo
              </a>
              <%else%>
                <%= f.button :submit, "Aceitar Job",class:"btn btn-primary btn-sm", style:'background-color:#009fab'%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>

    </div>
  </div>





<script>
// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>
