<style>
.form-control::placeholder {
  color: #323232;  
}

.selector__button {
    width: 50%;
    align-items: center;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 23, 0.22);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: #fff;
    font-size: 17px;
}

 .loader-orcamento{
    position: fixed;
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: no-repeat #f9f9f9;
 }
 .card{
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
 }
</style>
<section id=cta class="padding-top-bottom color-bg light-typo" style='padding:20px;background-color:white; border-bottom: 1px solid rgba(0, 0, 18, 0.13);box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);'>
<div class="container" style='margin-top:60px'>
  <div class="header">
    <a href=<%=tipo_orcamento_path%> style='color:#009fab'><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar</a>
    <h4 class="text-muted"><strong style='color:#009fab'>1.</strong> Você já possui os arquivos em 3D nas extensões STL ou OBJ?</h4>
  </div> 

  <div style='display: flex;justify-content: flex-start; padding-top: 1.5rem; margin-bottom:20px'>
  <button class='selector__button text-muted' style='margin-right:5px' onClick='$(".modelagem").hide();$(".orcamento").fadeIn();'>
      <span>Sim! Eu já possuo os arquivos em formato .STL ou .OBJ.</span>
      <span class='orcamento' style='float:right;color:#009fab;<%unless @orcamento_check%>display:none<%end%>'>
        <i class="fa fa-check" aria-hidden="true" style='font-size:22px'></i>
      </span>
    </button>

    <button class='selector__button text-muted' style='margin-left:5px' onClick='$(".orcamento").hide();$(".modelagem").fadeIn();'>
      <span>Ainda não! Não possuo os arquivos ou estão em outro formato.</span>
      <span class='modelagem' style='float:right;color:#009fab;<%unless @modelagem_check%>display:none<%end%>'>
        <i class="fa fa-check" aria-hidden="true" style='font-size:22px'></i>
      </span>
    </button>
  
  </div>
</div>
</section>




<section style='min-height:600px'>

<div class="container orcamento" style='margin-top:40px; margin-bottom:20px;<%unless @orcamento_check%>display:none<%end%>'>

  <div class="header" style='margin-bottom:30px'>
    <h4 class="text-muted"><strong style='color:#009fab'>2.</strong> Faça o upload dos arquivos e descreva seu projeto</h4>

    <div class='row'>
      <div class='col-md-7'>  
        <p style='color:#777; margin-bottom:0px'><strong>Tamanho Máximo:</strong> 60MB/arquivo</p>
        <p style='color:#777'><strong>Dimensão Máxima:</strong> 280 x 280 x 380 mm</p>
      </div>
      <div class='col-md-5'>  
        <p style='color:#777; margin-bottom:0px'><strong><span style='color:red'>*</span>Não envie arquivos compactados como .ZIP e .RAR.</strong></p>
        <p style='color:#777; margin-bottom:0px'><strong><span style='color:red'>*</span>Envie peças diferentes em arquivos separados.</strong></p>
        <p style='color:#777; margin-bottom:0px'><strong><span style='color:red'>*</span>Certifique-se que os arquivos estão na escala correta.</strong></p>
      </div>
    </div>
  </div> 
  <div class="alert alert-danger" style='display:none' id='error_alert'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <span id='messagem_erro'>Login efetuado com sucesso!</span>
</div>
  <%= form_for(@item, html: { multipart: true, novalidate:false, class: "dropzone", style:'border-radius:20px; border: 0px solid #009fab;box-shadow: 2px 2px #d2d2d2'}, remote:true) do |f|  %>
    <div class="dz-default dz-message" style='color:#009fab'><p><i class="fa fa-cloud-upload" style='font-size:64px'></i></p>
      <p><span><strong>Selecione ou arraste e solte arquivos STL ou OBJ para o seu projeto aqui</strong></span></p>
    </div>

    <div class="fallback", style='display:none'>
      <%= f.file_field :attachment %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
  <%if @orcamento.items.any?%>
    <div class='dropzone' style='background-color:transparent;padding:0px;border:0px'>
      <%@orcamento.items.each do |item| %>
       <div class="dz-preview dz-file-preview dz-processing dz-success dz-complete" id="deletar-<%=item.id%>">
        <div class="dz-image">
            <img data-dz-thumbnail="">
          </div>
          <div class="dz-details">
            <div class="dz-size">
              <span data-dz-size="">
                <strong><%='%.1f' % (item.attachment.file.size/1000).round(1)%></strong> KB
              </span>
            </div>
            <div class="dz-filename">
              <span data-dz-name=""><%=File.basename(item.attachment.path)%></span>
            </div>  
          </div>
          <div class="dz-progress">
            <span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
          </div>
          <div class="dz-error-message">
            <span data-dz-errormessage=""></span>
          </div>  
          <a class="dz-remove deletar-fora" href="javascript:undefined;" data-dz-remove="" id="<%=item.id%>">Remover arquivo</a></div>
      <%end%>
      </div>
  <%end%>


  <%= simple_form_for @orcamento, html: { multipart: true, class:'' },style:'color:#616161' do |f| %>
    <%= f.error_notification%>
    <!--<div class="" style='margin-top:40px'>
      <h4 class="text-muted"><strong style='color:#009fab'>3.</strong> Escolha o Material de cada peça</h4>
    </div>-->
    <!--<div id='pecas'>
    <br>
      <div class='card'>
        <div class='row' style='margin:0px'>
          <div class='col-md-3' style='background-color: #009fab;padding-top: 25px;padding-bottom:25px;'>
            <span style='color:white'><strong>teste</strong></span>
          </div>
          <div class='col-md-3' style='padding-top: 20px;padding-bottom:20px;'>
            <span>Qtd.</span>
            <input type="number" step="1" name="quantidade" value='1' style='border:1px solid rgb(169, 169, 169);width:50%;margin-left: 10px;padding:3px;padding-left:5px;background-color:white;  border-radius:4px;color: #777;font-weight: bold;'>
          </div>
          <div class='col-md-3' style='padding-top: 20px;padding-bottom:20px;'>
            <span>Material:</span>
            <select name='material' style='margin-left: 10px;padding:5px;background-color:white;  border-radius:4px;color: #777;font-weight: bold;'>
              <option value='Vermelho'>Sem preferência</option>
              <option value='Amarelo'>PLA</option>
              <option value='Azul'>ABS</option>
            </select>
          </div>
          <div class='col-md-3' style='padding-top: 20px;padding-bottom:20px;'>
            <span>Cor:</span>
            <select name='color' style='margin-left: 10px;padding:5px;background-color:white;  border-radius:4px;color: #777;font-weight: bold;'>
              <option value='Vermelho'>Sem preferência</option>
              <option value='Vermelho'>Vermelho</option>
              <option value='Amarelo'>Amarelo</option>
              <option value='Azul'>Azul</option>
              <option value='Verde'>Verde</option>
              <option value='Preto'>Preto</option>
              <option value='Branco'>Branco</option>
              <option value='Branco'>Outra</option>
            </select>
          </div>
        </div>
        <div class='row text-center avancadas' style='cursor:pointer;border-top:1px solid #e2e2e2;margin:0px;color:#b2b2b2'>
          Configurações Avançadas
        </div>
        <div class='row avancadas_inputs' style='border-top: 1px solid #e2e2e2;display:none; margin:0px'>
          <div class="text-right" style='font-size:12px; color:#009fab'>
            <span style='cursor:pointer' class='fechar_avancadas'><strong>Fechar <i class="fa fa-chevron-up" aria-hidden="true"> </i></strong></span>
          </div>
          <div class='col-md-3' style='padding-top: 20px;padding-bottom:20px;'>
          </div>
          <div class='col-md-3' style='padding-top: 20px;padding-bottom:20px;'>
            <span>Resoluçao:</span>
            <select name='material' style='margin-left: 10px;padding:5px;background-color:white;  border-radius:4px;color: #777;font-weight: bold;'>
              <option value='Vermelho'>Sem preferência</option>
              <option value='Amarelo'>Baixa</option>
              <option value='Azul'>Normal</option>
              <option value='Azul'>Alta</option>
              <option value='Azul'>Ultra</option>
            </select>
          </div>
          <div class='col-md-4' style='padding-top: 20px;padding-bottom:20px;'>
            <span>Preenchimento:</span>
            <select name='preenchimento' style='margin-left: 10px;padding:5px;background-color:white;  border-radius:4px;color: #777;font-weight: bold;'>
              <option value='Sem'>Sem preferência</option>
              <option value='10'>10%</option>
              <option value='20'>20%</option>
              <option value='30'>30%</option>
              <option value='40'>40%</option>
              <option value='50'>50%</option>
              <option value='60'>60%</option>
              <option value='70'>70%</option>
              <option value='80'>80%</option>
              <option value='90'>90%</option>
              <option value='100'>100%</option>
            </select>
          </div>

        </div>
      </div>
    </div>-->
    <div class=w3-center><%= f.input :array, label: false,input_html:{style:'display:none'} %>
    </div>

    <div class="" style='margin-top:40px'>
      <h4 class="text-muted"><strong style='color:#009fab'>3.</strong> Descreva o seu projeto</h4>
    </div>


    <div id='antesdoupload' style=''>
        <div class="form-group text-center" id="formgroup2">
          <%= f.input :description, label: false, placeholder: 'Preencha esse campo com detalhes do seu projeto para nos ajudar a realizar a cotação. Aproveite para informar caso tenha preferências de cor, material ou configurações técnicas.' , :input_html =>{:rows => "5"}%>
        </div>
    </div>

    <div class="" style='margin-top:40px'>
      <h4 class="text-muted"><strong style='color:#009fab'>4.</strong>  Passe suas informações</h4>
    </div>
    <div class='row', style='margin:0px'>
      <div class="col-md-8 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px; padding-right:10px; color:#777; border-right:3px solid #ddd'>
        <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px; padding-right:10px; color:#777'>
          <%= f.input :name, label:false, placeholder:"Nome",:input_html=>{style:'color:#777;'} %>
        </div>
        <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px; padding-right:10px; color:#777'>
            <%= f.input :sobrenome, label:false, placeholder:"Sobrenome",:input_html=>{style:'color:#777;'} %>
        </div>
        <div class="no-padding" style='float:left;width:100%;color:#777;padding-right:10px;'>
            <%= f.input :email, placeholder:"Email", label:false,:input_html=>{type:"email", style:'color:#777'} %>
        </div>
        <div class="col-md-8 col-sm-12 no-padding" style='float:left;padding-left:0px;color:#999;padding-right:10px;'>
          <%= f.input :estado, prompt:"Estado", :collection => ["Acre", "Alagoas", "Amapá","Amazonas", "Bahia", "Ceará","Distrito Federal", "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte","Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina", "São Paulo", "Segipe", "Tocantins"],label:false,:input_html=>{style:'color:#999;margin-bottom:0px'} %>
           
        </div>
        <div class="col-md-4 col-sm-12 no-padding" style='float:left;padding-left:0px;color:#777;padding-right:10px;'>
          <%= f.input :cep, placeholder:"CEP (opcional para Brasília)", label:false,:input_html=>{style:'color:#777;margin-bottom:0px'} %>
        </div>
        <div class="col-md-4 col-sm-12 no-padding" style='float:left;padding-left:0px;padding-left:0px;color:#777;padding-right:10px;'>
          <%= f.input :telefone, placeholder:"Telefone (opcional)", label:false,:input_html=>{style:'color:#777'} %>
        </div>
        <div class="col-md-8 col-sm-12 no-padding" style='float:left;padding-left:0px;color:#777;'>
          <%= f.input :empresa, placeholder:"Empresa (opcional)", label:false,:input_html=>{style:'color:#777'} %>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 no-padding text-center" style='float:left;padding:0px;padding:auto; padding-top:50px; color:#777; height:100%'>
        <%=f.submit "Enviar Pedido de Orçamento", style:"font-weight:bold; font-size:16px; padding:15px", class:"btn btn-default dropdown-toggle font-bold w3-center", id:'button-orcamento', onclick: '$(".loader-orcamento").fadeIn()' %>
      </div>
    </div>
      <br>
      <br>
      <h2 class='text-center' style='color:#777'><strong>Dúvidas Frequentes</strong></h2>

      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas1" ).is(":visible")){$( "#duvidas1" ).slideUp()}else{$( "#duvidas1" ).slideDown()}'>Qual programa devo usar para criar o 3D?<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas1' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>Você pode utilizar qualquer programa de modelamento tridimensional do tipo CAD, existem diversas alternativas e você poderá utilizar o que melhor lhe atende. Alguns exemplos: AutoCad, Blender, ZBrush, Rhyno, 3D Max, Modo, Cinema 4D, SolidWorks, Fusion 360 entre uma infinidade de outros.</p>
      </div>
      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas2" ).is(":visible")){$( "#duvidas2" ).slideUp()}else{$( "#duvidas2" ).slideDown()}'>Possuo o 3D em outra extensao. Como obter um orçamento?<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas2' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>Infelizmente é necessário os arquivos na extensão .STL ou .OBJ para realizar o orçamento. Acontece que simulamos a impressão das peças através destes arquivos para obter o tempo de máquina e massa das peças.</p>
      </div>
      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas3" ).is(":visible")){$( "#duvidas3" ).slideUp()}else{$( "#duvidas3" ).slideDown()}'>Como é calculado o preço e o prazo para minha peça?<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas3' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>O cálculo base é de R$0,24/min + R$0,28/g. O tempo de impressão e massas são simulados à partir dos arquivos STL ou OBJ e são informados na cotação. Além disso, é aplicada uma escalonda de preço para maiores volumes, ou seja, quanto maior o tempo de impressão, mais barato o custo do minuto.</p> 
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>O prazo mínimo para produção é de 4 dias úteis contando à partir do dia seguinte ao fechamento do pedido, podendo variar de acordo com a fila de impressão e volume das peças. O prazo de envio é calculado pela plataforma dos correios de acordo com as preferências do cliente</p>
      </div>
      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas4" ).is(":visible")){$( "#duvidas4" ).slideUp()}else{$( "#duvidas4" ).slideDown()}'>Quais sao as formas de pagamento disponíveis?<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas4' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>O pagamento pode ser realizado via transferência bancária para o Banco do Brasil ou boleto e cartão de crédito através da plataforma do PagSeguro.</p>
      </div>
      <br>
      <br>
      <br>
      <br>
  <%end%>
</div>







<div class="container modelagem" style='margin-top:40px; margin-bottom:20px;<%unless @modelagem_check%>display:none<%end%>'>
  <p style='color:#777;font-size:18px'><strong>Atualmente não oferecemos serviços de Design para projetos de pessoa física, então é necessário possuir o arquivo 3D na extensão .STL ou .OBJ para utilizar os nossos serviços. Caso ainda não possua os arquivos 3D, você pode tomar um dos caminhos abaixo:</strong></p>

  <h4 style='margin-top:30px;background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas21" ).is(":visible")){$( "#duvidas21" ).slideUp()}else{$( "#duvidas21" ).slideDown()}'>Pesquisar modelos 3D disponíveis online<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas21' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>Alguns modeladores 3D disponibilizam os seus arquivos para download em sites como Thingverse, MyMiniFactory, Cults 3D e Yeggi. Geralmente os modelos mais complexos são pagos, mas é possível encontrar uma grande quantidade de modelos grátis nesses sites. </p>
      </div>
      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas22" ).is(":visible")){$( "#duvidas22" ).slideUp()}else{$( "#duvidas22" ).slideDown()}'>Contratar um modelador 3D<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas22' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>Você pode encontrar modeladores 3D oferecendo seus serviços em redes sociais como Facebook e Instagram ou em plataformas de profissionais como o GetNinjas. Lembre de informar ao profissional que você que você deseja um modelo otimizado para impressão 3D!</p>
      </div>
      <h4 style='background-color:#c7d0d8; padding:10px;cursor:pointer' onclick='if ($( "#duvidas23" ).is(":visible")){$( "#duvidas23" ).slideUp()}else{$( "#duvidas23" ).slideDown()}'>Modelar minhas próprias peças<span style='float:right'><i class="fa fa-angle-down text-right" aria-hidden="true"></i></span></h4>
      <div id='duvidas23' style='display:none;'>
        <p style='color:#777;margin-top:20px;margin-bottom:20px;font-size:18px'>Você pode utilizar qualquer programa de modelamento tridimensional do tipo CAD, existem diversas alternativas e você poderá utilizar o que melhor lhe atende. Alguns exemplos: AutoCad, Blender, ZBrush, Rhyno, 3D Max, Modo, Cinema 4D, SolidWorks, Fusion 360 entre uma infinidade de outros.</p>
      </div>




<div class='row' style='padding-top:30px;padding-bottom:40px'>
  <div class='col-md-3 text-center'>
    <a href='https://www.thingiverse.com/'><img src="https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/thingiverse-logo-2015.png" alt="beeprinted-impressão-3d" height="55" title='Thingiverse' style='padding-top:20px'></a>
  </div>
  <div class='col-md-3 text-center'>
    <a href='https://www.myminifactory.com/'><img src="https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/logo-small.png" alt="beeprinted-impressão-3d" title='MyMiniFactory' style='width:100%;padding-top:25px'></a>
  </div>
  <div class='col-md-3 text-center'>
    <a href='https://cults3d.com/'><img src="https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/2.-Logo-Cults_horizontal.png" alt="beeprinted-impressão-3d" height="55" title='Cults 3D' style='padding-top:20px'></a>
  </div>
  <div class='col-md-3 text-center'>
    <a href='https://www.yeggi.com/'><img src="https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/logo-yeggi.gif" alt="beeprinted-impressão-3d" height="55" title='Yeggi' style='padding-top:20px'></a>
  </div>

</div>


<p style='color:#777;font-size:18px'> <strong>Se ainda tiver dúvidas sobre como obter os seus arquivos 3D, entre em contato conosco no email contato@beeprinted.com.br e iremos te ajudar!</strong></p>

</section>




<div class='loader-orcamento' style='display:none'>
  <div class=loader-bee><%=image_tag 'https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/LoadGIF.gif', id:'item-1', style:'margin-left:auto;margin-right:auto;width:100px; margin-bottom:15px', alt:'loader-beeprinted-impressão-3D' %>
    <h3 style='color:#616161'><strong>Enviando arquivos...</strong></h3>
  </div>
</div>





<%= content_for(:javascript) do %>
<script src="https://s3.amazonaws.com/beeprinted-stls/Revisao_Bee7.0/Assets/JS/dropzone.js"></script>


<script>
$(document).ready(function(){
$('.avancadas').click(function(){
    $(this).fadeOut();
    $(this).next().fadeIn();

  });

$('.fechar_avancadas').click(function(){
    $(this).closest(".avancadas_inputs").fadeOut();
    $(this).closest(".avancadas_inputs").prev().fadeIn();

  });
});

</script>



<script>
$(document).ready(function(){
  val = $('#orcamento_array').val();
  Dropzone.autoDiscover = false;
  var ids = [];
  <%if @orcamento.items.any?%>
    <%@orcamento.items.each do |item| %>
      ids.push(<%=item.id%>);
    <%end%>
  <%end%>
  $('#orcamento_array').val(ids);

  console.log("ASNAKD");
  console.log($('#orcamento_array').val());

  $('.deletar-fora').click(function(){ 

    var iddeletar = parseInt($(this).attr('id'));

     $.ajax({
      headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
        type: 'DELETE',
        url: '/item/' + iddeletar,
        success: function(data){
          deletarID = 'deletar-' + iddeletar;
          $('#'+deletarID).hide();
          ids.splice( $.inArray(iddeletar,ids) ,1 );
          $('#orcamento_array').val(ids);
        }
      });
  });
  Dropzone.options.filedrop = {
      init: function () {
        this.on("queuecomplete", function (file) {
            alert("All files have uploaded ");
        });
      }
  };
  // grap our upload form by its id
  $("#new_item").dropzone({
    // restrict image size to a maximum 1MB
    maxFilesize: 60,
    timeout: 0,
    acceptedFiles: ".stl, .STL, .obj, .OBJ",
    // changed the passed param to one accepted by
    // our rails app
    paramName: "item[attachment]",
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    },
    // show remove links on each image upload
    addRemoveLinks: true,
    init: function () {

        this.on("queuecomplete", function (file) {
            $('#button-orcamento').show();
            console.log("Feito upload!");
        });
        this.on("addedfile", function (file) {
            $('#button-orcamento').hide();
            $('#antesdoupload').fadeIn();
            console.log("Adicionado");
            console.log(file);
        });
        this.on("error", function (file, errorMessage) {
            file.previewElement.innerHTML = "";
            var extensao = file.name.split('.').pop();
            if ((extensao != 'stl')&&((extensao != 'STL'))&&((extensao != 'OBJ'))&&(extensao != 'obj')){
              $('#messagem_erro').text("Arquivos "+extensao+" não são suportados. Faça o upload em um dos seguintes formatos: STL ou OBJ. Caso não possua, altere a opção na etapa 1.");
              $('#error_alert').show();
            }
            else{
              $('#messagem_erro').text("Algum erro ocorreu no envio deste arquivo. Por favor tente novamente ou entre em contato em contato@beeprinted.com.br");
              $('#error_alert').show();
            }
        });
      },
    // if the upload was successfu
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
      deletarId = 'deletar-' + response.fileID;
      $(file.previewTemplate).find('.dz-image').parent().attr('id', deletarId);
      ids.push(response.fileID);
      $('#orcamento_array').val(ids);
      // add the dz-success class (the green tick sign)
      $(file.previewElement).addClass("dz-success");
    },
    //when the remove button is clicked
    removedfile: function(file){
      // grap the id of the uploaded file we set earlier
      var id = parseInt($(file.previewTemplate).find('.dz-remove').attr('id'));
      // make a DELETE ajax request to delete the file
      $.ajax({
      	headers: {
        	'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    	},
        type: 'DELETE',
        url: '/item/' + id,
        success: function(data){
          console.log(data.message);
          deletarID = 'deletar-' + id;
          $('#'+deletarID).hide();
          console.log(ids);
          console.log(id);
          ids.splice( $.inArray(id,ids) ,1 );
          $('#orcamento_array').val(ids);
        }
      });
    }
  }); 
});
</script>


<%end%>
