<!doctype html>
<html>

<head>
    <title>Impressão 3D e Prototipagem | BEEPRINTED</title>
    <meta charset=utf-8>
    <meta name="msvalidate.01" content="C2730C7A271697BA8A0F86E1ED368E39" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name=title content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta name=robots content="index, follow">
    <meta name=description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão 3D, modelagem e prototipagem de Brasília.">
    <meta name=keywords content="impressão 3D, prototipagem, modelos 3D, tecnologia, imprima 3D, impressora 3D, imprimir 3D, Brasília, DF, Distrito Federal" />
    <meta name=author content=BEEPRINTED.COM.BR>
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <meta content="ie=edge, chrome=1" http-equiv=x-ua-compatible/>
    <meta name=google-site-verification content=oJ2PyR9oaNsdWXxDUnY615E3gLjjO2Q2ZQEySMCC4IY/>
    <meta property="og:title" content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta property="og:description" content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!" />
    <meta property="og:image" content="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://beeprinted.com.br" />
    <meta property="og:site_name" content="BEEPRINTED" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="fb:app_id" content="187082005107883" />
    <meta name=twitter:card content=summary/>
    <meta name=twitter:title content="Impressão 3D e Prototipagem | BEEPRINTED">
    <meta name=twitter:description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!">
    <meta name=twitter:image content=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png>
    <meta name=twitter:site content=https://beeprinted.com.br>
    <meta name=twitter:url content=https://beeprinted.com.br>
    <meta name=twitter:locale content=pt_BR>
    <link rel=canonical href=https://beeprinted.com.br/>
    <link rel=shortlink href=https://beeprinted.com.br/>
    <link rel=revision href=https://beeprinted.com.br/>
    <link rel="shortcut icon" href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png sizes=32x32 type="image/png" />
    <link rel=apple-touch-icon-precomposed href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=120x120 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=152x152 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />#
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WSRQPVK');
    </script>
    <!--[if lt IE 9]><script src=https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js></script><script src=https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js></script><![endif]-->
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <script>
                var scripts = ["https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/lib-menos-jquery.js", "https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/resto-do-resto6.min.js", "https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/lazy-teste.min.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery.mixitup.min.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/portfolio.js"];
                var stylesheets = ["https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/CSS/bee-final.css", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"];
            </script>
            <style>
.form-control::placeholder {
  color: #323232;  
}

.selector__button {;
    align-items: center;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 23, 0.22);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: #fff;
    font-size: 17px;
}


</style>
            <style>
                .col-lg-5ths {
                    position: relative;
                    min-height: 1px;
                    padding-right: 0px;
                    padding-left: 0px;
                }
                @media (min-width: 1200px) {
                    .col-lg-5ths {
                        width: 20%;
                        float: left;
                    }
                }
            </style>
            <style>
                .feature {
                    padding: 70px 50px 30px 50px;
                    background-image: linear-gradient(151deg, #009fab 10%, #fff 0%)!important
                }
                
                .portfolio {
                    background-image: linear-gradient(201deg, #3F315D 10%, #fff 0%)
                }
                
                .single_feature {
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1)
                }
                
                .single_feature:hover {
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15)
                }
                
                .contato {
                    color: white !important
                }
                
                .contato:hover {
                    color: #009fab !important
                }
                
                @media (max-width:768px) {
                    .feature {
                        padding: 60px 10px 30px 10px;
                        background-image: linear-gradient(151deg, #009fab 17%, #fff 0%)!important
                    }
                    .portfolio {
                        background-image: none
                    }
                    .r2 {
                        width: 100%
                    }
                }
            </style>
            <style>
                .invalid-feedback {
                    color: red
                }
                
                .loader {
                    position: fixed;
                    display: table;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: no-repeat #f9f9f9
                }
                
                .loader-bee {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center
                }
            </style>
            <style>
                .placeholder img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity 1s linear
                }
                
                .clientes img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    cursor: pointer;
                    transition: opacity 1s linear
                }

                @media (max-width:991px) {
                    .grid_item_overlay{
                        padding: 15% 20px 20px !important;
                    }

                    .grid_item_overlay h3{
                        font-size:13px;
                    }
                    .clientes img {
                        position: absolute;
                        width: 110px !important
                    }
                    .clientes.r2 img {
                        width: 80px !important
                    }
                    
                    .clientes.bb img {
                        width: 130px !important
                    }
                    
                    .clientes.ambev img {
                        width: 110px !important
                    }
                    
                    .clientes.icts img {
                        width: 100px !important;
                        padding-top: 15px
                    }
                    
                    .clientes.cri img {
                        width: 130px !important;
                        padding-top: 15px
                    }

                }
                
                .clientes img {
                    position: absolute;
                    width: 150px
                }
                
                .clientes.r2 img {
                    width: 100px
                }
                
                .clientes.bb img {
                    width: 170px
                }
                
                .clientes.ambev img {
                    width: 140px
                }
                
                .clientes.icts img {
                    width: 130px;
                    padding-top: 15px
                }
                
                .clientes.cri img {
                    width: 170px;
                    padding-top: 15px
                }
                
                .placeholder.clientes.nong img {
                    width: 140px
                }
                
                .clientes.indt img {
                    padding-top: 15px
                }
                
                .placeholder.nos img {
                    border-radius: 50%!important;
                    width: 150px
                }
                
                .placeholder img.loaded {
                    opacity: 1
                }
                
                .img-small {
                    filter: blur(50px);
                    transform: scale(1)
                }
                
                .espaco-cliente {
                    padding-bottom: 40%
                }
                
                .espaco-nos {
                    padding-bottom: 66%
                }
                
                @media screen and (max-width:480px) {
                    .espaco-cliente {
                        padding-bottom: 20%
                    }
                    .espaco-nos {
                        padding-bottom: 40%
                    }
                }
            </style>
            <style>
                .portfolio .toolbar {
                    margin-bottom: 50px
                }
                
                .sections {
                    padding-top: 30px;
                    padding-bottom: 60px
                }
                
                .sections.footer {
                    padding-bottom: 80px
                }
                
                .main_feature .single_feature:hover .single_feature_icon {
                    border-color: #009fab;
                    transform: rotate(45deg)
                }
                
                .main_feature .single_feature:hover .single_feature_icon i {
                    transform: rotate(-45deg)
                }
                
                .main_feature .single_feature:hover h3 {
                    color: #009fab
                }
                
                .main_feature .single_feature .single_feature_icon {
                    border: 2px solid #ddd;
                    width: 70px;
                    height: 70px;
                    font-size: 18px;
                    line-height: 70px;
                    margin: 20px auto;
                    transition: all .6s
                }
                
                .main_feature .single_feature i {
                    margin-bottom: 30px;
                    color: #009fab;
                    transition: all .6s
                }
                
                .main_feature .single_feature h3 {
                    transition: all .6s
                }
                
                .main_feature .single_feature p {
                    font-size: 14px
                }
                
                .separator3 {
                    height: 2px;
                    width: 40px;
                    margin: 20px auto;
                    background: #888
                }
                
                .head_title {
                    margin-bottom: 20px
                }
                
                .head_title h3 {
                    color: #413d4b
                }
                
                .head_title .subtitle {
                    margin-top: 30px
                }
                
                .main_history .single_history_content .head_title h2 {
                    border-left: 6px solid #009fab;
                    padding-left: 30px
                }
                
                .main_service .head_title {
                    padding: 100px 0 40px;
                    margin-bottom: 0
                }
                
                .main_service .head_title h2 {
                    margin-right: 12%;
                    border-right: 6px solid #009fab;
                    color: #fff;
                    padding-right: 5%
                }
                
                section .subtitle h5 {
                    margin-top: 10px;
                    font-size: 1.3rem
                }
                
                .separator {
                    width: 10px;
                    height: 10px;
                    margin: 20px auto;
                    background: #009fab;
                    position: relative;
                    display: inline-block;
                    border-radius: 50%
                }
                
                .separator:after,
                .separator:before {
                    position: absolute;
                    bottom: 4px;
                    height: 1px;
                    width: 80px;
                    content: "";
                    display: inline-block;
                    background: #eee
                }
                
                .separator:after {
                    left: 5%;
                    margin-left: 20px
                }
                
                .separator:before {
                    right: 5%;
                    margin-right: 20px
                }
                
                .separator_escuro:after,
                .separator_escuro:before {
                    background: #aaa
                }
                
                button.btn-md {
                    letter-spacing: 1px
                }
                
                .btn-md {
                    background: #999;
                    padding: 1rem 2rem;
                    border: 1px solid transparent
                }
                
                .btn-md.active,
                .btn-md:active {
                    background-image: none;
                    outline: 0;
                    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .125);
                    box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)
                }
                
                button.btn-md:focus {
                    outline: 0;
                    color: #009fab
                }
                
                button.btn-md {
                    text-align: center;
                    color: #444;
                    margin: 0;
                    font-size: .8125rem;
                    border-radius: 0;
                    background-color: transparent;
                    transition: .5s;
                    border: 0 solid #009fab;
                    font-family: montserratregular
                }
                
                button.btn-md:hover {
                    background-color: transparent;
                    color: #009fab;
                    text-decoration: none;
                    border: 0 solid #f4720a
                }
                
                .pricing_business .btn-md,
                .pricing_business .pricing_head {
                    background: #009fab
                }
                
                .single_portfolio {
                    position: relative
                }
                
                .single_portfolio:hover .grid_item_overlay {
                    opacity: 1
                }
                
                .single_portfolio img {
                    -webkit-transform: initial;
                    position: initial
                }
                
                .grid_item_overlay {
                    position: absolute;
                    left: 10%;
                    top: 10%;
                    width: 80%;
                    height: 80%;
                    background: rgba(0, 159, 171, .6);
                    color: #fff;
                    padding: 35% 20px 20px;
                    opacity: 0;
                    transition: .6s;
                    z-index: 99
                }
                
                .grid_item_overlay a i {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border: 1px solid #fff;
                    color: #fff;
                    display: inline-block;
                    background: 0 0
                }
                
                .grid_item_overlay a:hover i {
                    color: #009fab;
                    background: #fff
                }
                
                .separator4 {
                    height: 2px;
                    width: 30px;
                    margin: 20px 0;
                    background: #3F315D
                }
                
                .tile {
                    display: none
                }
                
                .scale-anm {
                    margin-bottom: -6px;
                    width: 100%
                }
                
                .scale-anm:before {
                    content: "";
                    display: block;
                    padding-top: 100%
                }
                
                .tile img {
                    height: auto;
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    border: 0;
                    margin-bottom: 0px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0
                }
                
                #portfoliowork {
                    margin: 1rem 0;
                    -webkit-column-count: 5;
                    -moz-column-count: 5;
                    column-count: 5;
                    -webkit-column-gap: 0;
                    -moz-column-gap: 0;
                    column-gap: 0;
                    -webkit-column-width: 33.33333333333333%;
                    -moz-column-width: 33.33333333333333%;
                    column-width: 33.33333333333333%
                }
                
                .main_service .head_title {
                    padding: 100px 0 40px;
                    margin-bottom: 0
                }
                
                .main_service .head_title h2 {
                    margin-right: 12%;
                    border-right: 6px solid #009fab;
                    color: #fff;
                    padding-right: 5%
                }
                
                .main_service .single_service_img {
                    position: relative;
                    height: 800px
                }
                
                .main_service .single_service_img img {
                    width: 100%;
                    height: 100%
                }
                
                .main_service .single_service.single_service_text {
                    margin-right: 0;
                    background: #202020
                }
                
                .main_service .single_service.single_service_text .single_service_icon i {
                    background: #f4f5f9;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    color: #009fab;
                    position: relative;
                    z-index: 9;
                    border: 5px solid rgba(0, 0, 0, .2);
                    border-radius: 50%;
                    font-size: 1.875rem
                }
                
                .main_service .single_service.single_service_text .single_service_right_text {
                    width: 96%
                }
                
                .main_service .single_service.single_service_text .single_service_right_text h4 {
                    color: #009fab
                }
                
                .main_service .single_service.single_service_text .single_service_right_text p {
                    color: #999;
                    font-family: source_sans_proregular
                }
                
                .no-padding {
                    padding: 0!important;
                    margin: 0!important
                }
                
                .margin-bottom-60 {
                    margin-bottom: 60px
                }
                
                .blog {
                    background: white
                }
                
                .main_blog_content .single_blog_area .single_blog_text {
                    background: #009fab;
                    padding: 70px 30px 70px 50px;
                    position: relative
                }
                
                .main_blog_content .single_blog_area .single_blog_text.s_b_left:after,
                .main_blog_content .single_blog_area .single_blog_text.s_b_right:after {
                    position: absolute;
                    top: 45%;
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent
                }
                
                .main_blog_content .single_blog_area .single_blog_text.s_b_left:after {
                    left: -8%;
                    border-right: 30px solid #009fab
                }
                
                .main_blog_content .single_blog_area .single_blog_text.s_b_right:after {
                    right: -8%;
                    z-index: 9;
                    border-left: 30px solid #009fab
                }
                
                .main_blog_content .single_blog_area .single_blog_text a.read_more {
                    color: #fff
                }
                
                .main_blog_content .single_blog_area .single_blog_img {
                    width: 100%;
                    height: 417px
                }
                
                .main_blog_content .single_blog_area .single_blog_img img {
                    height: 100%
                }
                
                .textwhite {
                    color: #fff
                }
                
                .main_team_area {
                    background-size: cover;
                    position: relative;
                    height: 650px
                }
                
                .main_team_area:before {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: ""
                }
                
                .main_team ul li:nth-child(1),
                .main_team ul li:nth-child(2),
                .main_team ul li:nth-child(3),
                .main_team ul li:nth-child(4),
                .main_team ul li:nth-child(5) {
                    width: 15%;
                    display: inline-block;
                    margin-left: 3%;
                    position: absolute;
                    float: left
                }
                
                .main_team ul li {
                    text-align: center
                }
                
                .main_team ul li:nth-child(1) {
                    left: 1%;
                    top: 96%
                }
                
                .main_team ul li:nth-child(2) {
                    left: 19%;
                    top: 85%
                }
                
                .main_team ul li:nth-child(3) {
                    left: 37%;
                    top: 87%
                }
                
                .main_team ul li:nth-child(4) {
                    left: 55%;
                    top: 97%
                }
                
                .main_team ul li:nth-child(5) {
                    left: 73%;
                    top: 94%
                }
                
                .single_team_img img {
                    -webkit-transform: initial;
                    position: initial
                }
                
                .main_team ul li .single_team_img img {
                    width: 90px;
                    height: 90px;
                    margin: 20px auto;
                    border-radius: 50%;
                    box-shadow: 0 0 0 3px rgba(0, 159, 171, .65)
                }
                
                li:hover .single_team_img img {
                    transform: scale(1.08)
                }
                
                li:hover .single_team_text {
                    opacity: 1
                }
                
                li .single_team_text {
                    padding: 10px 20px;
                    width: 100%;
                    opacity: 0;
                    transition: all .6s;
                    text-align: center;
                    display: block;
                    height: 80px
                }
                
                li .single_team_text h4 {
                    margin-bottom: 0;
                    display: inline-block;
                    text-transform: none;
                    color: #009fab
                }
                
                li .single_team_text p {}
                
                .margin-80,
                .margin-top-80 {
                    margin-top: 80px
                }
                
                .imgcontainer {
                    width: 100%;
                    height: 417px;
                    overflow: hidden;
                    display: inline-block;
                    position: relative
                }
                
                .imgcontainer img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    cursor: pointer
                }
                
                .degrade {
                    transition: 0.5s !important;
                    background-size: 200% auto !important;
                    background-image: linear-gradient(to right, #009fab 0%, #3F315D 51%, #009fab 100%) !important
                }
                
                .degrade:hover {
                    background-position: right center !important
                }
                
                @media (max-width:1400px) {
                    #portfoliowork {
                        margin: 1rem 0;
                        -webkit-column-count: 5;
                        -moz-column-count: 5;
                        column-count: 5
                    }
                }
                
                @media (max-width:1199px) {
                    #portfoliowork {
                        margin: 1rem 0;
                        -webkit-column-count: 5;
                        -moz-column-count: 5;
                        column-count: 5
                    }
                }
                
                @media (max-width:991px) {
                    #portfoliowork {
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2
                    }
                    .main_team ul li:nth-child(1) {
                        top: 86%
                    }
                    .main_team ul li:nth-child(4) {
                        top: 90%
                    }
                    .main_team ul li:nth-child(5) {
                        top: 98%
                    }
                }
                
                @media (max-width:768px) {
                    .main_feature .single_feature {
                        margin-bottom: 40px
                    }
                    .main_history .single_history_content .head_title h2 {
                        border-left: 6px solid #009fab
                    }
                    .main_history .single_history_content .head_title {
                        margin-bottom: 30px
                    }
                    #portfoliowork {
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2
                    }
                    .main_team ul li:nth-child(1),
                    .main_team ul li:nth-child(2),
                    .main_team ul li:nth-child(3) {
                        top: 138%
                    }
                    .main_team ul li:nth-child(4) {
                        top: 150%
                    }
                    .main_team ul li:nth-child(5) {
                        top: 155%
                    }
                    .btn-orcamento {
                        padding: 12px 0px !important;
                        width: 100% !important
                    }
                }
                
                @media (max-width:479px) {
                    .single_service_icon {
                        text-align: center
                    }
                }
            </style>
</head>

<body id=home onload=''>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSRQPVK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id=fb-root></div>
    <div class=loader>
        <div class=loader-bee>
            <%=image_tag 'https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/LoadGIF.gif', id:'item-1', style:'margin-left:auto;margin-right:auto;width:100px', alt:'loader-beeprinted-impressão-3D' %>
        </div>
    </div>
    <%= render 'layouts/navbar' %>
        <header class="masthead video light-typo full-height" style='height:auto;min-height:0'>
            <div class=overlay-bg></div>
            <div class=overlay-bg id="particles-js" style='background-color:transparent; opacity: 1'></div>
            <div class="overlay-bg container" id='testeparticle' style='background-color:transparent; opacity: 1;'>
                <div class="h-100 container" style='height:100%;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;padding:0px'>
                    <div class="col-md-7 text-white">

                        <div class="logo wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; margin:100px 0 40px 0"> 
                            <img src="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/MARCA-fundoEscuro.png" alt="logo" style='width:200px'>
                        </div>

                        <h1 class=title-beeprinted style="font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial sans-serif;text-transform: uppercase;">Design e Impressão 3D</h1>
                        <h2 class="masthead-subtitle" style='font-size:1.3rem;margin:25px 0;'>Desenvolva projetos com a Beeprinted ou envie seu modelos para impressão 3D.</h2> <a title="Peça o seu orçamento" class="btn-orcamento btn btn-store smooth-scroll font-bold degrade" href=<%=new_orcamento_path%> style='margin-right:0px;margin-top:20px; font-size:16px; padding:12px 40px'>PEÇA O SEU ORÇAMENTO</a>
                    </div>
                    <div class="col-md-5 text-center text-white" style='background: rgba(255,255,255,0.2); margin-top:80px !important; margin-bottom:120px !important'>
                    <%= simple_form_for @contato, html: { multipart: true, id:'contact-form' } do |f| %>
                        <h2>Entre em Contato</h2>
                        <div class=form-group>
                                <label class=control-label for=contact-name>Nome</label>
                                <div class=controls>
                                    <input id=contact-name name=contato[name] placeholder=Nome class="form-control input-lg requiredField" type=text>
                                </div>
                            </div>
                            <div class=form-group>
                                <label class=control-label for=contact-mail>Email</label>
                                <div class=controls>
                                    <input id=contact-mail name=contato[email] placeholder=Email class="form-control input-lg requiredField" type=email>
                                </div>
                            </div>
                            <div class=form-group>
                                <label class=control-label for=contact-message>Mensagem</label>
                                <div class=controls>
                                    <textarea id=contact-message name=contato[mensagem] placeholder=Mensagem class="form-control input-lg requiredField" rows=4></textarea>
                                </div>
                            </div>
                            <p>
                                <button name=submit type=submit class="btn btn-store btn-block" style='background-color:#3F315D'>Enviar Mensagem</button>
                            </p>
                            <input type=hidden name=commit id=contato_submit value="Enviar Mensagem">

                    <%end%>
                        
                    </div>
                </div>
            </div>
        </header>
        </section>
        <section id=cta class="padding-top-bottom color-bg light-typo" style='padding:5px;background-color:#e2e2e2;'>
            <div class=container>
                <div class="row text-center">
                    <h2 class=font-bold style=color:#616161>O que você quer imprimir em 3D hoje?</h2></div>
            </div>
        </section>
        <section id="feature" class="feature">
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''> <img alt='brindes corporativos impressão 3D' class="lazyload fadeInUp r2" src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/back.png' data-src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/r23.png'>
                    <h4 class='font-bold' style='margin:46px 0px 16px 0px; color:#616161;'>BRINDES CORPORATIVOS</h4>
                    <p style='line-height:1.3; color:#818181; font-size:18px'>Crie brindes personalizados exclusivos para presentear clientes e colaboradores.</p>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''> <img alt='trofeus impressão 3D' class="lazyload fadeInUp" src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/back.png' data-src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/trofeus.png'>
                    <h4 class='font-bold' style='margin:46px 0px 16px 0px; color:#616161'>TROFÉUS IMPRESSOS EM 3D</h4>
                    <p style='line-height:1.3; color:#818181; font-size:18px'>Torne a sua premiação ainda mais especial explorando designs modernos e criativos usando processos de produção digital diversos.</p>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''> <img alt='maquetes impressão 3D' class="lazyload fadeInUp" src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/back.png' data-src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/maquete2.png'>
                    <h4 class='font-bold' style='margin:46px 0px 16px 0px; color:#616161;'>MAQUETES IMPRESSAS EM 3D</h4>
                    <p style='line-height:1.3; color:#818181; font-size:18px'>Projetos universitários ou comerciais. Otimizamos seu projeto de acordo com o seu objetivo.</p>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''> <img alt='prototipagem impressão 3D' class="lazyload fadeInUp" src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/back.png' data-src='https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Categorias/zepellin.png'>
                    <h4 class='font-bold' style='margin:46px 0px 16px 0px; color:#616161; font-weight:900'>PROTOTIPAGEM</h4>
                    <p style='line-height:1.3; color:#818181; font-size:18px'>Conte com a nossa expertise em Design de Produto e processos diversos de impressão 3D para tirar a sua ideia do papel!</p>
                </div>
            </div>
        </section>
        <div class='lazyload' data-src='https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/poly-min.png' style='background: #009fab repeat center center; padding-top: 50px; padding-bottom: 50px;box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);margin-top:50px;'>
            <div class="container text-center"> <a title="Peça o seu Orçamento" class="btn-orcamento btn btn-store smooth-scroll font-bold" href=<%=new_orcamento_path%> style='margin-right:0px; font-size:16px; padding:12px 40px;background-color:#3F315D'>PEÇA O SEU ORÇAMENTO</a></div>
        </div>
        <section id="portfolio" class="portfolio sections" style='padding-bottom:0px;padding-top:90px'>
            <div class="container-fluid">
                <div class="row">
                    <div class="main_portfolio">
                        <div class="col-sm-12">
                            <div class="head_title text-center">
                                <h3 style='color:#777'><strong>MAIS DE 1000 PROJETOS REALIZADOS</strong></h3>
                                <div class="separator"></div>
                            </div>
                        </div>
                        <div id="row" style='margin-bottom:0px'>
                            <% @portfolio.each do |portfolio|%>
                                <div class="col-lg-5ths col-xs-6 col-sm-6 single_portfolio"> 
                                    <img class="lazyload" style='width:100%' src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=portfolio.images.first.attachment.url(:thumb)%> alt=
                                    <%=portfolio.caption%>>
                                    <div class="grid_item_overlay">
                                        <div class="separator4"></div>
                                        <h3><%=portfolio.caption%></h3>
                                            
                                        </p>
                                    </div>
                                </div>
                                <%end%>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </section>
        <section style='padding-bottom:0px;padding-top:90px'>

             <div class="container-fluid">
                <div class="row">
                    <div class="main_portfolio">
                        <div class="col-sm-12" style='margin-bottom:100px'>
                            <div class="head_title text-center">
                                <h2 style='color:#777'><strong>COMO NÓS TRABALHAMOS</strong></h2>
                                <div class="separator"></div>
                            </div>
                        </div>
                        <div class='container'>
                        <div class='row' style='color:#009fab;margin-bottom:100px'>
                            <div class='col-lg-5ths text-center'>
                            <i class="fa fa-lightbulb-o" aria-hidden="true" style='font-size:100px;'></i>
                            <h2><strong>Briefing</strong></h2>
                            </div>
                            <div class='col-lg-5ths text-center'>
                            <i class="fa fa-pencil" aria-hidden="true" style='font-size:100px;'></i>
                            <h2><strong>Esboço</strong></h2>
                            </div>
                            <div class='col-lg-5ths text-center'>
                            <i class="fa fa-desktop" aria-hidden="true" style='font-size:100px;'></i>
                            <h2><strong>Design</strong></h2>
                            </div>
                            <div class='col-lg-5ths text-center'>
                            <i class="fa fa-cube" aria-hidden="true" style='font-size:95px;'></i>
                            <h2><strong>Produção</strong></h2>
                            </div>
                            <div class='col-lg-5ths text-center'>
                            <i class="fa fa-envelope-open-o" aria-hidden="true" style='font-size:95px;'></i>
                           <h2><strong>Entrega</strong></h2>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <div class="padding-top-bottom light-typo color-bg lazyload" data-src='https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/poly-min.png' style='padding-bottom:100px;background: #009fab repeat center center;box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);'>
            <div class=container>
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <h2>EMPRESAS QUE CONFIAM NA BEE</h2>
                        <div class="separator" style='background-color:white'></div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up" style=''>
                        <a href=https://www.bb.com.br/ title="Banco do Brasil" class='clientes bb'><img alt=bb-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/bb.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up" style=''>
                        <a href=https://www.ambev.com.br/ title="Cervejaria Ambev" class='clientes ambev'><img alt=ambev-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/ambev.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up" style=''>
                        <a href=https://www.cir.com.br/ title="Hospital Odontológico CIR" class='clientes cri'><img alt=cir-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/cir.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up" style=''>
                        <a href=http://www.grupoicts.com.br/ title="Grupo ICTS" class='clientes icts'><img alt=icts-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/icts.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up" style=''>
                        <a href=https://www.loopkey.com.br/ title="LoopKey - Computer Engineering" class='clientes loop'><img alt=loop-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/loop-logo.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up d2" style='padding-top:10px'>
                        <a href=https://www.nong.com.br/ title="Nong Drones" class='clientes nong'><img alt=nong-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/nong-drones2.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up d2" style='padding-top:10px'>
                        <a href=http://macofren.com/ title='Macofren - Tecnologias Químicas' class='clientes'><img alt=macofren-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/macofren-logo.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up d2">
                        <a href=http://www.invisual.com.br/ title='Invisual - Tecnologia e Inteligência de Negócio' data-large='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png' class='clientes'><img alt=invisual-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-xs-6 col-sm-6 anima news fade-up d2">
                        <a href=http://www.wi.com.br title='Wise - Indústria de Telecomunicações' class='clientes loop'><img alt=wise-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/wise-logo.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 anima news fade-up d2">
                        <a href=https://producoesr2.com.br/ title='R2 Produções' class='clientes r2'><img alt=R2-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/r2-logo2.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 news anima fade-up d2">
                        <a href=http://www.indt.org.br/ title='INDT' class='clientes indt'><img alt=indt-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/indt.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 anima news fade-up d2">
                        <a href=http://www.spi-integradora.com.br/ title='SPI Integradora' class='clientes'><img alt=spi-client-impressão-3D src='' class="wow fadeInUp beeteam3 img-small"><img alt=spi-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/spi-logo.png'>
                            <div class='espaco-cliente'></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section id=cta class="padding-top-bottom color-bg light-typo" style='padding:20px;background-color:white; border-bottom: 1px solid rgba(0, 0, 18, 0.13);box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);'>
            <div class="container" style='margin-top:60px; margin-bottom:40px'>
                <div class="col-sm-12">
                            <div class="head_title text-center">
                                <h2 style='color:#777'><strong>FAÇA O SEU ORÇAMENTO <strong style='color:#009fab'>ONLINE</strong> AGORA</strong></h2>
                                <div class="separator"></div>
                            </div>
                        </div>
              <div class="header">
                <h4 class="text-muted"><strong style='color:#009fab'>1.</strong> Você já possui os arquivos em 3D nas extensões STL ou OBJ?</h4>
              </div> 

              <div class='row ' style='margin-bottom:20px'>
                <div class='col-lg-6' style='padding-top: 1.5rem;'>
                <button class='selector__button text-muted' style='width:100%' onClick='$(".orcamento").hide();$(".modelagem").fadeIn();$("#setinha-pra-baixo").fadeIn();'>
                  <span>Ainda não! Não possuo os arquivos ou estão em outro formato.</span>
                  <span class='modelagem' style='float:right;color:#009fab;<%unless @modelagem_check%>display:none<%end%>'>
                    <i class="fa fa-check" aria-hidden="true" style='font-size:22px'></i>
                  </span>
                </button>
                </div>
                <div class='col-lg-6' style='padding-top: 1.5rem;'>
                <button class='selector__button text-muted' style='width:100%' onClick='$(".modelagem").hide();$(".orcamento").fadeIn();$("#setinha-pra-baixo").fadeIn()'>
                  <span>Sim! Eu já possuo os arquivos em formato .STL ou .OBJ.</span>
                  <span class='orcamento' style='float:right;color:#009fab;<%unless @orcamento_check%>display:none<%end%>'>
                    <i class="fa fa-check" aria-hidden="true" style='font-size:22px'></i>
                  </span>
                </button>
                </div>
              
              </div>
            </div>
            <div class="container text-center" id='setinha-pra-baixo' style='display:none'>
                <strong><i class="fa fa-chevron-down" aria-hidden="true" style='color:#009fab'></i></strong>

            </div>
        </section>
        <section style='background-color:#f2f2f2;'>

            <div class="container orcamento" style='margin-top:40px; margin-bottom:20px;<%unless @orcamento_check%>display:none<%end%>'>


              <div class="header" style='margin-bottom:30px'>
                <h4 class="text-muted"><strong style='color:#009fab'>2.</strong> Faça o upload dos arquivos e descreva seu projeto</h4>
              </div> 
              <%= form_for(@arquivo, html: { multipart: true, novalidate:false, class: "dropzone", style:'border-radius:20px; border: 0px solid #009fab;box-shadow: 2px 2px #d2d2d2'}, remote:true) do |f|  %>
                <div class="dz-default dz-message" style='color:#009fab'><p><i class="fa fa-cloud-upload" style='font-size:64px'></i></p>
                  <p><span><strong>Selecione ou arraste e solte arquivos STL ou OBJ para o seu projeto aqui</strong></span></p>
                </div>

                <div class="fallback", style='display:none'>
                  <%= f.file_field :attachment %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>
              <%if @orcamento.arquivos.any?%>
                <div class='dropzone' style='background-color:transparent;padding:0px;border:0px'>
                  <%@orcamento.arquivos.each do |arquivo| %>
                   <div class="dz-preview dz-file-preview dz-processing dz-success dz-complete" id="deletar-<%=arquivo.id%>">
                    <div class="dz-image">
                        <img data-dz-thumbnail="">
                      </div>
                      <div class="dz-details">
                        <div class="dz-size">
                          <span data-dz-size="">
                            <strong><%='%.1f' % (arquivo.attachment.file.size/1000).round(1)%></strong> KB
                          </span>
                        </div>
                        <div class="dz-filename">
                          <span data-dz-name=""><%=File.basename(arquivo.attachment.path)%></span>
                        </div>  
                      </div>
                      <div class="dz-progress">
                        <span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
                      </div>
                      <div class="dz-error-message">
                        <span data-dz-errormessage=""></span>
                      </div>  
                      <a class="dz-remove deletar-fora" href="javascript:undefined;" data-dz-remove="" id="<%=arquivo.id%>">Remover arquivo</a></div>
                  <%end%>
                  </div>
              <%end%>


              <%= simple_form_for @orcamento, html: { multipart: true, class:'' },style:'color:#616161' do |f| %>
                <%= f.error_notification%>
                <div class=w3-center><%= f.input :array, label: false,input_html:{style:'display:none'} %>
                </div>

                <div class="" style='margin-top:40px'>
                  <h4 class="text-muted"><strong style='color:#009fab'>3.</strong> Descreva o seu projeto</h4>
                </div>


                <div id='antesdoupload' style=''>
                    <div class="form-group text-center" id="formgroup2">
                      <%= f.input :description, label: false, placeholder: 'Características, cor, tipo de material, preferências nas técnicas de prototipagem e/ou qualquer dúvida...' , :input_html =>{:rows => "5"}%>
                    </div>
                </div>

                <div class="" style='margin-top:40px'>
                  <h4 class="text-muted"><strong style='color:#009fab'>4.</strong>  Passe suas informações</h4>
                </div>

                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px; padding-right:30px; color:#777'>
                  Nome Completo:<%= f.input :name, label:false, placeholder:"Escreva seu nome",:input_html=>{style:'color:#777;'} %>
                </div>
                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:20px; color:#777'>
                  Email:<%= f.input :email, placeholder:"Escreva seu email", label:false,:input_html=>{style:'color:#777'} %>
                </div>


                <div style='text-align:right; margin-bottom: 15px'>
                  <%=f.submit "Enviar Pedido de Orçamento", style:"font-weight:bold; font-size:16px; padding:15px", class:"btn btn-default dropdown-toggle font-bold w3-center", id:'button-orcamento' %>
                </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              <%end%>
            </div>

            <div class="container modelagem" style='margin-top:40px; margin-bottom:20px;<%unless @modelagem_check%>display:none<%end%>'>

              <div class="header" style='margin-bottom:30px'>
                <h4 class="text-muted"><strong style='color:#009fab'>2.</strong> Faça o upload de arquivos de referência (opcional)</h4>
              </div> 
              <%= form_for(@reference, html: { multipart: true, novalidate:false, class: "dropzone", style:'border-radius:20px; border: 0px solid #009fab;box-shadow: 2px 2px #d2d2d2'}, remote:true) do |f|  %>
                <div class="dz-default dz-message" style='color:#009fab'><p><i class="fa fa-cloud-upload" style='font-size:64px'></i></p>
                  <p><span><strong>Selecione ou arraste e solte arquivos de referência para o seu projeto aqui</strong></span></p>
                </div>

                <div class="fallback", style='display:none'>
                  <%= f.file_field :attachment %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>

              <%if @modeling.references.any?%>
                <div class='dropzone' style='background-color:transparent;padding:0px;border:0px'>
                  <%@modeling.references.each do |reference| %>
                   <div class="dz-preview dz-file-preview dz-processing dz-success dz-complete" id="deletar-<%=reference.id%>">
                    <div class="dz-image">
                        <img data-dz-thumbnail="">
                      </div>
                      <div class="dz-details">
                        <div class="dz-size">
                          <span data-dz-size="">
                            <strong><%='%.1f' % (reference.attachment.file.size/1000).round(1)%></strong> KB
                          </span>
                        </div>
                        <div class="dz-filename">
                          <span data-dz-name=""><%=File.basename(reference.attachment.path)%></span>
                        </div>  
                      </div>
                      <div class="dz-progress">
                        <span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
                      </div>
                      <div class="dz-error-message">
                        <span data-dz-errormessage=""></span>
                      </div>  
                      <a class="dz-remove deletar-fora" href="javascript:undefined;" data-dz-remove="" id="<%=reference.id%>">Remover arquivo</a></div>
                  <%end%>
                </div>
              <%end%>

              <%= simple_form_for @modeling, html: { multipart: true, class:'' },style:'color:#616161' do |f| %>
                <%= f.error_notification%>
                <div class=w3-center>
                  <%= f.input :array, label: false,input_html:{style:'display:none'} %>
                </div>
                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px'>
                  <div class="header" style='margin-top:30px'>
                    <h4 class="text-muted"><strong style='color:#009fab'>3.</strong> O que é o seu projeto?</h4>
                  </div>
                  <%= f.input :tipo, label:false, prompt:"O que é o projeto", :collection => ["Protótipo", "Brindes", "Troféus","Maquete", "Mascote", "Reprodução de Peças","Jóias", "Outros"],:input_html=>{style:'width:80%;color:#777'} %>
                </div>
                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:20px'>
                  <div class="header" style='margin-top:30px'>
                    <h4 class="text-muted"><strong style='color:#009fab'>4.</strong> Para quando você precisa desse serviço?</h4>
                  </div>

                  <%= f.input :prazo, prompt:"Prazo para produção", label:false, :collection => ["Hoje ou nos próximos dias", "Nos próximos 30 dias", "Nos próximos 3 meses", "Ainda não tenho previsão"],:input_html=>{style:'width:80%;color:#777'} %>
                </div>
                
                <div class="" style='margin-top:40px'>
                  <h4 class="text-muted"><strong style='color:#009fab'>5.</strong> Descreva o seu projeto</h4>
                </div>

                <div id='antesdoupload' style=''>
                    <div class="form-group text-center" id="formgroup2">
                      <%= f.input :description, label: false, placeholder: 'Características, cor, tipo de material, preferências nas técnicas de prototipagem e/ou qualquer dúvida...' , :input_html =>{:rows => "5"}%>
                    </div>
                </div>
                <div class="" style='margin-top:40px'>
                  <h4 class="text-muted"><strong style='color:#009fab'>6.</strong>  Passe suas informações</h4>
                </div>

                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:0px; padding-right:30px; color:#777'>
                  Nome Completo:<%= f.input :name, label:false, placeholder:"Escreva seu nome",:input_html=>{style:'color:#777;'} %>
                </div>
                <div class="col-md-6 col-sm-12 no-padding" style='float:left;padding:0px;margin-bottom:20px; color:#777'>
                  Email:<%= f.input :email, placeholder:"Escreva seu Email", label:false,:input_html=>{style:'color:#777'} %>
                </div>


                <div style='text-align:right; margin-bottom: 15px'>
                  <%=f.submit "Enviar Pedido de Orçamento", style:"font-weight:bold; font-size:16px; padding:15px", class:"btn btn-default dropdown-toggle font-bold w3-center", id:'button-orcamento' %>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              <%end%>
            </div>
        </section>
        <section id=cta class="padding-top-bottom color-bg light-typo" style='padding:60px;background-color:#545454; border-bottom: 1px solid rgba(0, 0, 18, 0.13);box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);'>

            <div class="container text-center">
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <h2 style='margin:20px'><i class="fa fa-map-marker" aria-hidden="true" style='color:#009fab'><strong></i> COMO CHEGAR?</strong></h2>
                    </div>
                </div>
                <p style='margin:0px'><strong>EQN 406/407, Asa Norte, Edifício Salim Bittar, Sl. 125</strong></p>
                <p><strong>Brasília-DF 70847-400</strong></p>
                <img src="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/MARCA-fundoEscuro.png" alt="logo" style='width:200px'>
                <p><i class="fa fa-instagram" aria-hidden="true" style='padding:10px'></i> <i class="fa fa-facebook" aria-hidden="true" style='padding:10px'></i> <i class="fa fa-whatsapp" aria-hidden="true" style='padding:10px'></i></p>
            </div>

        </section>
        <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js"></script>
        <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/modernizr-custom-min.js" defer></script>
        <script src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/load_assets.js" defer></script>
        <script src="https://s3.amazonaws.com/beeprinted-stls/Revisao_Bee7.0/Assets/JS/dropzone.js"></script>
<script>
$(document).ready(function(){
  val = $('#orcamento_array').val();
  Dropzone.autoDiscover = false;
  var ids = [];
  <%if @orcamento.arquivos.any?%>
    <%@orcamento.arquivos.each do |arquivo| %>
      ids.push(<%=arquivo.id%>);
    <%end%>
  <%end%>
  $('#orcamento_array').val(ids);

  console.log("ASNAKD");
  console.log($('#orcamento_array').val());

  $('.deletar-fora').click(function(){ 

    var iddeletar = parseInt($(this).attr('id'));

     $.ajax({
      headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
        type: 'DELETE',
        url: '/arquivo/' + iddeletar,
        success: function(data){
          deletarID = 'deletar-' + iddeletar;
          $('#'+deletarID).hide();
          ids.splice( $.inArray(iddeletar,ids) ,1 );
          $('#orcamento_array').val(ids);
        }
      });
  });
  Dropzone.options.filedrop = {
      init: function () {
        this.on("queuecomplete", function (file) {
            alert("All files have uploaded ");
        });
      }
  };
  // grap our upload form by its id
  $("#new_arquivo").dropzone({
    // restrict image size to a maximum 1MB
    maxFilesize: 60,
    timeout: 0,
    // changed the passed param to one accepted by
    // our rails app
    paramName: "arquivo[attachment]",
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    },
    // show remove links on each image upload
    addRemoveLinks: true,
    init: function () {

        this.on("queuecomplete", function (file) {
            $('#button-orcamento').show();
            console.log("Feito upload!");
        });
        this.on("addedfile", function (file) {
            $('#button-orcamento').hide();
            $('#antesdoupload').fadeIn();
            console.log("Adicionado");
        });
      },
    // if the upload was successful
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
      deletarId = 'deletar-' + response.fileID;
      $(file.previewTemplate).find('.dz-image').parent().attr('id', deletarId);
      ids.push(response.fileID);
      $('#orcamento_array').val(ids);
      console.log($('#orcamento_array').val());
      // add the dz-success class (the green tick sign)
      $(file.previewElement).addClass("dz-success");
    },
    //when the remove button is clicked
    removedfile: function(file){
      // grap the id of the uploaded file we set earlier
      var id = parseInt($(file.previewTemplate).find('.dz-remove').attr('id'));
      // make a DELETE ajax request to delete the file
      $.ajax({
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        type: 'DELETE',
        url: '/arquivo/' + id,
        success: function(data){
          console.log(data.message);
          deletarID = 'deletar-' + id;
          $('#'+deletarID).hide();
          console.log(ids);
          console.log(id);
          ids.splice( $.inArray(id,ids) ,1 );
          $('#orcamento_array').val(ids);
        }
      });
    }
  }); 
});
</script>






<script>
$(document).ready(function(){
  val = $('#modeling_array').val();
  Dropzone.autoDiscover = false;
  var ids = [];
  <%if @modeling.references.any?%>
    <%@modeling.references.each do |reference| %>
      ids.push(<%=reference.id%>);
    <%end%>
  <%end%>
  $('#modeling_array').val(ids);

  console.log("ASNAKD");
  console.log($('#modeling_array').val());

  $('.deletar-fora').click(function(){ 

    var iddeletar = parseInt($(this).attr('id'));

     $.ajax({
      headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
        type: 'DELETE',
        url: '/reference/' + iddeletar,
        success: function(data){
          deletarID = 'deletar-' + iddeletar;
          $('#'+deletarID).hide();
          ids.splice( $.inArray(iddeletar,ids) ,1 );
          $('#modeling_array').val(ids);
        }
      });
  });
  Dropzone.options.filedrop = {
      init: function () {
        this.on("queuecomplete", function (file) {
            alert("All files have uploaded ");
        });
      }
  };
  // grap our upload form by its id
  $("#new_reference").dropzone({
    // restrict image size to a maximum 1MB
    maxFilesize: 60,
    timeout: 0,
    // changed the passed param to one accepted by
    // our rails app
    paramName: "reference[attachment]",
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    },
    // show remove links on each image upload
    addRemoveLinks: true,
    init: function () {

        this.on("queuecomplete", function (file) {
            $('#button-orcamento').show();
            console.log("Feito upload!");
        });
        this.on("addedfile", function (file) {
            $('#button-orcamento').hide();
            $('#antesdoupload').fadeIn();
            console.log("Adicionado");
        });
      },
    // if the upload was successful
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $(file.previewTemplate).find('.dz-remove').attr('id', response.fileID);
      deletarId = 'deletar-' + response.fileID;
      $(file.previewTemplate).find('.dz-image').parent().attr('id', deletarId);
      ids.push(response.fileID);
      $('#modeling_array').val(ids);
      console.log($('#modeling_array').val());
      // add the dz-success class (the green tick sign)
      $(file.previewElement).addClass("dz-success");
    },
    //when the remove button is clicked
    removedfile: function(file){
      // grap the id of the uploaded file we set earlier
      var id = parseInt($(file.previewTemplate).find('.dz-remove').attr('id'));
      // make a DELETE ajax request to delete the file
      $.ajax({
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
        type: 'DELETE',
        url: '/reference/' + id,
        success: function(data){
          console.log(data.message);
          deletarID = 'deletar-' + id;
          $('#'+deletarID).hide();
          console.log(ids);
          console.log(id);
          ids.splice( $.inArray(id,ids) ,1 );
          $('#reference_array').val(ids);
        }
      });
    }
  }); 
});
</script>
</body>

</html>