<!doctype html>
<html>

<head>
    <title>Impressão 3D e Prototipagem | BEEPRINTED</title>
    <meta charset=utf-8>
    <meta name="msvalidate.01" content="C2730C7A271697BA8A0F86E1ED368E39" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name=title content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta name=robots content="index, follow">
    <meta name=description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão 3D, modelagem e prototipagem de Brasília.">
    <meta name=keywords content="impressão 3D, prototipagem, modelos 3D, tecnologia, imprima 3D, impressora 3D, imprimir 3D, Brasília, DF, Distrito Federal" />
    <meta name=author content=BEEPRINTED.COM.BR>
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <meta content="ie=edge, chrome=1" http-equiv=x-ua-compatible/>
    <meta name=google-site-verification content=oJ2PyR9oaNsdWXxDUnY615E3gLjjO2Q2ZQEySMCC4IY/>
    <meta property="og:title" content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta property="og:description" content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!" />
    <meta property="og:image" content="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://beeprinted.com.br" />
    <meta property="og:site_name" content="BEEPRINTED" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta name=twitter:card content=summary/>
    <meta name=twitter:title content="Impressão 3D e Prototipagem | BEEPRINTED">
    <meta name=twitter:description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!">
    <meta name=twitter:image content=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png>
    <meta name=twitter:site content=https://beeprinted.com.br>
    <meta name=twitter:url content=https://beeprinted.com.br>
    <meta name=twitter:locale content=pt_BR>
    <link rel=canonical href=https://beeprinted.com.br/>
    <link rel=shortlink href=https://beeprinted.com.br/>
    <link rel=revision href=https://beeprinted.com.br/>
    <link rel="shortcut icon" href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png sizes=32x32 type="image/png" />
    <link rel=apple-touch-icon-precomposed href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=120x120 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=152x152 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <!--[if lt IE 9]><script src=https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js></script><script src=https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js></script><![endif]-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
        var scripts = ["https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/lib-menos-jquery.js", "https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/resto-do-resto6.min.js", "https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/lazy-teste.min.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery.mixitup.min.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/portfolio.js", "https://www.googletagmanager.com/gtag/js?id=UA-109193035-1"];
        var stylesheets = ["https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/CSS/bee-certo-mesmo.min.css","https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/CSS/apagar-gif.css","https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"];
    </script>
    <style>
    .contato{
        color:white !important;
    }
    .contato:hover{
        color:#009fab !important;
    }
    </style>
    <style>
        .loader {
            position: fixed;
            display: table;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: no-repeat #f9f9f9
        }
        
        .loader-bee {
            display: table-cell;
            vertical-align: middle;
            text-align: center
        }
    </style>
    <style>
        .placeholder img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            opacity: 0;
            transition: opacity 1s linear;
        }
        
        .clientes img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            transition: opacity 1s linear;
        }
        
        .clientes img {
            position: absolute;
            width: 150px;
        }
        
        .clientes.r2 img {
            width: 100px;
        }
        
        .clientes.bb img {
            width: 170px;
        }
        
        .clientes.ambev img {
            width: 140px;
        }
        
        .clientes.icts img {
            width: 130px;
            padding-top: 15px;
        }
        
        .clientes.cri img {
            width: 170px;
            padding-top: 15px;
        }
        
        .placeholder.clientes.nong img {
            width: 140px;
        }
        
        .clientes.indt img {
            padding-top: 15px;
        }
        
        .placeholder.nos img {
            border-radius: 50%!important;
            width: 150px;
        }
        
        .placeholder img.loaded {
            opacity: 1;
        }
        
        .img-small {
            filter: blur(50px);
            transform: scale(1);
        }
        
        .espaco-cliente {
            padding-bottom: 40%;
        }
        
        .espaco-nos {
            padding-bottom: 66%;
        }
        
        @media screen and (max-width:480px) {
            .espaco-cliente {
                padding-bottom: 20%;
            }
            .espaco-nos {
                padding-bottom: 40%;
            }
        }
    </style>
    <style>
        .portfolio .toolbar {
            margin-bottom: 50px
        }
        
        .sections {
            padding-top: 30px;
            padding-bottom: 60px
        }
        
        .sections.footer {
            padding-bottom: 80px
        }
        
        .main_feature .single_feature:hover .single_feature_icon {
            border-color: #009fab;
            transform: rotate(45deg)
        }
        
        .main_feature .single_feature:hover .single_feature_icon i {
            transform: rotate(-45deg)
        }
        
        .main_feature .single_feature:hover h3 {
            color: #009fab
        }
        
        .main_feature .single_feature .single_feature_icon {
            border: 2px solid #ddd;
            width: 70px;
            height: 70px;
            font-size: 18px;
            line-height: 70px;
            margin: 20px auto;
            transition: all .6s
        }
        
        .main_feature .single_feature i {
            margin-bottom: 30px;
            color: #009fab;
            transition: all .6s
        }
        
        .main_feature .single_feature h3 {
            transition: all .6s
        }
        
        .main_feature .single_feature p {
            font-size: 14px;
        }
        
        .separator3 {
            height: 2px;
            width: 40px;
            margin: 20px auto;
            background: #888
        }
        
        .head_title {
            margin-bottom: 20px
        }
        
        .head_title h3 {
            color: #413d4b
        }
        
        .head_title .subtitle {
            margin-top: 30px
        }
        
        .main_history .single_history_content .head_title h2 {
            border-left: 6px solid #009fab;
            padding-left: 30px
        }
        
        .main_service .head_title {
            padding: 100px 0 40px;
            margin-bottom: 0
        }
        
        .main_service .head_title h2 {
            margin-right: 12%;
            border-right: 6px solid #009fab;
            color: #fff;
            padding-right: 5%
        }
        
        section .subtitle h5 {
            margin-top: 10px;
            font-size: 1.3rem
        }
        
        .separator {
            width: 10px;
            height: 10px;
            margin: 20px auto;
            background: #009fab;
            position: relative;
            display: inline-block;
            border-radius: 50%
        }
        
        .separator:after,
        .separator:before {
            position: absolute;
            bottom: 4px;
            height: 1px;
            width: 80px;
            content: "";
            display: inline-block;
            background: #eee
        }
        
        .separator:after {
            left: 5%;
            margin-left: 20px
        }
        
        .separator:before {
            right: 5%;
            margin-right: 20px
        }
        
        .separator_escuro:after,
        .separator_escuro:before {
            background: #aaa
        }
        
        button.btn-md {
            letter-spacing: 1px
        }
        
        .btn-md {
            background: #999;
            padding: 1rem 2rem;
            border: 1px solid transparent
        }
        
        .btn-md.active,
        .btn-md:active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .125);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)
        }
        
        button.btn-md:focus {
            outline: 0;
            color: #009fab
        }
        
        button.btn-md {
            text-align: center;
            color: #444;
            margin: 0;
            font-size: .8125rem;
            border-radius: 0;
            background-color: transparent;
            transition: .5s;
            border: 0 solid #009fab;
            font-family: montserratregular
        }
        
        button.btn-md:hover {
            background-color: transparent;
            color: #009fab;
            text-decoration: none;
            border: 0 solid #f4720a
        }
        
        .pricing_business .btn-md,
        .pricing_business .pricing_head {
            background: #009fab
        }
        
        .single_portfolio {
            position: relative
        }
        
        .single_portfolio:hover .grid_item_overlay {
            opacity: 1
        }
        
        .single_portfolio img {
            -webkit-transform: initial;
            position: initial;
        }
        
        .grid_item_overlay {
            position: absolute;
            left: 10%;
            top: 10%;
            width: 80%;
            height: 80%;
            background: rgba(0, 159, 171, .6);
            color: #fff;
            padding: 35% 20px 20px;
            opacity: 0;
            transition: .6s;
            z-index: 99
        }
        
        .grid_item_overlay a i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #fff;
            color: #fff;
            display: inline-block;
            background: 0 0
        }
        
        .grid_item_overlay a:hover i {
            color: #009fab;
            background: #fff
        }
        
        .separator4 {
            height: 2px;
            width: 30px;
            margin: 20px 0;
            background: #3F315D
        }
        
        .tile {
            display: none
        }
        
        .scale-anm {
            margin-bottom: -6px;
            width: 100%
        }
        
        .scale-anm:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        
        .tile img {
            height: auto;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            border: 0;
            margin-bottom: 0px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        
        #portfoliowork {
            margin: 1rem 0;
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5;
            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;
            -webkit-column-width: 33.33333333333333%;
            -moz-column-width: 33.33333333333333%;
            column-width: 33.33333333333333%
        }
        
        .main_service .head_title {
            padding: 100px 0 40px;
            margin-bottom: 0
        }
        
        .main_service .head_title h2 {
            margin-right: 12%;
            border-right: 6px solid #009fab;
            color: #fff;
            padding-right: 5%
        }
        
        .main_service .single_service_img {
            position: relative;
            height: 800px;
        }
        
        .main_service .single_service_img img {
            width: 100%;
            height: 100%
        }
        
        .main_service .single_service.single_service_text {
            margin-right: 0;
            background: #202020
        }
        
        .main_service .single_service.single_service_text .single_service_icon i {
            background: #f4f5f9;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            color: #009fab;
            position: relative;
            z-index: 9;
            border: 5px solid rgba(0, 0, 0, .2);
            border-radius: 50%;
            font-size: 1.875rem
        }
        
        .main_service .single_service.single_service_text .single_service_right_text {
            width: 96%
        }
        
        .main_service .single_service.single_service_text .single_service_right_text h4 {
            color: #009fab
        }
        
        .main_service .single_service.single_service_text .single_service_right_text p {
            color: #999;
            font-family: source_sans_proregular
        }
        
        .no-padding {
            padding: 0!important;
            margin: 0!important
        }
        
        .margin-bottom-60 {
            margin-bottom: 60px
        }
        
        .blog {
            background: white
        }
        
        .main_blog_content .single_blog_area .single_blog_text {
            background: #009fab;
            padding: 70px 30px 70px 50px;
            position: relative
        }
        
        .main_blog_content .single_blog_area .single_blog_text.s_b_left:after,
        .main_blog_content .single_blog_area .single_blog_text.s_b_right:after {
            position: absolute;
            top: 45%;
            content: "";
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent
        }
        
        .main_blog_content .single_blog_area .single_blog_text.s_b_left:after {
            left: -8%;
            border-right: 30px solid #009fab
        }
        
        .main_blog_content .single_blog_area .single_blog_text.s_b_right:after {
            right: -8%;
            z-index: 9;
            border-left: 30px solid #009fab
        }
        
        .main_blog_content .single_blog_area .single_blog_text a.read_more {
            color: #fff
        }
        
        .main_blog_content .single_blog_area .single_blog_img {
            width: 100%;
            height: 417px;
        }
        
        .main_blog_content .single_blog_area .single_blog_img img {
            height: 100%
        }
        
        .textwhite {
            color: #fff
        }
        
        .main_team_area {
            background-size: cover;
            position: relative;
            height: 650px
        }
        
        .main_team_area:before {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
        }
        
        .main_team ul li:nth-child(1),
        .main_team ul li:nth-child(2),
        .main_team ul li:nth-child(3),
        .main_team ul li:nth-child(4),
        .main_team ul li:nth-child(5) {
            width: 15%;
            display: inline-block;
            margin-left: 3%;
            position: absolute;
            float: left
        }
        
        .main_team ul li {
            text-align: center
        }
        
        .main_team ul li:nth-child(1) {
            left: 1%;
            top: 96%
        }
        
        .main_team ul li:nth-child(2) {
            left: 19%;
            top: 85%
        }
        
        .main_team ul li:nth-child(3) {
            left: 37%;
            top: 87%
        }
        
        .main_team ul li:nth-child(4) {
            left: 55%;
            top: 97%
        }
        
        .main_team ul li:nth-child(5) {
            left: 73%;
            top: 94%
        }
        
        .single_team_img img {
            -webkit-transform: initial;
            position: initial;
        }
        
        .main_team ul li .single_team_img img {
            width: 90px;
            height: 90px;
            margin: 20px auto;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(0, 159, 171, .65)
        }
        
        li:hover .single_team_img img {
            transform: scale(1.08)
        }
        
        li:hover .single_team_text {
            opacity: 1
        }
        
        li .single_team_text {
            padding: 10px 20px;
            width: 100%;
            opacity: 0;
            transition: all .6s;
            text-align: center;
            display: block;
            height: 80px
        }
        
        li .single_team_text h4 {
            margin-bottom: 0;
            display: inline-block;
            text-transform: none;
            color: #009fab
        }
        
        li .single_team_text p {}
        
        .margin-80,
        .margin-top-80 {
            margin-top: 80px
        }
        
        .imgcontainer {
            width: 100%;
            height: 417px;
            overflow: hidden;
            display: inline-block;
            position: relative;
        }
        
        .imgcontainer img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            cursor: pointer
        }
        
        .degrade {
            transition: 0.5s !important;
            background-size: 200% auto !important;
            background-image: linear-gradient(to right, #009fab 0%, #3F315D 51%, #009fab 100%) !important;
        }
        
        .degrade:hover {
            background-position: right center !important;
            /* change the direction of the change here */
        }
        
        @media (max-width:1400px) {
            #portfoliowork {
                margin: 1rem 0;
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5
            }
        }
        
        @media (max-width:1199px) {
            #portfoliowork {
                margin: 1rem 0;
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5
            }
        }
        
        @media (max-width:991px) {
            #portfoliowork {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2
            }
            .main_team ul li:nth-child(1) {
                top: 86%
            }
            .main_team ul li:nth-child(4) {
                top: 90%
            }
            .main_team ul li:nth-child(5) {
                top: 98%
            }
        }
        
        @media (max-width:768px) {
            .main_feature .single_feature {
                margin-bottom: 40px
            }
            .main_history .single_history_content .head_title h2 {
                border-left: 6px solid #009fab
            }
            .main_history .single_history_content .head_title {
                margin-bottom: 30px
            }
            #portfoliowork {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2
            }
            .main_team ul li:nth-child(1),
            .main_team ul li:nth-child(2),
            .main_team ul li:nth-child(3) {
                top: 138%
            }
            .main_team ul li:nth-child(4) {
                top: 150%
            }
            .main_team ul li:nth-child(5) {
                top: 155%
            }
        }
        
        @media (max-width:479px) {
            .single_service_icon {
                text-align: center
            }
        }
    </style>
    <style>

        video {

        }

    </style>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-109193035-1');
    </script>
</head>

<body id=home onload='var Tawk_API=Tawk_API||{},Tawk_LoadStart=new Date();(function(){var a=document.createElement("script"),b=document.getElementsByTagName("script")[0];a.async=true;a.src="https://embed.tawk.to/5a9edc42d7591465c708508b/default";a.charset="UTF-8";a.setAttribute("crossorigin","*");b.parentNode.insertBefore(a,b)})(); if(navigator.userAgent.indexOf("Speed Insights")==-1){window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag("js",new Date());gtag("config","UA-109193035-1");gtag("config", "AW-820518839");}gtag("event", "page_view",{"send_to": "AW-820518839"<% if user_signed_in? %>, "dynx_itemid": "<%=current_user.id%>", "dynx_pagetype": "<%=current_user.id%>", "user_id": "<%=current_user.id%>" <%end%>});'>

    <div id=fb-root></div>
    <div class=loader>
    <div class=loader-bee><%=image_tag 'https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/LoadGIF.gif', id:'item-1', style:'margin-left:auto;margin-right:auto;width:100px', alt:'loader-beeprinted-impressão-3D' %></div>
    </div>
    <%= render 'layouts/navbar' %>

    <header class="masthead video light-typo full-height" style='height:74vh !important;min-height:0'>
        <div class=overlay-bg></div>
        <div class=overlay-bg id="particles-js" style='background-color:transparent; opacity: 1'></div>
        <div class="overlay-bg container" id='testeparticle' style='background-color:transparent; opacity: 1;'>
            <div class="row h-100" style='height:100%;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;'>
                <div class="col-12 my-auto text-center text-white">
                    <h1 class=title-beeprinted style="font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial sans-serif;font-weight: 900;text-transform: uppercase;">Impressão 3D e Prototipagem</h1>
                    <hr class="colored" style='margin:auto;max-width: 100px;height: 2px;border-top: 1px solid white;border-bottom: 1px solid white; border-color: #009FAB;'>
                    <h2 class="masthead-subtitle" style='font-size:1.5rem;margin:10px 0;'>Desenvolva projetos com a Beeprinted ou envie seu modelos para impressão 3D</h2>
                    <a title="Nossa Loja" class="btn btn-store smooth-scroll font-bold degrade" href=<%=new_orcamento_path%> style='margin-right:0px;margin-top:20px; font-size:18px; padding:12px 40px'>PEÇA O SEU ORÇAMENTO</a></div>
            </div>
        </div>
    </header>
    </section>
    <section id=cta class="padding-top-bottom color-bg light-typo" style='padding:5px;background-color:#e2e2e2;'>
        <div class=container>
            <div class="row text-center">
                <h2 class=font-bold style=color:#616161>O que você quer imprimir em 3D hoje?</h2></div>
        </div>
    </section>
    <section id="feature" class="feature sections" style='padding-bottom: 30px'>
        <div class="container">
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-rocket" style='font-size:24px'></i> </div>
                            <h3>PROTOTIPAGEM</h3>
                            <div class="separator3"></div>
                            <p>Produza e teste suas ideias com especialistas em impressão 3D e com ajuda de nossos designers.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-trophy" style='font-size:24px'></i> </div>
                            <h3>CORPORATIVO</h3>
                            <div class="separator3"></div>
                            <p>Crie brindes, troféus e produtos personalizados para seus clientes e para seus funcionários.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-cloud" style='font-size:24px'></i> </div>
                            <h3>RECORDAÇÕES</h3>
                            <div class="separator3"></div>
                            <p>Use a tecnologia de impressão 3D para guardar um momento especial da sua vida.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-gift" style='font-size:24px'></i> </div>
                            <h3>BEELOJA</h3>
                            <div class="separator3"></div>
                            <p>Modelos já prontos e fáceis de imprimir. Compre agora mesmo pelo nosso site!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr style='max-width:inherit;' />
    <section id="portfolio" class="portfolio sections">
        <div class="container-fluid">
            <div class="row">
                <div class="main_portfolio">
                    <div class="col-sm-12">
                        <div class="head_title text-center">
                            <h2>NOSSOS PROJETOS</h2>
                            <div class="subtitle"> Conheça um pouco do nosso trabalho. </div>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="work_menu text-center">
                        <div id="filters" class="toolbar mb2 mt2">
                            <button class="btn-md fil-cat filter active" data-filter="all">TODOS</button>/
                            <button class="btn-md fil-cat filter" data-rel="proto" data-filter=".Prototipagem">PROTOTIPAGEM</button>/
                            <button class="btn-md fil-cat filter" data-rel="corpo" data-filter=".Corporativo">CORPORATIVO</button>/
                            <button class="btn-md fil-cat filter" data-rel="recor" data-filter=".Recordações">RECORDAÇÕES</button>/
                            <button class="btn-md fil-cat filter" data-rel="beeloja" data-filter=".BeeLoja">BEELOJA</button>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="portfoliowork">
                        <% @portfolio.each do |portfolio|%>
                            <div class="single_portfolio tile scale-anm web grid-item-width2 <%portfolio.services.each do |service|%><%=service.name%> <%end%>"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=portfolio.images.first.attachment.url(:thumb)%> alt=
                                <%=portfolio.caption%>> <a href=<%=post_path(portfolio.url)%> class="portfolio-img" title="<%=portfolio.caption%>"> <div class="grid_item_overlay"> <div class="separator4"></div><h3><%=portfolio.caption%></h3> <p><%portfolio.services.each do |service|%><%=service.name%> <%end%></p></div></a> </div>
                            <%end%>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="main_portfolio">
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <p style='margin-bottom:0px; font-size:30px'>Veja mais Modelos</p>
                        <div class="separator"></div>
                        <br><a href=<%=posts_path%> class="btn btn-store smooth-scroll font-bold degrade" style='margin-right:0px' title=Galeria>Portfolio</a> </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="padding-top-bottom light-typo color-bg lazyload" data-src='https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/poly-min.png' style='padding-bottom:100px;background: #009fab repeat center center;box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);'>
        <div class=container>
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h2>CLIENTES E PARCEIROS</h2>
                    <div class="subtitle"> Empresas que confiam na Bee. </div>
                    <div class="separator" style='background-color:white'></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.bb.com.br/ title="Banco do Brasil" class='clientes bb'><img alt=bb-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/bb.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.ambev.com.br/ title="Cervejaria Ambev" class='clientes ambev'><img alt=ambev-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/ambev.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.cir.com.br/ title="Hospital Odontológico CIR" class='clientes cri'><img alt=cir-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/cir.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=http://www.grupoicts.com.br/ title="Grupo ICTS" class='clientes icts'><img alt=icts-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/icts.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.loopkey.com.br/ title="LoopKey - Computer Engineering" class='clientes loop'><img alt=loop-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/loop-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2" style='padding-top:10px'>
                    <a href=https://www.nong.com.br/ title="Nong Drones" class='clientes nong'><img alt=nong-cliente-impressão-3D class="lazyload fadeInUp"  data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/nong-drones2.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2" style='padding-top:10px'>
                    <a href=http://macofren.com/ title='Macofren - Tecnologias Químicas' class='clientes'><img alt=macofren-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/macofren-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2">
                    <a href=http://www.invisual.com.br/ title='Invisual - Tecnologia e Inteligência de Negócio' data-large='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png' class='clientes'><img alt=invisual-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=http://www.wi.com.br title='Wise - Indústria de Telecomunicações' class='clientes loop'><img alt=wise-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/wise-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=https://producoesr2.com.br/ title='R2 Produções' class='clientes r2'><img alt=R2-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/r2-logo2.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2">
                    <a href=http://www.indt.org.br/ title='INDT' class='clientes indt'><img alt=indt-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/indt.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=http://www.spi-integradora.com.br/ title='SPI Integradora' class='clientes'><img alt=spi-client-impressão-3D src='' class="wow fadeInUp beeteam3 img-small"><img alt=spi-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/spi-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="service" class="service" style='background-color: #202020'>
        <div class="container-fluid">
            <div class="row">
                <div class="main_service">
                    <div class="col-md-6 col-sm-12 no-padding">
                        <div class="single_service single_service_text text-right">
                            <div class="head_title">
                                <h2>NOSSOS SERVIÇOS</h2> </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_right_text">
                                                <h4>DESIGN DE PRODUTO</h4>
                                                <p>Te ajudamos a desenvolver seu modelo do zero, com criação de conceito e funcionalidade, desde a modelagem 3D até o produto final.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_right_text">
                                                <h4>IMPRESSÃO 3D</h4>
                                                <p>Somos referência em impressão 3D FDM, SLA, DLP e polyjet (Stratasys). Teste ou produza seu produto com uma ótima qualidade e preço justo.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                            <article class="single_service_right_text">
                                                <h4>MODELAGEM 3D</h4>
                                                <p>Ainda não possui o arquivo com o modelo em 3d digital? Não tem problema. Temos uma equipe de modeladores que podem fazer isso por você.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 no-padding">
                        <figure class="single_service single_service_img" style='position:relative;height:auto'>
                            <div class="overlay-img"></div><img class="lazyload" style='height:auto' src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/assets/Nova/imagens/ball-impressao-3d.jpg' alt='bola-impressão-3d'> </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="blog">
        <div class="container-fluid">
            <div class="row">
                <div class="main_blog sections">
                    <div class="head_title text-center">
                        <h2>NOSSO BLOG</h2>
                        <div class="subtitle"> Aprenda sobre o mundo da impressão 3D com a Beeprinted. </div>
                        <div class="separator"></div>
                    </div>
                    <div class="main_blog_content">
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[0].url)%>" class="read_more" title="<%=@blog[0].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[0].attachment.url(:index)%> alt='
                                                <%=@blog[0].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_left">
                                            <p>
                                                <%=@blog[0].user.name%>
                                            </p>
                                            <h3><%=@blog[0].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[0].summary%>
                                            </p><a href="<%=blog_path(@blog[0].url)%>" class="read_more" title="<%=@blog[0].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[1].url)%>" class="read_more" title="<%=@blog[1].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[1].attachment.url(:index)%> alt='
                                                <%=@blog[1].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_left" style='background-color: #3F315D'>
                                            <p>
                                                <%=@blog[1].user.name%>
                                            </p>
                                            <h3><%=@blog[1].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[1].summary%>
                                            </p><a href="<%=blog_path(@blog[1].url)%>" class="read_more" title="<%=@blog[1].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[2].url)%>" class="read_more" title="<%=@blog[2].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[2].attachment.url(:index)%> alt='
                                                <%=@blog[2].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_right" style='background-color: #3F315D'>
                                            <p>
                                                <%=@blog[2].user.name%>
                                            </p>
                                            <h3><%=@blog[2].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[2].summary%>
                                            </p><a href="<%=blog_path(@blog[2].url)%>" class="read_more" title="<%=@blog[2].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer" data-large=<%=@blog[3].attachment.url%> > <a href="<%=blog_path(@blog[3].url)%>" class="read_more" title="<%=@blog[3].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[3].attachment.url(:index)%> alt='
                                                <%=@blog[3].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_right">
                                            <p>
                                                <%=@blog[3].user.name%>
                                            </p>
                                            <h3><%=@blog[3].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[3].summary%>
                                            </p><a href="<%=blog_path(@blog[3].url)%>" class="read_more" title="<%=@blog[3].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team">
        <div class="main_team_area lazyload" data-src='https://ds76otpcq42vd.cloudfront.net/uploads/diversas/teambg2.jpg' style='background:bottom center no-repeat;'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head_title text-center margin-top-80" style='margin-bottom:80px'>
                            <h2>NOSSO TIME</h2>
                            <div class="subtitle"> Equipe de Especialistas em Prototipagem. </div>
                            <div class="separator"></div>
                        </div>
                        <div class="main_team">
                            <ul>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/thierre.jpg' alt='thierre-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Thierre Lorenzo</p>
                                        <p>Co-Fundador e Diretor Financeiro</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/eu.jpg' alt='lucas-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Lucas Neves</p>
                                        <p>Co-Fundador e Diretor de Tecnologia</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/iago.jpg' alt='iago-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Iago Boson</p>
                                        <p>Co-Fundador e Diretor Executivo</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/thiago.jpg' alt='thiago-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Thiago Hirano</p>
                                        <p>Co-Fundador e Diretor de Operações</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/maria.jpg' alt='maria-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Maria Clara Monteiro</p>
                                        <p>Diretora de Marketing</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id=contact class="gray-bg padding-top-bottom">
        <div class=container>
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h2>CONTATO</h2>
                    <div class="subtitle">
                        <p>Alguma dúvida sobre o serviço que oferecemos? Entre em contato ou venha tomar um café conosco <i class="fa fa-coffee" aria-hidden="true"></i>.</p>
                    </div>
                    <div class="separator separator_escuro"></div>
                </div>
            </div>
            <%= simple_form_for @contato, html: { multipart: true, id:'contact-form' } do |f| %>
                <div class=row>
                    <div class="col-xs-12 col-sm-12 col-md-4 contact-info cta-message"><address><strong>BEEPRINTED</strong><br>EQN 406/407, Asa Norte<br>Edifício Salim Bittar*, Sl. 125<br>Brasília-DF 70847-400<br>contato@beeprinted.com.br<br>(61) 9 9996-0874<br>(61) 9 8235-1095<br><div style=font-size:16px>*Edifício da Smart Fit</div></address></div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d1">
                        <div class=form-group>
                                        <label class=control-label for=contact-name>Nome</label>
                                        <div class=controls>
                                            <input id=contact-name name=contato[name] placeholder=Nome class="form-control input-lg requiredField" type=text>
                                        </div>
                        </div>
                        <div class=form-group>
                            <label class=control-label for=contact-mail>Email</label>
                            <div class=controls>
                                <input id=contact-mail name=contato[email] placeholder=Email class="form-control input-lg requiredField" type=email>
                            </div>
                        </div>
                        <div class=form-group>
                            <label class=control-label for=contact-message>Mensagem</label>
                            <div class=controls>
                                <textarea id=contact-message name=contato[mensagem] placeholder=Mensagem class="form-control input-lg requiredField" rows=5></textarea>
                            </div>
                        </div>
                        <p>
                            <button name=submit type=submit class="btn btn-store btn-block" style='background-color:#3F315D'>Enviar Mensagem</button>
                        </p>
                        <input type=hidden name=commit id=contato_submit value="Enviar Mensagem">
                    </div>
                </div>
            <%end%>
        </div>
    </section>

    <%= render 'layouts/footer' %>
    <!--<script type=text/javascript src='https://s3.amazonaws.com/beeprinted-stls/assets/indexnew10.js'></script> <script defer src="https://s3.amazonaws.com/beeprinted-stls/assets/Nova/assets/js/jquery.mixitup.min.js"></script>-->
    <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js" defer></script>
    <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/modernizr-custom-min.js" defer></script>
    <script src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/load_assets.js" defer></script>
</body>

</html>