<!doctype html>
<html>

<head>
    <title>Impressão 3D e Prototipagem | BEEPRINTED</title>
    <meta charset=utf-8>
    <meta name="msvalidate.01" content="C2730C7A271697BA8A0F86E1ED368E39" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name=title content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta name=robots content="index, follow">
    <meta name=description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão 3D, modelagem e prototipagem de Brasília.">
    <meta name=keywords content="impressão 3D, prototipagem, modelos 3D, tecnologia, imprima 3D, impressora 3D, imprimir 3D, Brasília, DF, Distrito Federal" />
    <meta name=author content=BEEPRINTED.COM.BR>
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <meta content="ie=edge, chrome=1" http-equiv=x-ua-compatible/>
    <meta name=google-site-verification content=oJ2PyR9oaNsdWXxDUnY615E3gLjjO2Q2ZQEySMCC4IY/>
    <meta property="og:title" content="Impressão 3D e Prototipagem | BEEPRINTED" />
    <meta property="og:description" content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!" />
    <meta property="og:image" content="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://beeprinted.com.br" />
    <meta property="og:site_name" content="BEEPRINTED" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta name=twitter:card content=summary/>
    <meta name=twitter:title content="Impressão 3D e Prototipagem | BEEPRINTED">
    <meta name=twitter:description content="Impressão 3D de ideias e projetos com a BEEPRINTED. Beeprinted é uma plataforma voltada à tecnologia de impressão e modelagem 3D de Brasília. Faça parte da comunidade Bee, imprima e poste modelos 3D!">
    <meta name=twitter:image content=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png>
    <meta name=twitter:site content=https://beeprinted.com.br>
    <meta name=twitter:url content=https://beeprinted.com.br>
    <meta name=twitter:locale content=pt_BR>
    <link rel=canonical href=https://beeprinted.com.br/>
    <link rel=shortlink href=https://beeprinted.com.br/>
    <link rel=revision href=https://beeprinted.com.br/>
    <link rel="shortcut icon" href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png sizes=32x32 type="image/png" />
    <link rel=apple-touch-icon-precomposed href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=120x120 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=152x152 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <!--[if lt IE 9]><script src=https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js></script><script src=https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js></script><![endif]-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
        var scripts = ["https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/lib-menos-jquery.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/resto-do-resto3.js", "https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/JS/lazy-teste.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery.mixitup.min.js", "https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/portfolio.js", "https://www.googletagmanager.com/gtag/js?id=UA-109193035-1"];
        var stylesheets = ["https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"];
    </script>
    <link rel=stylesheet href="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/css/bee4.css">
    <style>
        .loader {
            position: fixed;
            display: table;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: no-repeat #f9f9f9
        }
        
        .loader-bee {
            display: table-cell;
            vertical-align: middle;
            text-align: center
        }
    </style>
    <style>
        .placeholder img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            opacity: 0;
            transition: opacity 1s linear;
        }
        
        .clientes img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            transition: opacity 1s linear;
        }
        
        .clientes img {
            position: absolute;
            width: 150px;
        }
        
        .clientes.r2 img {
            width: 100px;
        }
        
        .clientes.bb img {
            width: 170px;
        }
        
        .clientes.ambev img {
            width: 140px;
        }
        
        .clientes.icts img {
            width: 130px;
            padding-top: 15px;
        }
        
        .clientes.cri img {
            width: 170px;
            padding-top: 15px;
        }
        
        .placeholder.clientes.nong img {
            width: 140px;
        }
        
        .clientes.indt img {
            padding-top: 15px;
        }
        
        .placeholder.nos img {
            border-radius: 50%!important;
            width: 150px;
        }
        
        .placeholder img.loaded {
            opacity: 1;
        }
        
        .img-small {
            filter: blur(50px);
            transform: scale(1);
        }
        
        .espaco-cliente {
            padding-bottom: 40%;
        }
        
        .espaco-nos {
            padding-bottom: 66%;
        }
        
        @media screen and (max-width:480px) {
            .espaco-cliente {
                padding-bottom: 20%;
            }
            .espaco-nos {
                padding-bottom: 40%;
            }
        }
    </style>
    <style>
        

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    width:100%;
    font-family: 'ralewayregular';
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;

}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    display: inline-block;
    height: 38px;
    padding: 10px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 2px solid #ddd;
}
/*.form-control:focus {
    border-color: #bcefeb;
}*/
.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-family: 'open_sansbold';
    font-size: 5.143rem;
    line-height: 5.5rem;
    color:#fff;
    letter-spacing: .4rem;
}
h2 {
    font-family: 'source_sans_probold';
    font-size:2.571rem;
    line-height: 3rem;
    text-transform: uppercase;

}
h3 {
    font-family: 'source_sans_proregular';
    font-size:1.714rem;
    line-height: 2.5rem; 
    color:#fff;
}
h4 {
    font-family: 'open_sanssemibold';
    font-size: 1.286rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
/*h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}*/
p {
    line-height: 2rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.textwhite {
    color: #fff;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    /*overflow: hidden;*/
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: 100%;
}
/*.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height:auto;
}
.video_overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: auto;
}*/

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #e74c3c;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.separator:after {
    position: absolute;
    left:5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-left: 20px;
}
.separator:before {
    position: absolute;
    right: 5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-right: 20px;
}
.separator2 {
    height: 4px;
    width:40px;
    margin: 10px 0px;
    background: #eeeeee;
    position: relative;
}

.separator3 {
    height: 2px;
    width: 40px;
    margin:20px auto;
    background: #888888;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #f38181;
}


.divider{
    height: 1px;
    background: #eee;
    width:100%;
    overflow: hidden;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size:0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    transition: .5s;
    border: 1px solid #e74c3c;
    font-family: 'open_sansbold';
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;

}
.btn:hover{
    box-shadow: 0px 2px 2px 1px rgba(221, 221, 221, 0.6);
    color:#fff;
}
.btn-default{
    background: transparent;
    border:1px solid #fff;
    padding: 1.125rem 3rem;
}
.btn-default:hover{
    background: #e74c3c;
    border:1px solid #e74c3c;
}
.btn-lg{
    background: #e74c3c;
    padding: 1.125rem 3rem;
}
.btn-md{
    background: #999999;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.m_t_10{
    margin-right:10px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-top-90 {
    padding-top: 6.429rem;
}
.padding-bottom-90 {
    padding-bottom: 6.429rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.p_l_r{
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #ddd;
}
input::-moz-placeholder {
    color: #ddd;
}
input::-ms-input-placeholder {
    color: #ddd;
}

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/
/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(34, 61, 97, 0.64);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 75px;

}
.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#e74c3c;
    background: transparent;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #e74c3c;
    padding-bottom: 22px;
    border-bottom: 1px solid #e74c3c;
    background: transparent;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;

}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15); 
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); 
    box-shadow: 0 0px 0px 
}

/*.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #e74c3c;
    color:#e74c3c;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #e74c3c;
    opacity: 1; 
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}*/

.scrooldown{
    position: absolute;
    left: 48.5%;
    bottom: -2%;
    width: 40px;
    height: 40px;
    line-height: 48px;
    background: #f4f5f9;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}
.scrooldown a i{
    font-size:1.5rem;
    color:#e74c3c;
}


.culmn{
    width:100%;
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    margin-bottom:90px;
}
.head_title h3{
    color:#413d4b;
}
.head_title .subtitle{
    margin-top:30px;
}
/*home section*/
.home{
    background: url(../images/homebg.jpg) no-repeat center center;
    background-size: cover;
}
.home_skew_border{
    position: relative;
}
.home_skew_border:after{
    position: absolute;
    left:0;
    bottom:0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-right: 680px solid transparent;

}
.home_skew_border:before{
    position: absolute;
    right:0;
    bottom:0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-left: 680px solid transparent;
}
.main_home{
    padding-top: 250px;
    padding-bottom: 250px;
    display: block;
}


.main_home h1{
    color: #fff;
    margin-bottom:20px;
}
.main_home p{
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size:1.125rem;

}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    outline: none;
    background: #e74c3c;
}
.slick-arrow{
    background: #ddd;
    color:#000;
}
.main_home_slider i{
    width:40px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    background: #e74c3c;
}
.main_home_slider i.nextprevleft{
    width:40px;
    height: 40px;
    line-height: 40px;
    color:#000;
    background: #716a65;
    float: left;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    left:-60px;
}
.main_home_slider i.nextprevright{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #716a65;
    float: right;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    right: -50px;
}
.main_home_slider i.nextprevleft:hover{
    color:#fff;
    background: #e74c3c;
}
.main_home_slider i.nextprevright:hover{
    color: #fff;
    background: #e74c3c;
}

/*==================================================================
            Feature section Style
====================================================================*/

.main_feature{}
.main_feature .single_feature{}
.main_feature .single_feature:hover .single_feature_icon{
    border-color:#e74c3c;
    transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i{
    transform: rotate(-45deg);
}
.main_feature .single_feature:hover h4{
    color:#e74c3c;
}
.main_feature .single_feature .single_feature_icon{
    border:1px solid #ddd;
    width:70px;
    height: 70px;
    line-height: 70px;
    margin:20px auto;
    transition: all 0.6s;
}
.main_feature .single_feature i{
    margin-bottom:30px;
    color:#e74c3c;
    transition: all 0.6s;
}
.main_feature .single_feature h4{
    transition: all 0.6s;
}

/*==================================================================
            History section Style
====================================================================*/
.main_history{

}
.main_history .single_history_content .head_title h2{
    border-left:6px solid #e74c3c;
    padding-left: 30px;
}


/*==================================================================
            service section Style
====================================================================*/
.main_service .head_title{
    padding: 100px 0px 40px 0px;
    margin-bottom: 0px;
}
.main_service .head_title h2{
    margin-right: 12%;
    border-right: 6px solid #e74c3c;
    color:#fff;
    padding-right: 5%;
}
.main_service .single_service_img {
    position: relative;
    height: 676px;
}
.main_service .single_service_img img {
    width: 100%;
    height: 100%;
}

.main_service .single_service.single_service_text {
    margin-right:0px;
    background: #202020;
}
.main_service .single_service.single_service_text .single_service_icon i{
    background: #f4f5f9;
    width:70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color:#e74c3c;
    position: relative;
    z-index: 9;
    border:5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.875rem;
}

.main_service .single_service.single_service_text .single_service_right_text {
    width: 96%;
}
.main_service .single_service.single_service_text .single_service_right_text h4{
    color:#e74c3c;
}
.main_service .single_service.single_service_text .single_service_right_text p{
    color:#999999;
    font-family: 'source_sans_proregular';
}
/*======================================================================
                    portfolio section css
========================================================================*/
.btn-md:active, .btn-md.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
button.btn-md:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:none;
    color:#e74c3c;
}
button.btn-md {
    text-align: center;
    color: #444;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 0px;
    background-color: transparent;
    transition: .5s;
    border: 0px solid #e74c3c;
    font-family: 'montserratregular';
}
button.btn-md:hover {
    background-color: transparent;
    color: #e74c3c;
    text-decoration: none;
    border: 0px solid #f4720a;
}
.portfolio .toolbar{
    margin-bottom:50px;
}
#portfoliowork {  
    margin: 1rem 0;
    -webkit-column-count: 4; 
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    display: none;

}
.scale-anm {
    margin: 0px;
    width: 100%;
    /*margin-bottom: -6px;*/
}


.tile img {
    height: auto;
    display: inline-block; 
    width: 100%;
}

.single_portfolio{
    position: relative;

}
.single_portfolio:hover .grid_item_overlay{
    opacity: 1;
}

.grid_item_overlay{
    position: absolute;
    left:10%;
    top:10%;
    width:80%;
    height: 80%;
    background: rgba(231,76,60,0.6);
    color:#fff;
    padding: 20px;
    opacity: 0;
    transition: 0.6s;
    padding-top:35%;
    z-index: 99;
}
.g_overlay_1{
    padding-top:16%;
}
.g_overlay_2{
    padding-top: 85%;
}

.grid_item_overlay a i{
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    display: inline-block;
    background: transparent;
}
.grid_item_overlay a:hover i{
    color:#e74c3c;
    background: #fff;
}

/*========================================================================
                    Study Section Css
==========================================================================*/
.study{
    background: #f4f5f9;
}
.main_study_area{
    overflow: hidden;
}
.slick-active{
    outline: none;
}
.single_study_text{
    background: #fff;
    position: absolute;
    right:-15%;
    top:85px;
    width:100%;
    z-index: 9;
    padding: 10% 20%;
}
.single_study_text .s_study_icon{
    background: #e74c3c;
    width:60px;
    height: 60px;
    line-height: 60px;
    color:#fff;
    transform: rotate(45deg);
    margin: 30px auto;
}
.single_study_text .s_study_icon i{
    transform: rotate(-45deg);
}
.single_study_right_img{
    position: relative;
}


/*=====================================================================
                    counter section css
=======================================================================*/
.counter{
    background: url(../images/counterbg.jpg) no-repeat top center;
    background-size: cover;
}
.counter .main_counter_area{
    padding:80px 20px;
}

.main_counter_area .single_counter h2{
    color:#fff;
    font-size:2.8125rem;
}
.main_counter_area .single_counter i{
    color: #fff;
    font-size: 1.875rem;
    display: inline-block;
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 20px;
}
.main_counter_area .single_counter h4{
    color:#fff;
    font-size:0.8125rem;
    text-transform: lowercase;
}

/* Pricing2 Section */

.main_pricing_area{
    overflow: hidden;
}

.single_pricing{
    text-align: center;
    margin-top: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
}
.single_pricing:hover{
    box-shadow: 0px 1px 10px 1px #ccc;

}
.pricing_business .pricing_head{
    background:#e74c3c;
}
.pricing_business .pricing_head .p_r{
    color:#e74c3c;
}
.pricing_business .pricing_head h3{
    color:#fff;
}
.pricing_business .btn-md{
    background: #e74c3c;
}


.pricing_head{
    padding: 30px 0px;
    background: #999999;
    position: relative;
    height: 200px;  
}
.pricing_head h3{
    text-transform:uppercase;
    color:#fff;
    font-size:24px;
}
.pricing_head .pricing_price{
    background: #fff;
    position: absolute;
    left: 30%;
    bottom: -30%;
    width: 150px;
    height: 150px;
    margin:0 auto;
    padding: 30px 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(244,245,249,0.3);
}
.pricing_head .pricing_price .p_r{
    font-family: 'source_sans_probold';
    font-size:2.822rem;
}
.pricing_head .pricing_price .m_t{
    font-family: 'source_sans_proregular';
    font-size:0.941rem;
}
.pricing_body{
    background: #f4f5f9;
    padding: 80px 0px 30px 0px;
}
.single_pricing ul{


}
.single_pricing ul li{
    line-height:45px;
    height:45px;
    font-size:18px;
    font-family: 'open_sanssemibold';
}

.single_pricing a{
    margin-top:30px;
}



/*video section css*/

/*.video{
    background: url(../images/videobg.jpg) no-repeat top center;
    background-size:cover;
}
.video .main_video{
    padding: 220px 0px 160px 0px;
    overflow: hidden;
}
.video .icon{}
.video .icon h3{
    color:#fff;
    margin-top:30px;
    margin-bottom: 0px;
}*/


/*about section css*/





/* Team section css */
.main_team_area{
    background: url(../images/teambg.jpg) no-repeat scroll top center;
    background-size: cover;
    position: relative;
    height: 650px;
}
.main_team_area:before{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    content:"";
    background: url(../images/teambg2.png) no-repeat bottom center;  
}
.main_team ul li{
    text-align: center;

}
.main_team ul li:nth-child(1){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:1%;
    top:96%;
}
.main_team ul li:nth-child(2){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:19%;
    top:85%;
}
.main_team ul li:nth-child(3){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:37%;
    top:87%;
}
.main_team ul li:nth-child(4){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:55%;
    top:97%;
}
.main_team ul li:nth-child(5){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:73%;
    top:94%;
}
.main_team ul li .single_team_img img{
    width:60px;
    height: 60px;
    margin:20px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(231, 76, 60, 0.65);
}

li:hover .single_team_img img{
    transform: scale(1.08);
}
li:hover .single_team_text{
    opacity: 1;
}
li .single_team_text{
    padding: 10px 20px;
    width:100%;
    opacity:0;
    transition: all 0.6s;
    text-align: center;
    display: block;
    height: 80px;
}
li .single_team_text h4{
    margin-bottom: .0rem;
    display: inline-block;
    text-transform:none ;
    color:#e74c3c;
}
li .single_team_text p{
    color:#fff;
}




/* Carousel */
.testimonial{
    background: url(../images/testbg.jpg) no-repeat center center;
    background-size: cover;
}
.main_testimonial {
    color:#fff;
}
.main_testimonial .single_testimonial i{
    color:#fff;
    margin-bottom:30px;
    font-size:2rem;
    padding: 2px;
}
.main_testimonial .single_testimonial p{
    color:#fff;
    letter-spacing: .03rem;
}
.main_testimonial .single_testimonial .single_test_author{
    margin-bottom:40px;
    display: inline-block;
}
.main_testimonial .single_testimonial .single_test_author h4{
    color:#fff;
    margin-bottom:0px;
    font-size:1rem;
}
.main_testimonial .single_testimonial .single_test_author h4 span{
    font-family: 'ralewayregular'; 
}
.main_testimonial .single_testimonial .single_test_author p{
    color:#fff;
}

.main_testimonial .owl-theme .owl-dots .owl-dot span {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transform: rotate(0deg);
}

/*====================================================================
                        clogo section css
======================================================================*/
.clogo{
    background: #f4f5f9;
}
.main_clogo{
    overflow: hidden;
}
.main_clogo a{
    height: 100px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    line-height: 100px;
    background: #fff;
    margin-bottom:30px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.25);
}


/*=================================================================
                            Blog Section
===================================================================*/
.blog{
    background: #f4f5f9;
}


.main_blog_content .single_blog_area .single_blog_text{
    background: #e74e3e;
    padding: 70px 30px 70px 50px;
    position: relative;
}
.main_blog_content .single_blog_area .single_blog_text.s_b_left:after{
    position: absolute;
    left:-8%;
    top:45%;
    content:"";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #e74e3e;;
    border-bottom: 30px solid transparent;
}
.main_blog_content .single_blog_area .single_blog_text.s_b_right:after{
    position: absolute;
    right: -8%;
    top:45%;
    content:"";
    z-index: 9;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #e74e3e;;
    border-bottom: 30px solid transparent;
}
.main_blog_content .single_blog_area .single_blog_text a.read_more{
    color:#fff;
}
.main_blog_content .single_blog_area .single_blog_img{
    width:100%;
    height: 417px;
    display: inline-block;
}
.main_blog_content .single_blog_area .single_blog_img img{
    width:100%;
    height: 100%;
}
/*contact section css*/
.contact{
    background:#f4f5f9;

}
.contact_info_content{
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}
.contact_info_content h3{
    color:#e74e3e;
    font-family: 'source_sans_prosemibold';
    margin-bottom: 19px;
}
.contact_info_content h4{
    font-family: 'open_sansregular';
}
.contact_info_content h4{
    margin:0;
    padding: 0;
}
.single_contant_left{
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}
.single_contact_info{
    margin-bottom:45px;
    overflow: hidden;
}

/*====================================================================
                        Trail Section 
======================================================================*/
.main_trial_area{
    background: url(../images/trailbg.jpg) no-repeat top center;
    overflow: hidden;
    background-size: cover;
    color:#fff;
}
.main_trial h2{
    text-transform: none;
    font-family: 'open_sansregular';
}
.main_trial h2 span{
    font-family: 'open_sansbold';
}
.main_trial h4{
    font-family: 'open_sansregular';
    text-transform: none;
}


/*=================================================================
                        footer section
===================================================================*/
.footer{
    background: #000000;
}
.main_footer{
    overflow: hidden;
    padding: 20px 0px;
}

.main_footer .flowus a i{
    color:#fff;
    font-size:1rem;
    padding: 5px;
    border-radius: 0;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-top:10px;
}
.main_footer .flowus a i:hover{
    color:#e74c3c;
}

.copyright_text{
    text-align: right;
}
.copyright_text p{
    color:#fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#e74c3c;
}



/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #e74c3c;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}









    </style>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-109193035-1');
    </script>
</head>

<body id=home onload='var Tawk_API=Tawk_API||{},Tawk_LoadStart=new Date();(function(){var a=document.createElement("script"),b=document.getElementsByTagName("script")[0];a.async=true;a.src="https://embed.tawk.to/5a9edc42d7591465c708508b/default";a.charset="UTF-8";a.setAttribute("crossorigin","*");b.parentNode.insertBefore(a,b)})(); if(navigator.userAgent.indexOf("Speed Insights")==-1){window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag("js",new Date());gtag("config","UA-109193035-1");gtag("config", "AW-820518839");}gtag("event", "page_view",{"send_to": "AW-820518839"<% if user_signed_in? %>, "dynx_itemid": "<%=current_user.id%>", "dynx_pagetype": "<%=current_user.id%>", "user_id": "<%=current_user.id%>" <%end%>});'>

    <div id=fb-root></div>

    <%= render 'layouts/navbar' %>

    <header class="masthead video light-typo full-height" style=height:74vh;min-height:0>
        <div class=overlay-bg></div>
        <div class=overlay-bg id="particles-js" style='background-color:transparent; opacity: 1'></div>
        <div class="overlay-bg container" id='testeparticle' style='background-color:transparent; opacity: 1;'>
            <div class="row h-100" style='height:100%;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;'>
                <div class="col-12 my-auto text-center text-white">
                    <h1 class=title-beeprinted style="font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial sans-serif;font-weight: 900;text-transform: uppercase;">Impressão 3D e Prototipagem</h1>
                    <hr class="colored" style='margin:auto;max-width: 100px;height: 2px;border-top: 1px solid white;border-bottom: 1px solid white; border-color: #009FAB;'>
                    <h2 class="masthead-subtitle" style='font-size:1.5rem;margin:10px 0;'>Desenvolva projetos com a Beeprinted ou envie seu modelos para impressão 3D</h2>
                    <a title="Nossa Loja" class="btn btn-store smooth-scroll font-bold degrade" href=<%=new_orcamento_path%> style='margin-top:20px; font-size:18px; padding:12px 40px'>PEÇA O SEU ORÇAMENTO</a></div>
            </div>
        </div>
    </header>
    </section>
    <section id=cta class="padding-top-bottom color-bg light-typo" style='padding:5px;background-color:#e2e2e2;'>
        <div class=container>
            <div class="row text-center">
                <h2 class=font-bold style=color:#616161>O que você quer imprimir em 3D hoje?</h2></div>
        </div>
    </section>
    <section id="feature" class="feature sections" style='padding-bottom: 30px'>
        <div class="container">
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-rocket" style='font-size:24px'></i> </div>
                            <h3>PROTOTIPAGEM</h3>
                            <div class="separator3"></div>
                            <p>Produza e teste suas ideias com especialistas em impressão 3D e com ajuda de nossos designers.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-trophy" style='font-size:24px'></i> </div>
                            <h3>CORPORATIVO</h3>
                            <div class="separator3"></div>
                            <p>Crie brindes, troféus e produtos personalizados para seus clientes e para seus funcionários.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-cloud" style='font-size:24px'></i> </div>
                            <h3>RECORDAÇOES</h3>
                            <div class="separator3"></div>
                            <p>Use a tecnologia de impressão 3D para guardar um momento especial da sua vida.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon"> <i class="fa fa-gift" style='font-size:24px'></i> </div>
                            <h3>BEELOJA</h3>
                            <div class="separator3"></div>
                            <p>Modelos já prontos e fáceis de imprimir. Compre agora mesmo pelo nosso site!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr style='max-width:inherit;' />
    <section id="portfolio" class="portfolio sections">
        <div class="container-fluid">
            <div class="row">
                <div class="main_portfolio">
                    <div class="col-sm-12">
                        <div class="head_title text-center">
                            <h2>NOSSOS PROJETOS</h2>
                            <div class="subtitle"> Conheça um pouco do nosso trabalho. </div>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="work_menu text-center">
                        <div id="filters" class="toolbar mb2 mt2">
                            <button class="btn-md fil-cat filter active" data-filter="all">TODOS</button>/
                            <button class="btn-md fil-cat filter" data-rel="proto" data-filter=".Prototipagem">PROTOTIPAGEM</button>/
                            <button class="btn-md fil-cat filter" data-rel="corpo" data-filter=".Corporativo">CORPORATIVO</button>/
                            <button class="btn-md fil-cat filter" data-rel="recor" data-filter=".Recordações">RECORDAÇÕES</button>/
                            <button class="btn-md fil-cat filter" data-rel="beeloja" data-filter=".BeeLoja">BEELOJA</button>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="portfoliowork">
                        <% @portfolio.each do |portfolio|%>
                            <div class="single_portfolio tile scale-anm web grid-item-width2 <%portfolio.services.each do |service|%><%=service.name%> <%end%>"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=portfolio.images.first.attachment.url(:thumb)%> alt=
                                <%=portfolio.caption%>> <a href=<%=post_path(portfolio.url)%> class="portfolio-img" title="<%=portfolio.caption%>"> <div class="grid_item_overlay"> <div class="separator4"></div><h3><%=portfolio.caption%></h3> <p><%portfolio.services.each do |service|%><%=service.name%> <%end%></p></div></a> </div>
                            <%end%>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="main_portfolio">
                <div class="col-sm-12">
                    <div class="head_title text-center">
                        <p style='margin-bottom:0px; font-size:30px'>Veja mais Modelos</p>
                        <div class="separator"></div>
                        <br><a href=<%=posts_path%> class="btn btn-store smooth-scroll font-bold degrade" title=Galeria>Portfolio</a> </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="padding-top-bottom light-typo color-bg lazyload" data-src='https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/poly-min.png' style='padding-bottom:100px;background: #009fab repeat center center;box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);'>
        <div class=container>
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h2>CLIENTES E PARCEIROS</h2>
                    <div class="subtitle"> Empresas que confiam na Bee. </div>
                    <div class="separator" style='background-color:white'></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.bb.com.br/ title="Banco do Brasil" class='clientes bb'><img alt=bb-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/bb.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.ambev.com.br/ title="Cervejaria Ambev" class='clientes ambev'><img alt=ambev-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/ambev.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.cir.com.br/ title="Hospital Odontológico CIR" class='clientes cri'><img alt=cir-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/cir.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=http://www.grupoicts.com.br/ title="Grupo ICTS" class='clientes icts'><img alt=icts-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/icts.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 news anima fade-up" style=''>
                    <a href=https://www.loopkey.com.br/ title="LoopKey - Computer Engineering" class='clientes loop'><img alt=loop-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/loop-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2" style='padding-top:10px'>
                    <a href=https://www.nong.com.br/ title="Nong Drones" class='clientes nong'><img alt=nong-cliente-impressão-3D class="lazyload fadeInUp"  data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/nong-drones2.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2" style='padding-top:10px'>
                    <a href=http://macofren.com/ title='Macofren - Tecnologias Químicas' class='clientes'><img alt=macofren-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/macofren-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2">
                    <a href=http://www.invisual.com.br/ title='Invisual - Tecnologia e Inteligência de Negócio' data-large='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png' class='clientes'><img alt=invisual-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/invisual.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=http://www.wi.com.br title='Wise - Indústria de Telecomunicações' class='clientes loop'><img alt=wise-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/wise-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=https://producoesr2.com.br/ title='R2 Produções' class='clientes r2'><img alt=R2-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/r2-logo2.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 news anima fade-up d2">
                    <a href=http://www.indt.org.br/ title='INDT' class='clientes indt'><img alt=indt-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/indt.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 anima news fade-up d2">
                    <a href=http://www.spi-integradora.com.br/ title='SPI Integradora' class='clientes'><img alt=spi-client-impressão-3D src='' class="wow fadeInUp beeteam3 img-small"><img alt=spi-cliente-impressão-3D class="lazyload fadeInUp" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/spi-logo.png'>
                        <div class='espaco-cliente'></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="service" class="service">
        <div class="container-fluid">
            <div class="row">
                <div class="main_service">
                    <div class="col-md-6 col-sm-12 no-padding">
                        <div class="single_service single_service_text text-right">
                            <div class="head_title">
                                <h2>NOSSOS SERVIÇOS</h2> </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_right_text">
                                                <h4>DESIGN DE PRODUTO</h4>
                                                <p>Te ajudamos a desenvolver seu modelo do zero, com criação de conceito e funcionalidade, desde a modelagem 3D até o produto final.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_right_text">
                                                <h4>IMPRESSÃO 3D</h4>
                                                <p>Somos referência em impressão 3D FDM, SLA, DLP e polyjet (Stratasys). Teste ou produza seu produto com uma ótima qualidade e preço justo.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                            <article class="single_service_right_text">
                                                <h4>MODELAGEM 3D</h4>
                                                <p>Ainda não possui o arquivo com o modelo em 3d digital? Não tem problema. Temos uma equipe de modeladores que podem fazer isso por você.</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon"> <i class="fa fa-heart"></i> </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 no-padding">
                        <figure class="single_service single_service_img" style='position:relative'>
                            <div class="overlay-img"></div><img class="lazyload" style='height:auto' src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/assets/Nova/imagens/ball-impressao-3d.jpg' alt='bola-impressão-3d'> </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="blog">
        <div class="container-fluid">
            <div class="row">
                <div class="main_blog sections">
                    <div class="head_title text-center">
                        <h2>NOSSO BLOG</h2>
                        <div class="subtitle"> Aprenda sobre o mundo da impressão 3D com a Beeprinted. </div>
                        <div class="separator"></div>
                    </div>
                    <div class="main_blog_content">
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[0].url)%>" class="read_more" title="<%=@blog[0].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[0].attachment.url(:index)%> alt='
                                                <%=@blog[0].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_left">
                                            <p>
                                                <%=@blog[0].user.name%>
                                            </p>
                                            <h3><%=@blog[0].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[0].summary%>
                                            </p><a href="<%=blog_path(@blog[0].url)%>" class="read_more" title="<%=@blog[0].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[1].url)%>" class="read_more" title="<%=@blog[1].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[1].attachment.url(:index)%> alt='
                                                <%=@blog[1].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_left" style='background-color: #3F315D'>
                                            <p>
                                                <%=@blog[1].user.name%>
                                            </p>
                                            <h3><%=@blog[1].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[1].summary%>
                                            </p><a href="<%=blog_path(@blog[1].url)%>" class="read_more" title="<%=@blog[1].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer"> <a href="<%=blog_path(@blog[2].url)%>" class="read_more" title="<%=@blog[2].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[2].attachment.url(:index)%> alt='
                                                <%=@blog[2].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_right" style='background-color: #3F315D'>
                                            <p>
                                                <%=@blog[2].user.name%>
                                            </p>
                                            <h3><%=@blog[2].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[2].summary%>
                                            </p><a href="<%=blog_path(@blog[2].url)%>" class="read_more" title="<%=@blog[2].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_blog_area textwhite">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                        <div class="single_blog_img">
                                            <div class="imgcontainer" data-large=<%=@blog[3].attachment.url%> > <a href="<%=blog_path(@blog[3].url)%>" class="read_more" title="<%=@blog[3].title%>"><img class="lazyload imghover img-responsive" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src=<%=@blog[3].attachment.url(:index)%> alt='
                                                <%=@blog[3].title%>'></a>
                                                    <div style='padding-bottom:66.6%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6 no-padding" style='max-height:417px'>
                                        <div class="single_blog_text s_b_right">
                                            <p>
                                                <%=@blog[3].user.name%>
                                            </p>
                                            <h3><%=@blog[3].title%></h3>
                                            <div class="separator2"></div>
                                            <p>
                                                <%=@blog[3].summary%>
                                            </p><a href="<%=blog_path(@blog[3].url)%>" class="read_more" title="<%=@blog[3].title%>">Ler Mais >></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team">
        <div class="main_team_area lazyload" data-src='https://ds76otpcq42vd.cloudfront.net/uploads/diversas/teambg2.jpg' style='background:bottom center no-repeat;'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head_title text-center margin-top-80" style='margin-bottom:80px'>
                            <h2>NOSSO TIME</h2>
                            <div class="subtitle"> Equipe de Especialistas em Prototipagem. </div>
                            <div class="separator"></div>
                        </div>
                        <div class="main_team">
                            <ul>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/thierre.jpg' alt='thierre-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Thierre Lorenzo</p>
                                        <p>Co-Fundador e Diretor Financeiro</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/eu.jpg' alt='lucas-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Lucas Neves</p>
                                        <p>Co-Fundador e Diretor de Tecnologia</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/iago.jpg' alt='iago-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Iago Boson</p>
                                        <p>Co-Fundador e Diretor Executivo</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/thiago.jpg' alt='thiago-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Thiago Hirano</p>
                                        <p>Co-Fundador e Diretor de Operações</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img"> <img class="lazyload" src="https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/pre-image.jpg" data-src='https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/maria.jpg' alt='maria-impressão-3d'> </div>
                                    <div class="single_team_text">
                                        <p style='color:#009fab; font-size:20px; margin:0px'>Maria Clara Monteiro</p>
                                        <p>Diretora de Marketing</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id=contact class="gray-bg padding-top-bottom">
        <div class=container>
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h2>CONTATO</h2>
                    <div class="subtitle">
                        <p>Alguma dúvida sobre o serviço que oferecemos? Entre em contato ou venha tomar um café conosco <i class="fa fa-coffee" aria-hidden="true"></i>.</p>
                    </div>
                    <div class="separator separator_escuro"></div>
                </div>
            </div>
            <%= simple_form_for @contato, html: { multipart: true, id:'contact-form' } do |f| %>
                <div class=row>
                    <div class="col-xs-12 col-sm-12 col-md-4 contact-info cta-message"><address><strong>BEEPRINTED</strong><br>EQN 406/407, Asa Norte<br>Edifício Salim Bittar*, Sl. 125<br>Brasília-DF 70847-400<br>contato@beeprinted.com.br<br>(61) 9 9996-0874<br>(61) 9 8235-1095<br><div style=font-size:16px>*Edifício da Smart Fit</div></address></div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d1">
                        <div class=form-group>
                                        <label class=control-label for=contact-name>Nome</label>
                                        <div class=controls>
                                            <input id=contact-name name=contato[name] placeholder=Nome class="form-control input-lg requiredField" type=text>
                                        </div>
                        </div>
                        <div class=form-group>
                            <label class=control-label for=contact-mail>Email</label>
                            <div class=controls>
                                <input id=contact-mail name=contato[email] placeholder=Email class="form-control input-lg requiredField" type=email>
                            </div>
                        </div>
                        <div class=form-group>
                            <label class=control-label for=contact-message>Mensagem</label>
                            <div class=controls>
                                <textarea id=contact-message name=contato[mensagem] placeholder=Mensagem class="form-control input-lg requiredField" rows=5></textarea>
                            </div>
                        </div>
                        <p>
                            <button name=submit type=submit class="btn btn-store btn-block" style='background-color:#3F315D'>Enviar Mensagem</button>
                        </p>
                        <input type=hidden name=commit id=contato_submit value="Enviar Mensagem">
                    </div>
                </div>
            <%end%>
        </div>
    </section>
    <footer id=main-footer class="dark-bg light-typo">
        <div class='w3-center'>
            <p>Impressão 3D e Prototipagem | BEEPRINTED</p>
        </div>
        <br>
        <br>
        <div class=container>
            <div class=row>
                <div class=w3-center>
                    <div class="col-md-4 col-sm-4 news anima fade-up">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Categorias</p><a href='' style=color:white title=Decoração><p style=margin-bottom:0px>Decoração</p></a><a href='' style=color:white title='Cultura Pop'><p style=margin-bottom:0px>Cultura Pop</p></a><a href='' style=color:white title=Utilidades><p style=margin-bottom:0px>Utilidades</p></a><a href='' style=color:white title=Diversão><p style=margin-bottom:0px>Diversão</p></a></div>
                    <div class="col-md-4 col-sm-4 anima fade-up d2">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Conteúdo</p><a href='' style=color:white title='Política de Envio, Trocas e Devoluções'><p style=margin-bottom:0px>Política de Envio, Trocas e Devoluções</p></a><a href='' style=color:white title='Política de Privacidade'><p style=margin-bottom:0px>Política de Privacidade</p></a>
                        <a href=#contact style=color:white title=Contato>
                            <p style=margin-bottom:0px>Fale Conosco</p>
                        </a><a href='' style=color:white title=Blog><p style=margin-bottom:0px>Blog</p></a></div>
                    <div class="col-md-4 col-sm-4 anima fade-up d2">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Social</p>
                        <div class='social-links text-center'>
                            <li><a href=https://www.instagram.com/beeprinted/ title=Instagram-Beeprinted><i class="fa fa-instagram bee15"></i></a></li>
                            <li><a href=https://www.facebook.com/beeprinted title=Facebook-Beeprinted><i class="fa fa-facebook bee15"></i></a></li>
                            <li><a href=#contact title=Contato><i class="fa fa-phone"></i></a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p class="pull-left copyright" style='margin-bottom:0px; font-size:16px'>Copyright © Beeprinted 2019.</p>
        </div>
        <div itemscope itemtype=http://data-vocabulary.org/Organization class=beehide>
            <h3 itemprop=name>Beeprinted – Impressão 3D de Ideias</h3>
            <p itemprop=tel>61 9 9996-0874</p>
            <p itemprop=address itemscope itemtype=http://data-vocabulary.org/Address><span itemprop=street-address>EQN 406/407 Prédio Salim Bitar, sala 125</span>,<span itemprop=locality>Asa Norte, Brasília</span>,<span itemprop=region>DF</span>.</p>
        </div>
    </footer>
    <!--<script type=text/javascript src='https://s3.amazonaws.com/beeprinted-stls/assets/indexnew10.js'></script> <script defer src="https://s3.amazonaws.com/beeprinted-stls/assets/Nova/assets/js/jquery.mixitup.min.js"></script>-->
    <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js"></script>
    <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/modernizr-custom-min.js"></script>
    <script defer>
        function loadStyleSheet(src) {
            if (document.createStyleSheet) {
                document.createStyleSheet(src);
            } else {
                $('head').append($('<link rel="stylesheet" href="' + src + '" type="text/css" media="screen">'));
            }
        }
        $(function() {
            if (stylesheets.length) {
                for (var i = 0; i < stylesheets.length; i++) {
                    loadStyleSheet(stylesheets[i]);
                }
            }
        });
        Modernizr.load({
            load: scripts,
            complete: function() {
                $.holdReady(false);
            }
        });
    </script>
</body>

</html>