 <div class="content">
    <div class="animated fadeIn">
        <div class="row">
        	<div class="" style='width:100%'>
        	<div class="card">
                <div class="card-header">
                    <i class="fa fa-user"></i><strong class="card-title pl-2">Meu Perfil</strong>
                </div>
                <div class="card-body" style='padding:0px'>
                    <div class="mx-auto d-block"  style='padding-top:20px'>
                        <img class="rounded-circle mx-auto d-block" src=<%if current_modeler.image.url(:profile)%><%=current_modeler.image.url(:profile)%><%else%>"https://beeprinted-stls.s3.amazonaws.com/Plataforma/Profile/user.jpg"<%end%> alt="Card image cap", style='border: 5px solid rgba(0,0,0,0.3);;width:150px'>
                        <h3 class="text-sm-center mt-2 mb-1"><%=current_modeler.name%></h3>
                        <div class="location text-sm-center"><i class="fa fa-map-marker"></i> Brasil</div>
                    </div>
                    <hr>
                		<div class="card-text text-sm-center" style='padding-bottom:20px'>
		                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
		                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
		                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
		                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                		</div>
                		<a href=<%=edit_hives_profile_path%>><div class="card-text text-sm-center" style='padding:10px; background-color:#3F315D; color:white'><strong>Editar</strong>
                		</div></a>
            	</div>
        	</div>
        	</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count"><%=@preco%></span>.00</div>
                                    <div class="stat-heading">Reais Recebidos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count"><%=@count%></span></div>
                                    <div class="stat-heading">Jobs Concluídos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-star"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">0</span>/5</div>
                                    <div class="stat-heading">Avaliação</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count"><%=@count%></span></div>
                                    <div class="stat-heading">Clientes Satisfeitos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Tipos de Jobs Finalizados</h4>
                                <div class="">
                                    <div id="chartdiv"></div>
                                </div>
                            </div>
                        </div><!-- /# card -->
                    </div><!-- /# column -->
            <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Entregues/Cancelados</h4>
                                <div class="">
                                    <div id="chartdiv2"></div>
                                </div>
                            </div>
                        </div><!-- /# card -->
                    </div><!-- /# column -->

                    
         </div><!-- /# row -->
    </div>
</div>

<style>
#chartdiv {
  width: 100%;
  height: 400px;
}
#chartdiv2 {
  width: 100%;
  height: 400px;
}

</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Add data
<%if @completa==0 && @ajuste==0 && @design==0 && @parcial==0%>


chart.data = [ {
  "tipo": "Modelagem Completa",
  "quantidade": 25
}, {
  "tipo": "Ajustes para Impressão",
  "quantidade": 25
}, {
  "tipo": "Design de Produto",
  "quantidade": 25
},
{
  "tipo": "Modelagem Parcial",
  "quantidade": 25
}
];



<%else%>

chart.data = [{
  "tipo": "Modelagem Completa",
  "quantidade": <%=@completa%>
}, {
  "tipo": "Ajustes para Impressão",
  "quantidade": <%=@ajuste%>
}, {
  "tipo": "Design de Produto",
  "quantidade": <%=@design%>
},
{
  "tipo": "Modelagem Parcial",
  "quantidade": <%=@parcial%>
}
];

<%end%>

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.fontSize =12;
pieSeries.dataFields.value = "quantidade";
pieSeries.dataFields.category = "tipo";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;

// This creates initial animation
pieSeries.hiddenState.properties.opacity = 1;
pieSeries.hiddenState.properties.endAngle = -90;
pieSeries.hiddenState.properties.startAngle = -90;

am4core.useTheme(am4themes_material);

var chart2 = am4core.create("chartdiv2", am4charts.PieChart);
chart2.fill = am4core.color("green");

// Add data
chart2.data = [ {
  "country": "Cancelados",
  "litres": 0
}, {
  "country": "Finalizados",
  "litres": 100
}];

// Add and configure Series
var pieSeries = chart2.series.push(new am4charts.PieSeries());
pieSeries.fontSize =12;
pieSeries.colors.list = [
  am4core.color("red"),
  am4core.color("#009fab")
];
pieSeries.dataFields.value = "litres";
pieSeries.dataFields.category = "country";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;

// This creates initial animation
pieSeries.hiddenState.properties.opacity = 1;
pieSeries.hiddenState.properties.endAngle = -90;
pieSeries.hiddenState.properties.startAngle = -90;

}); // end am4core.ready()
</script>