<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/mathjs/dist/math.min.js"></script>
  <script>
  $( function() {
    $( "#orcamento_dataretorno" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#orcamento_dataultimo" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#orcamento_prazo_final" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#adicionado_dataretorno" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#adicionado_dataultimo" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#adicionado_prazo_final" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#modeling_dataretorno" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#modeling_dataultimo" ).datepicker({dateFormat: 'dd/mm/y'});
    $( "#modeling_prazo_final" ).datepicker({dateFormat: 'dd/mm/y'});
  } );
  var servicos_quant = 0;
  </script>
<style>
body{
    font-size:14px;
}
.form-control.is-valid{
    border: 1px solid #ced4da;
}
.form-group{
    margin-bottom: 5px;
}
.form-control{
    padding: 0rem .4rem .1rem .2rem;
    font-size: 0.9rem;
    height: calc(1.50rem + 2px);
    border-radius: 0px;
    border-right:0.8px;
}
.remove_fields{
    color:red;
}
.card .card-body {
    padding: 1em;
}

 .loader-orcamento{
    position: fixed;
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: no-repeat #f9f9f9;
 }

</style>

<div class="content">
    <h3>Pedido de Orçamento #<%=orcamento.identificador%></h3>
    <hr>
    <div class="animated fadeIn" style='margin-top:40px'>
        <%if orcamento.status == "Entregue"%>
        <div class="card">
            <div class="card-header" style=color:green>
                <strong>Enviar</strong> Formulário de Avaliaçao
            </div>
            <%=simple_form_for(orcamento, :url => { :action => :enviar_avaliacao , :id => orcamento.identificador}) do |f|%>
            <div class="card-body card-block form-inline">
                <%=f.submit "Enviar Formulário de Avaliaçao", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center" %>
                    
            </div>
            <%end%>
        </div>
        <%end%>
        <div class="card">
            <div class="card-header" style=color:green>
                <strong>Editar</strong> Status
            </div>
            <%=simple_form_for(orcamento, :url => { :action => :update , :tipo => orcamento.class.name.demodulize}) do |f|%>
            <div class="card-body card-block form-inline">
                    <div class="form-group" style='margin-left:10px'><label style='padding-right:10px; color:green'>Status </label><%= f.input :status, label: false, :collection => ["New", "Briefing", "Negociação","Proposta Env", "Fechado", "No bid", "Entregue", "Cancelado"]%></div>
                    <div class="form-group" style='margin-left:30px'><label style='padding-right:10px'>Data 1° retorno </label><%= f.input :dataretorno, label: false%></div>
                    <div class="form-group" style='margin-left:30px'><label style='padding-right:10px'>Último Contato </label><%= f.input :dataultimo, label: false%></div>
                    <div class="form-group" style='margin-left:30px'><label style='padding-right:10px'>Prazo Final </label><%= f.input :prazo_final, label: false%></div>
            </div>
            <div class="card-footer">
                <%=f.submit "Atualizar Pedido", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center" %>
            </div>
            <%end%>
        </div>

        <div class="card">
            <div class="card-header" style='color:green'>
                <strong>Informações</strong> para Documento
            </div>
            <%=simple_form_for(orcamento, :url => { :action => :update , :tipo => orcamento.class.name.demodulize, calculo: true}) do |f|%>
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Versão</label></div>
                        <div class="col-12 col-md-1">
                            <%= f.input :versao, label: false%>
                        </div>
                    </div>
                    <hr>
                </div>




                <div class="card-body card-block" style='padding-top:0px'>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Nome</label></div>
                        <div class="col-12 col-md-5">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-5">
                            <%= f.input :sobrenome, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Empresa</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :empresa, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Email</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :email, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Telefone</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :telefone, label: false%>
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>


                <div class="card-body card-block">
                    <div class='row form-group' style='font-size:13px;color:#666'>
                        <div class='col col-md-2 text-center' style="padding:0px;padding-left:15px">
                            <span style="margin:0px"><strong>Serviços</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor Unit</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Quant.</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor TT</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Prazo (dias)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong></strong></span>
                        </div>
                    </div>


                    <div id="servicos">

                                <%= f.fields_for :servicos do |servico| %>
                                    <%= render 'servico_fields', f: servico %>
                                <% end %>
                                <div class="links">
                                    <%= link_to_add_association 'Adicionar Item', f, :servicos %>
                                </div>
                    </div>
                    <p style='font-size: 13px; color:black'>*O valor TT do serviço "Impressao 3D" nao é considerado no cálculo do orçamento final.</p>
                    <hr>
                </div>




                <div class="card-body card-block">
                    <div class='row form-group' style='font-size:13px;color:#666'>
                        <div class='col col-md-2 text-center' style="padding:0px;padding-left:15px">
                            <span style="margin:0px"><strong>Item</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Tempo (min)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Massa (g)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor Unit (R$)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Quant.</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Total (R$)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Resolução</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Infill (%)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Cor</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong>Material</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong></strong></span>
                        </div>
                    </div>


                    <div id="items">

                                <%= f.fields_for :items do |item| %>
                                    <%= render 'item_fields', f: item %>
                                <% end %>
                                <div class="links">
                                    <%= link_to_add_association 'Adicionar Item', f, :items %>
                                </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>




                <div class="card-body card-block">
                    <!--<div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Projeto  </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Valor Frete</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :name, label: false%>
                        </div>
                    </div>-->
                    <!--<div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Modelagem  </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Prazo de Entrega</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :name, label: false%>
                        </div>
                    </div>-->
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Impressao </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :tempo_impressao, label: false, :input_html =>{style:"background-color:#e2e2e2", class:'tempo_impressao'}%>
                        </div>
                        <!--<div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>-->
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Valor Frete</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :frete, label: false, :input_html =>{class:'valor_frete'}%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Setup</label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :tempo_setup, label: false%>
                        </div>
                        <!--<div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>-->
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Prazo Correios</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :prazo_orc, label: false, :input_html =>{class:'prazo_orc'}%>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>


                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Prazo Desejado</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :prazo_desejado, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right; color:green'><strong>VALOR DO ORÇAMENTO</strong></label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :valor, label: false, :input_html =>{style:"background-color:#e2e2e2", class:'valor_orcamento'}%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Prazo Total (dias úteis)</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :tempo_execucao, label: false, :input_html =>{class:'tempo_execucao'}%>
                        </div>
                    </div>
                </div>




                <div class="card-footer">
                <%=f.submit "Gerar Documento", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center",:formtarget => "_blank", id:"gerar_documento", onclick: '$(".loader-orcamento").fadeIn()' %>
            </div>
            <%end%>
        </div>
    </div>
</div>



<div class='loader-orcamento text-center' style='display:none;padding-top: 150px'>
  <div class=loader-bee><%=image_tag 'https://ds76otpcq42vd.cloudfront.net/Revisao_Bee7.0/Assets/Imagens/LoadGIF.gif', id:'item-1', style:'margin-left:auto;margin-right:auto;width:100px; margin-bottom:15px', alt:'loader-beeprinted-impressão-3D' %>
    <h3 style='color:#616161'><strong>Salvando...</strong></h3>
  </div>
</div>




<script>
$('#gerar_documento').click(function() {
    setTimeout(function() {
        location.reload();
    }, 3000);
});
</script>


<script> 

  $('.servico_quant, .servico_unit').change(function(){
    valor_unit = $(this).closest(".row").find('.servico_unit').val();
    quantidade = $(this).closest(".row").find('.servico_quant').val();
    valor = (valor_unit*quantidade).toFixed(2);
    $(this).closest(".row").find('.servico_valor').val(valor);

    Atualizar($(this));

  });
  $('.item_tempo, .item_massa, .item_quant').change(function(){
    $(this).closest(".row").find('.item_tempo').val(math.eval($(this).closest(".row").find('.item_tempo').val()));
    var tempo_total = 0;
    $('.item_tempo').each(function(){
        tempo_total += parseFloat(this.value)*$(this).closest(".row").find('.item_quant').val();
    });
    var taxa = 0;
    if(tempo_total > 1000){
        taxa = 0.05
        if (tempo_total > 2500){
            taxa = 0.1
            if(tempo_total > 5000){
                taxa = 0.15
                if (tempo_total > 10000){
                    taxa = 0.3
                    if (tempo_total > 15000){
                        taxa = 0.4
                    }
                }
            }
        }
    }

    $('.item_valor_unit').each(function(){
        tempo = $(this).closest(".row").find('.item_tempo').val();
        massa = $(this).closest(".row").find('.item_massa').val();
        quantidade = $(this).closest(".row").find('.item_quant').val();

        valor_unit = (tempo*0.24*(1-taxa) + massa*0.28).toFixed(2);
        $(this).closest(".row").find('.item_valor_unit').val(valor_unit);
        valor = (valor_unit*quantidade).toFixed(2);
        $(this).closest(".row").find('.item_valor').val(valor);

    });

    $(this).closest("form").find('.tempo_impressao').val((tempo_total/60).toFixed(1));
    Atualizar($(this));

  });

  $('.valor_frete').change(function(){
    Atualizar($(this));
  });

  $('.servico_prazo, .prazo_orc').change(function(){
    tempo_execucao = 0
    $('.servico_prazo').each(function(){
        tempo_execucao += parseFloat(this.value);
    });
    tempo_execucao = tempo_execucao + parseFloat($(this).closest("form").find('.prazo_orc').val());
    $(this).closest("form").find('.tempo_execucao').val(tempo_execucao);

  });





  function Atualizar(p) {
       items_valor = 0
    $('.item_valor').each(function(){
        items_valor += parseFloat(this.value);
    });

    servicos_valor = 0
    $('.servico_valor').each(function(){
        if($(this).closest(".row").find('.servico_name').val() != "Impressão 3D"){
            servicos_valor += parseFloat(this.value);
        }
    });

    frete = p.closest("form").find('.valor_frete').val();

    valor_orcamento = (items_valor + servicos_valor + parseFloat(frete)).toFixed(2);

    p.closest("form").find('.valor_orcamento').val(valor_orcamento);
  }
</script>