<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#orcamento_dataretorno" ).datepicker();
    $( "#orcamento_dataultimo" ).datepicker();
    $( "#adicionado_dataretorno" ).datepicker();
    $( "#adicionado_dataultimo" ).datepicker();
    $( "#modeling_dataretorno" ).datepicker();
    $( "#modeling_dataultimo" ).datepicker();
  } );
  </script>
<style>
body{
    font-size:14px;
}
.form-control.is-valid{
    border: 1px solid #ced4da;
}
.form-group{
    margin-bottom: 5px;
}
.form-control{
    padding: 0rem .4rem .1rem .2rem;
    font-size: 0.9rem;
    height: calc(1.50rem + 2px);
    border-radius: 0px;
    border-right:0.8px;
}
.remove_fields{
    color:red;
}
.card .card-body {
    padding: 1em;
}
</style>

<div class="content">
    <h3>Pedido de Orçamento #<%=orcamento.identificador%></h3>
    <hr>
    <div class="animated fadeIn" style='margin-top:40px'>
        <div class="card">
            <div class="card-header" style=color:green>
                <strong>Editar</strong> Status
            </div>
            <%=simple_form_for(orcamento, :url => { :action => :update , :tipo => orcamento.class.name.demodulize}) do |f|%>
            <div class="card-body card-block form-inline">
                    <div class="form-group" style='margin-left:10px'><label style='padding-right:10px; color:green'>Status </label><%= f.input :status, label: false, :collection => ["New", "Briefing", "Negociação","Proposta Env", "Fechado", "No bid"]%></div>
                    <div class="form-group" style='margin-left:30px'><label style='padding-right:10px'>Data 1° retorno </label><%= f.input :dataretorno, label: false%></div>
                    <div class="form-group" style='margin-left:30px'><label style='padding-right:10px'>Último Contato </label><%= f.input :dataultimo, label: false%></div>
            </div>
            <div class="card-footer">
                <%=f.submit "Atualizar Pedido", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center" %>
            </div>
            <%end%>
        </div>

        <div class="card">
            <div class="card-header" style='color:green'>
                <strong>Informações</strong> para Documento
            </div>
            <%=simple_form_for(orcamento, :url => { :action => :update , :tipo => orcamento.class.name.demodulize, calculo: true}) do |f|%>
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Versão</label></div>
                        <div class="col-12 col-md-1">
                            <%= f.input :versao, label: false%>
                        </div>
                    </div>
                    <hr>
                </div>




                <div class="card-body card-block" style='padding-top:0px'>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Nome</label></div>
                        <div class="col-12 col-md-5">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-5">
                            <%= f.input :sobrenome, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Empresa</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :empresa, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Email</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :email, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Telefone</label></div>
                        <div class="col-12 col-md-10">
                            <%= f.input :telefone, label: false%>
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>


                <div class="card-body card-block">
                    <div class='row form-group' style='font-size:13px;color:#666'>
                        <div class='col col-md-2 text-center' style="padding:0px;padding-left:15px">
                            <span style="margin:0px"><strong>Serviços</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor Unit</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Quant.</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor TT</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Prazo (dias)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong></strong></span>
                        </div>
                    </div>


                    <div id="servicos">

                                <%= f.fields_for :servicos do |servico| %>
                                    <%= render 'servico_fields', f: servico %>
                                <% end %>
                                <div class="links">
                                    <%= link_to_add_association 'Adicionar Item', f, :servicos %>
                                </div>
                    </div>
                    <hr>
                </div>




                <div class="card-body card-block">
                    <div class='row form-group' style='font-size:13px;color:#666'>
                        <div class='col col-md-2 text-center' style="padding:0px;padding-left:15px">
                            <span style="margin:0px"><strong>Item</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Tempo (min)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Massa (g)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Valor Unit (R$)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Quant.</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Total (R$)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Resolução</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Infill (%)</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px">
                            <span style="margin:0px"><strong>Cor</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong>Material</strong></span>
                        </div>
                        <div class='col text-center' style="padding:0px; padding-right:15px">
                            <span style="margin:0px"><strong></strong></span>
                        </div>
                    </div>


                    <div id="items">

                                <%= f.fields_for :items do |item| %>
                                    <%= render 'item_fields', f: item %>
                                <% end %>
                                <div class="links">
                                    <%= link_to_add_association 'Adicionar Item', f, :items %>
                                </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>




                <div class="card-body card-block">
                    <!--<div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Projeto  </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Valor Frete</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :name, label: false%>
                        </div>
                    </div>-->
                    <!--<div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Modelagem  </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Prazo de Entrega</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :name, label: false%>
                        </div>
                    </div>-->
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Impressao </label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :tempo_impressao, label: false, :input_html =>{style:"background-color:#e2e2e2"}%>
                        </div>
                        <!--<div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>-->
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Valor Frete</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :frete, label: false%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Setup</label></div>
                        <div class="col-12 col-md-2">
                            <%= f.input :tempo_setup, label: false%>
                        </div>
                        <!--<div class="col-12 col-md-2">
                            <%= f.input :name, label: false%>
                        </div>-->
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right'>Prazo de Entrega</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :prazo_orc, label: false%>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>


                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Prazo Desejado</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :prazo_desejado, label: false%>
                        </div>
                        <div class="col col-md-2"><label class=" form-control-label" style='float:right; color:green'><strong>VALOR DO ORÇAMENTO</strong></label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :valor, label: false, :input_html =>{style:"background-color:#e2e2e2"}%>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2"><label class=" form-control-label">Tempo de Execuçao Total (dias)</label></div>
                        <div class="col-12 col-md-4">
                            <%= f.input :tempo_execucao, label: false%>
                        </div>
                    </div>
                </div>




                <div class="card-footer">
                <%=f.submit "Gerar Documento", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center" %>
            </div>
            <%end%>
        </div>
    </div>
</div>