<!-- COMENTÁRIO:
  Dentro da partial todo conteúdo deve estar dentro de uma div .nested-fields
-->

<style>

.new-button {
    display: inline-block;
    padding: 6px 8px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: #009fab;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153,153,153);
}
.button-wrap {
  position: relative;
}
</style>


<div class="nested-fields">
  <div class="field">
  <div class='row form-group' style="margin-bottom:0px">
    <div class="col col-md-2" style="padding:0px;padding-left:15px">
      <%= f.input :name, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :tempo, label: false, :input_html =>{class:"item_tempo", type:'string'}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :massa, label: false, :input_html =>{class:"item_massa"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :valor_unit, label: false, :input_html =>{style:"background-color:#e2e2e2",class:"item_valor_unit"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :quantidade, label: false, :input_html =>{class:"item_quant"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :valor, label: false, :input_html =>{style:"background-color:#e2e2e2",class:"item_valor"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :resolucao, label: false, :collection => ["Baixa", "Normal", "Alta","Ultra"]%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :infill, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :cor, label: false, :collection => ["Preto", "Branco", "Vermelho","Verde","Azul","Laranja","Roxo", "Amarelo", "Colorido"]%>
    </div>
    <div class="col" style="padding:0px;">
      <%= f.input :material, label: false, :collection => ["PLA", "ABS"]%>
    </div>
    <div class="col text-center" style="padding:0px; padding-right:15px;color:red">
      <strong><%= link_to_remove_association "x", f %></strong>
    </div>
  </div>
  <div class='row form-group button-wrap' style="margin:0">
  <%if f.object.attachment.url != nil%>
  <%=f.label :attachment, "#{File.basename(f.object.attachment.url)}",class:"new-button"%>
  <%else%>
    <%=f.label :attachment, "Adicionar Arquivo",class:"new-button"%>
  <%end%>
  <%= f.input :attachment,label:false, :input_html =>{class:"custom-file-input"}%>
  </div>
  </div>
  <!-- COMENTÁRIO:
    link_to_remove_association é o helper que o cocoon nos fornece para deletar algum nested
  -->
</div>
<script>

  $('.remove_fields').click(function(){
    $(this).closest(".nested-fields").hide();
    Atualizar($(this));

  });


  $('.servico_quant, .servico_unit').change(function(){
    valor_unit = $(this).closest(".row").find('.servico_unit').val();
    quantidade = $(this).closest(".row").find('.servico_quant').val();
    valor = (valor_unit*quantidade).toFixed(2);
    $(this).closest(".row").find('.servico_valor').val(valor);

    Atualizar($(this));

  });
  $('.item_tempo, .item_massa, .item_quant').change(function(){
    $(this).closest(".row").find('.item_tempo').val(math.eval($(this).closest(".row").find('.item_tempo').val()));
    var tempo_total = 0;
    $('.item_tempo').each(function(){
        tempo_total += parseFloat(this.value)*$(this).closest(".row").find('.item_quant').val();
    });
    var taxa = 0;
    if(tempo_total > 1000){
        taxa = 0.05
        if (tempo_total > 2500){
            taxa = 0.1
            if(tempo_total > 5000){
                taxa = 0.15
                if (tempo_total > 10000){
                    taxa = 0.3
                    if (tempo_total > 15000){
                        taxa = 0.4
                    }
                }
            }
        }
    }

    $('.item_valor_unit').each(function(){
        tempo = $(this).closest(".row").find('.item_tempo').val();
        massa = $(this).closest(".row").find('.item_massa').val();
        quantidade = $(this).closest(".row").find('.item_quant').val();

        valor_unit = (tempo*0.24*(1-taxa) + massa*0.28).toFixed(2);
        $(this).closest(".row").find('.item_valor_unit').val(valor_unit);
        valor = (valor_unit*quantidade).toFixed(2);
        $(this).closest(".row").find('.item_valor').val(valor);

    });

    $(this).closest("form").find('.tempo_impressao').val((tempo_total/60).toFixed(1));
    Atualizar($(this));

  });

  $('.valor_frete').change(function(){
    Atualizar($(this));
  });

  $('.servico_prazo, .prazo_orc').change(function(){
    tempo_execucao = 0
    $('.servico_prazo').each(function(){
        tempo_execucao += parseFloat(this.value);
    });
    tempo_execucao = tempo_execucao + parseFloat($(this).closest("form").find('.prazo_orc').val());
    $(this).closest("form").find('.tempo_execucao').val(tempo_execucao);

  });





  function Atualizar(p) {
       items_valor = 0;
    $('.item_valor').each(function(){
        if($(this).closest(".nested-fields").css('display') != 'none'){
        if(!isNaN(parseFloat(this.value))) {
            items_valor += parseFloat(this.value);
            console.log(parseFloat(this.value));
        }
        }
    });

    servicos_valor = 0
    $('.servico_valor').each(function(){
        if($(this).closest(".nested-fields").css('display') != 'none'){
        if($(this).closest(".row").find('.servico_name').val() != "Impressão 3D"){
            if(!isNaN(parseFloat(this.value))){
                servicos_valor += parseFloat(this.value);
            }
        }
      }
    });

    if(!isNaN(p.closest("form").find('.valor_frete').val())){
        frete = p.closest("form").find('.valor_frete').val();
    }
    else{
        frete = 0;
    }

    valor_orcamento = (items_valor + servicos_valor + parseFloat(frete)).toFixed(2);

    if((valor_orcamento-frete) < 25){
        valor_orcamento = 25+parseFloat(frete);
    }

    $('.valor_orcamento').val(valor_orcamento);
  }
</script>
<script>
$("[type=file]").on("change", function(){
  // Name of file and placeholder
  var file = this.files[0].name;
  var dflt = $(this).attr("placeholder");
  if($(this).val()!=""){
    $(this).closest(".button-wrap").find('.new-button').text(file);
  } else {
    $(this).closest(".button-wrap").find('.new-button').text(dflt);
  }
});

</script>