<!-- COMENTÁRIO:
  Dentro da partial todo conteúdo deve estar dentro de uma div .nested-fields
-->
<div class="nested-fields">
  <div class="field">
  <div class='row form-group' style="margin-bottom:0px">
    <div class="col col-md-2" style="padding:0px;padding-left:15px">
      <%= f.input :name, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :tempo, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :massa, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :valor_unit, label: false, :input_html =>{style:"background-color:#e2e2e2"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :quantidade, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :valor, label: false, :input_html =>{style:"background-color:#e2e2e2"}%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :resolucao, label: false, :collection => ["Baixa", "Normal", "Alta","Ultra"]%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :infill, label: false%>
    </div>
    <div class="col" style="padding:0px">
      <%= f.input :cor, label: false, :collection => ["Preto", "Branco", "Vermelho","Verde","Azul","Laranja","Roxo", "Outra"]%>
    </div>
    <div class="col" style="padding:0px;">
      <%= f.input :material, label: false, :collection => ["PLA", "ABS"]%>
    </div>
    <div class="col text-center" style="padding:0px; padding-right:15px;color:red">
      <strong><%= link_to_remove_association "x", f %></strong>
    </div>
  </div>
  </div>
  <!-- COMENTÁRIO:
    link_to_remove_association é o helper que o cocoon nos fornece para deletar algum nested
  -->
</div>