<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#adicionado_data" ).datepicker({dateFormat: 'dd/mm/yy'});
  } );
  </script>
<style>
.form-control{
    font-size:11px;
}
</style>
<div class="row" style='overflow:auto'>
    <div class="card">
        <%if !@sem_mes%>
            <div class="card-header">
                <strong class="card-title">Mês de <%=mes%></strong>
                <span>Download: <%= link_to "XLS", system_path(mes: @mes_num,format: "xls") %></span>
            </div>
        <%end%>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Canal</th>
                        <th>Responsável</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Estado</th>
                        <th>CEP</th>
                        <th>Empresa</th>
                        <th>Descricao</th>
                        <th>Status</th>
                        <th>Alerta</th>
                        <th>Valor</th>
                        <th>Frete</th>
                        <th>Criado em</th>
                        <th>Data 1° retorno</th>
                        <th>Último Contato</th>
                        <th>Prazo Final</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <%= simple_form_for @adicionado, html: { multipart: true, class:'' },style:'color:#616161' do |f| %>
                        <tr>
                            <td></td>
                            <td><%= f.input :name, label:false, placeholder:"Nome",:input_html=>{style:'color:#777;'} %></td>
                            <td><%= f.input :canal, prompt:"Canal", :collection => ["Upload", "Modelagem", "Email","Contato", "Telefone", "Whatsapp", "Mouth"],label:false,:input_html=>{style:'color:#999;margin-bottom:0px'} %></td>
                            <td><%= f.input :responsavel, prompt:"Resp.", :collection => ["Iago", "Thierre", "Thiago"],label:false,:input_html=>{style:'color:#999;margin-bottom:0px'} %></td>
                            <td><%= f.input :email, label:false, placeholder:"Email",:input_html=>{style:'color:#777;'} %></td>
                            <td><%= f.input :telefone, label:false, placeholder:"Telefone",:input_html=>{style:'color:#777;'} %></td>
                            <td><%= f.input :estado, prompt:"Estado", :collection => ["Acre", "Alagoas", "Amapá","Amazonas", "Bahia", "Ceará","Distrito Federal", "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte","Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina", "São Paulo", "Segipe", "Tocantins"],label:false,:input_html=>{style:'color:#999;margin-bottom:0px'} %></td>
                            <td><%= f.input :cep, label:false, placeholder:"CEP",:input_html=>{style:'color:#777;'} %></td>
                            <td><%= f.input :empresa, label:false, placeholder:"Empresa",:input_html=>{style:'color:#777;'} %></td>
                            <td><%= f.input :description, label:false, placeholder:"Descriçao",:input_html=>{style:'color:#777;'} %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><%= f.input :data, label:false, placeholder:"Data",:input_html=>{style:'color:#777;'} %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><%=f.submit "Adicionar pedido", style:"font-weight:bold;font-size:11px;color:white;background-color:#009fab", class:"btn btn-default dropdown-toggle font-bold w3-center" %></td>

                        </tr>
                        <%orcamentos.each_with_index do |orcamento,index|%>
                            <tr <%if orcamento.status == "Cancelado"%> style='background-color:#d2d2d2' <%end%>>


                                <td>
                                    <%if orcamento.class.name.demodulize == "Orcamento"%>
                                        <a href=<%=system_upload_path(orcamento.id)%>>
                                    <%elsif orcamento.class.name.demodulize == "Modeling"%>
                                        <a href=<%=system_modelagem_path(orcamento.id)%>>
                                    <%elsif orcamento.class.name.demodulize == "Adicionado"%>
                                        <a href=<%=system_adicionado_path(orcamento.id)%>>
                                    <%end%>
                                    <span class='id'> #<%=orcamento.identificador%> </span>
                                </td>


                                <td>  <a href=<%=system_path(name: "#{orcamento.name} #{orcamento.sobrenome}")%>><span class="name"><%=orcamento.name%> <%=orcamento.sobrenome%></span> </a></td>
                                
                                <td> <span class=""><%=orcamento.canal%></span> </td>

                                <td class='text-center' <%if orcamento.responsavel=="Iago"%> style="color:white;background-color:#009fab;"<%elsif orcamento.responsavel=="Thierre"%> style="color:white;background-color:#3F315D"<%end%>>
                                    <strong><%= orcamento.responsavel%></strong>
                                </td>



                                <td> <a href=<%=system_path(email: orcamento.email)%>><span class="product"><%=orcamento.email%></span> </a></td>


                                <td><span class=""><%=orcamento.telefone%></span></td>
                                <td><span class=""><%=orcamento.estado%></span></td>
                                <td><span class=""><%=orcamento.cep%></span></td>
                                <td><span class=""><%=orcamento.empresa%></span></td>
                                <td width="200"><span>
                                <%if orcamento.description%>
                                <% if orcamento.description.length > 15%>
                                    <%= truncate(orcamento.description, length: 15) %>
                                    <%= link_to "Mais", "", class: "read-more-orcamento-#{orcamento.id}" %>
                                    <script>
                                      $('.read-more-orcamento-<%= orcamento.id %>').on('click', function(e) {
                                            e.preventDefault()
                                           $(this).parent().html('<%= escape_javascript orcamento.description %>')
                                       })
                                    </script>
                                <% else %>
                                    <%= orcamento.description %>
                                <% end %>
                                <%end%>
                                </span></td>
                                <td class='text-center' <%if orcamento.status=="New"%> style="color:white;background-color:red;"<%elsif orcamento.status=="Fechado"%> style="color:white;background-color:#00c292"<%elsif orcamento.status=="Briefing"%> style="color:white;background-color:#fb9678"<%elsif orcamento.status=="Proposta Env"%> style="color:white;background-color:#ab8ce4"<%elsif orcamento.status=="Negociação"%> style="color:white;background-color:#5c6bc0"<%elsif orcamento.status=="Entregue"%> style="color:white;background-color:#3F315D"<%end%>>
                                    <strong><%= orcamento.status%></strong>
                                </td>
                                <%if orcamento.status == "New" && orcamento.created_at < 1.days.ago%>
                                    <td class='text-center' style="color:white;background-color:red;">
                                            <strong>Atrasado!</strong>
                                    </td>
                                <%elsif orcamento.dataultimo != "-" && orcamento.status == "Proposta Env" && DateTime.parse(orcamento.dataultimo).strftime("%A, %d %b %Y %l:%M %p") < 3.days.ago%>
                                    <td class='text-center' style="color:white;background-color:#3F315D;">
                                            <strong>Retargeting!</strong>
                                    </td>
                                <%else%>
                                    <td class='text-center'></td>
                                <%end%>

                                <td class='text-center'><%=orcamento.valor%></td>
                                <td class='text-center'><%=orcamento.frete%></td>
                                <%if orcamento.class.name.demodulize == "Adicionado"%>
                                    <td><%=orcamento.data%></td>
                                <%else%>    
                                    <td><%=orcamento.created_at.strftime("%d/%m/%Y")%></td>
                                <%end%>
                                <td class='text-center'><%=orcamento.dataretorno%></td>
                                <td class='text-center'><%=orcamento.dataultimo%></td>
                                <td class='text-center'><%=orcamento.prazo_final%></td>
                                <td>
                                    <%if orcamento.class.name.demodulize == "Orcamento"%>
                                        <a href=<%=system_upload_path(orcamento.id)%>>
                                    <%elsif orcamento.class.name.demodulize == "Modeling"%>
                                        <a href=<%=system_modelagem_path(orcamento.id)%>>
                                    <%elsif orcamento.class.name.demodulize == "Adicionado"%>
                                        <a href=<%=system_adicionado_path(orcamento.id)%>>
                                    <%end%>
                                    <span class="badge badge-complete" style=''><strong>Editar Informaçoes</strong></span>
                                    </a>
                                </td>
                            </tr>
                        <%end%>
                    <%end%>
                </tbody>
            </table>
        </div> <!-- /.table-stats -->
     </div>

</div><!-- .row -->
   <br>
    <br>