<style>
.table-stats table th, .table-stats table td {
  border: 5px solid #e8e9ef !important;
  padding: 1.25em 2.75em;
  font-size:15px;
}
.pessoa{
  background-color: #a2a2a2;
}
.pessoa td {
  padding: 0.3em 2.75em !important;
  font-size: 15px !important;
  color: white !important;
}

</style>
<div class="content">
  <h3>Farol de Atendimento - <%=@mes%></h3>
  <div class="dropdown">
    <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%=@mes%> <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </a>
    <div class="user-menu dropdown-menu">
      <a class="nav-link" href="<%=request.path%>?mes=1">Janeiro</a>
      <a class="nav-link" href="<%=request.path%>?mes=2">Fevereiro</a>
      <a class="nav-link" href="<%=request.path%>?mes=3">Março</a>
      <a class="nav-link" href="<%=request.path%>?mes=4">Abril</a>
      <a class="nav-link" href="<%=request.path%>?mes=5">Maio</a>
      <a class="nav-link" href="<%=request.path%>?mes=6">Junho</a>
      <a class="nav-link" href="<%=request.path%>?mes=7">Julho</a>
      <a class="nav-link" href="<%=request.path%>?mes=8">Agosto</a>
      <a class="nav-link" href="<%=request.path%>?mes=9">Setembro</a>
      <a class="nav-link" href="<%=request.path%>?mes=10">Outubro</a>
      <a class="nav-link" href="<%=request.path%>?mes=11">Novembro</a>
      <a class="nav-link" href="<%=request.path%>?mes=12">Dezembro</a>
    </div>
  </div> 
  <hr>
  <div class="animated fadeIn w3-center">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header" style=color:green>
          <strong><%=@mes%></strong>
        </div>
        <div class="table-stats order-table ov-h">
          <table class="table text-center" style='margin-bottom:0px'>
            <thead>
              <tr>
                <th>Farol</th>
                <th>Meta</th>
                <th>Real</th>
                <th>% vs Meta</th>
                <th>GAP</th>
                <th>M-1</th>
                <th>% vs M-1</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style='background-color:#009fab;color:white'><strong>Atendimentos</strong></td>
                <td><%=@atendimentos_meta%></td>
                <td><%=@atendimentos%></td>
                <%if @atendimentos_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@atendimentos.to_f/@atendimentos_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.0f' %  (@atendimentos.to_f - @atendimentos_meta.to_f)%></td>
                <td><%=@atendimentos_ant%></td>
                <%if @atendimentos_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@atendimentos.to_f/@atendimentos_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>

              <tr class='pessoa'>
                <td class='text-right'><strong>Thierre</strong></td>
                <td><%=@atendimentos_meta_thierre%></td>
                <td><%=@atendimentos_thierre%></td>
                <%if @atendimentos_meta_thierre.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atendimentos_thierre.to_f/@atendimentos_meta_thierre.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@atendimentos_thierre.to_f - @atendimentos_meta_thierre.to_f)%></td>
                <td><%=@atendimentos_ant_thierre%></td>
                <%if @atendimentos_ant_thierre.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atendimentos_thierre.to_f/@atendimentos_ant_thierre.to_f)*100)%>%</span></td>
                <%end%>

              </tr>

              <tr class='pessoa'>
                <td class='text-right'><strong>Iago</strong></td>
                <td><%=@atendimentos_meta_iago%></td>
                <td><%=@atendimentos_iago%></td>
                <%if @atendimentos_meta_iago.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atendimentos_iago.to_f/@atendimentos_meta_iago.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@atendimentos_iago.to_f - @atendimentos_meta_iago.to_f)%></td>
                <td><%=@atendimentos_ant_iago%></td>
                <%if @atendimentos_ant_iago.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atendimentos_iago.to_f/@atendimentos_ant_iago.to_f)*100)%>%</span></td>
                <%end%>

              </tr>


              <tr>
                <td style='background-color:#009fab;color:white'><strong>Propostas Enviadas</strong></td>
                <td><%=@propostas_meta%>%</td>
                <td><%=@propostas%>%</td>
                <%if @propostas_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@propostas.to_f/@propostas_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@propostas.to_f - @propostas_meta.to_f)%>%</td>
                <td><%=@propostas_ant%></td>
                <%if @propostas_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@propostas.to_f/@propostas_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr class='pessoa'>
                <td class='text-right'><strong>Thierre</strong></td>
                <td><%=@propostas_thierre_meta%>%</td>
                <td><%=@propostas_thierre%>%</td>
                <%if @propostas_thierre_meta.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@propostas_thierre.to_f/@propostas_thierre_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@propostas_thierre.to_f - @propostas_thierre_meta.to_f)%>%</td>
                <td><%=@propostas_thierre_ant%></td>
                <%if @propostas_thierre_ant.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@propostas_thierre.to_f/@propostas_thierre_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr class='pessoa'>
                <td class='text-right'><strong>Iago</strong></td>
                <td><%=@propostas_iago_meta%>%</td>
                <td><%=@propostas_iago%>%</td>
                <%if @propostas_iago_meta.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@propostas_iago.to_f/@propostas_iago_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@propostas_iago.to_f - @propostas_iago_meta.to_f)%>%</td>
                <td><%=@propostas_iago_ant%></td>
                <%if @propostas_iago_ant.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@propostas_iago.to_f/@propostas_iago_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr>
                <td style='background-color:#009fab;color:white'><strong>Propostas Convertidas (%)</strong></td>
                <td><%=@propostas_por_meta%>%</td>
                <td><%=@propostas_por%>%</td>
                <%if @propostas_por_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@propostas_por.to_f/@propostas_por_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@propostas_por.to_f - @propostas_por_meta.to_f)%>%</td>
                <td><%=@propostas_por_ant%>%</td>
                <%if @propostas_por_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@propostas_por.to_f/@propostas_por_ant.to_f)*100)%>%</span></td>
                <%end%>


              </tr>

              <tr>
                <td style='background-color:#009fab;color:white'><strong>Propostas Convertidas (N°)</strong></td>
                
                <td><%=@convertidos_meta%></td>
                <td><%=@convertidos%></td>
                <%if @convertidos_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@convertidos.to_f/@convertidos_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@convertidos.to_f - @convertidos_meta.to_f)%></td>
                <td><%=@convertidos_ant%></td>
                <%if @convertidos_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@convertidos.to_f/@convertidos_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>



              <tr>
                <td style='background-color:#009fab;color:white'><strong>Vendidos</strong></td>
                <td>R$ <%=@vendidos_meta%></td>
                <td>R$ <%=@vendidos%></td>
                <%if @vendidos_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@vendidos.to_f/@vendidos_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td>R$ <%='%.2f' %  (@vendidos.to_f - @vendidos_meta.to_f)%></td>
                <td>R$ <%=@vendidos_ant%></td>
                <%if @vendidos_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@vendidos.to_f/@vendidos_ant.to_f)*100)%>%</span></td>
                <%end%>
              </tr>

              <tr class='pessoa'>
                <td class='text-right'><strong>Thierre</strong></td>
                <td>R$ <%=@vendidos_meta_thierre%></td>
                <td>R$ <%=@vendidos_thierre%></td>
                <%if @vendidos_meta_thierre.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@vendidos_thierre.to_f/@vendidos_meta_thierre.to_f)*100)%>%</span></td>
                <%end%>
                <td>R$ <%='%.2f' %  (@vendidos_thierre.to_f - @vendidos_meta_thierre.to_f)%></td>
                <td><%=@vendidos_ant_thierre%></td>
                <%if @vendidos_ant_thierre.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@vendidos_thierre.to_f/@vendidos_ant_thierre.to_f)*100)%>%</span></td>
                <%end%>

              </tr>

              <tr class='pessoa'>
                <td class='text-right'><strong>Iago</strong></td>
                <td>R$ <%=@vendidos_meta_iago%></td>
                <td>R$ <%=@vendidos_iago%></td>
                <%if @vendidos_meta_iago.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@vendidos_iago.to_f/@vendidos_meta_iago.to_f)*100)%>%</span></td>
                <%end%>
                <td>R$ <%='%.2f' %  (@vendidos_iago.to_f - @vendidos_meta_iago.to_f)%></td>
                <td><%=@vendidos_ant_iago%></td>
                <%if @vendidos_ant_iago.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@vendidos_iago.to_f/@vendidos_ant_iago.to_f)*100)%>%</span></td>
                <%end%>

              </tr>

              <tr>
                <td style='background-color:#009fab;color:white'><strong>Ticket Médio</strong></td>
                <td>R$ <%=@ticket_medio_meta%></td>
                <td>R$ <%=@ticket_medio%></td>
                <%if @ticket_medio_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@ticket_medio.to_f/@ticket_medio_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td>R$ <%='%.2f' %  (@ticket_medio.to_f - @ticket_medio_meta.to_f)%></td>
                <td>R$ <%=@ticket_medio_ant%></td>
                <%if @ticket_medio_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@ticket_medio.to_f/@ticket_medio_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr>
                <td style='background-color:#009fab;color:white'><strong>Solicitaçoes Atendidas no Prazo (%)</strong></td>
                
                <td><%=@atrasados_meta%>%</td>
                <td><%=@atrasados%>%</td>
                <%if @atrasados_meta.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@atrasados.to_f/@atrasados_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@atrasados.to_f - @atrasados_meta.to_f)%>%</td>
                <td><%=@atrasados_ant%>%</td>
                <%if @atrasados_ant.to_f == 0%>
                  <td><span class='cor'>Infinito</span></td>
                <%else%>
                  <td><span class='cor'><%='%.2f' %  ((@atrasados.to_f/@atrasados_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr class='pessoa'>
                <td class='text-right'><strong>Thierre</strong></td>
                
                <td><%=@atrasados_thierre_meta%>%</td>
                <td><%=@atrasados_thierre%>%</td>
                <%if @atrasados_thierre_meta.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atrasados_thierre.to_f/@atrasados_thierre_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@atrasados_thierre.to_f - @atrasados_thierre_meta.to_f)%>%</td>
                <td><%=@atrasados_thierre_ant%>%</td>
                <%if @atrasados_thierre_ant.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atrasados_thierre.to_f/@atrasados_thierre_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
              <tr class='pessoa'>
                <td class='text-right'><strong>Iago</strong></td>
                
                <td><%=@atrasados_iago_meta%>%</td>
                <td><%=@atrasados_iago%>%</td>
                <%if @atrasados_iago_meta.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atrasados_iago.to_f/@atrasados_iago_meta.to_f)*100)%>%</span></td>
                <%end%>
                <td><%='%.2f' %  (@atrasados_iago.to_f - @atrasados_iago_meta.to_f)%>%</td>
                <td><%=@atrasados_iago_ant%>%</td>
                <%if @atrasados_iago_ant.to_f == 0%>
                  <td><span>Infinito</span></td>
                <%else%>
                  <td><span><%='%.2f' %  ((@atrasados_iago.to_f/@atrasados_iago_ant.to_f)*100)%>%</span></td>
                <%end%>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<script>

$( document ).ready(function() {
  
  $('.cor').each(function(index, element) {
    console.log(parseFloat($(this).text()));
    if(parseFloat($(this).text()) < 100){
      $(this).css('color', 'red');
    }
    else{
      $(this).css('color', 'green');
    }
    
  });


});

</script>