<style>
.id, .name, .product{
    color:#009fab !important;
}


.table-stats table th, .table-stats table td, .name{
    font-size:11px !important;
}

.table-stats table th, .table-stats table td{

    text-transform:initial !important;
}

</style>


        <div class="content">
        <h3>Todos os Pedidos de Orçamento</h3>
        <div class="dropdown">
                        <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=@mes%> <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="<%=request.path%>?mes=1">Janeiro</a>

                            <a class="nav-link" href="<%=request.path%>?mes=2">Fevereiro</a>

                            <a class="nav-link" href="<%=request.path%>?mes=3">Março</a>
                            <a class="nav-link" href="<%=request.path%>?mes=4">Abril</a>
                            <a class="nav-link" href="<%=request.path%>?mes=5">Maio</a>
                            <a class="nav-link" href="<%=request.path%>?mes=6">Junho</a>
                            <a class="nav-link" href="<%=request.path%>?mes=7">Julho</a>
                            <a class="nav-link" href="<%=request.path%>?mes=8">Agosto</a>
                            <a class="nav-link" href="<%=request.path%>?mes=9">Setembro</a>
                            <a class="nav-link" href="<%=request.path%>?mes=10">Outubro</a>
                            <a class="nav-link" href="<%=request.path%>?mes=11">Novembro</a>
                            <a class="nav-link" href="<%=request.path%>?mes=12">Dezembro</a>
                        </div>
                    </div>  
        <hr>
            <div class="animated fadeIn">
                <%=render 'uploads', orcamentos: @orcamentos, mes: @mes%>
                <%=render 'modelagens', modelagens: @modelagens, mes: @mes%>
            </div><!-- .animated -->
        </div><!-- .content -->
