<style>
.id, .name, .product{
    color:#009fab !important;
}


.table-stats table th, .table-stats table td, .name{
    font-size:11px !important;
}

.table-stats table th, .table-stats table td{

    text-transform:initial !important;
}

</style>


        <div class="content">
        <h3>Todos os Pedidos de Orçamento</h3>
        <%if !@sem_mes%>
            <div class="row" style='margin:0px'>
            <div class="dropdown" style='float:left'>
                <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%=@mes%> <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="<%=request.path%>?mes=01&ano=<%=@ano%>">Janeiro</a>
                    <a class="nav-link" href="<%=request.path%>?mes=02&ano=<%=@ano%>">Fevereiro</a>
                    <a class="nav-link" href="<%=request.path%>?mes=03&ano=<%=@ano%>">Março</a>
                    <a class="nav-link" href="<%=request.path%>?mes=04&ano=<%=@ano%>">Abril</a>
                    <a class="nav-link" href="<%=request.path%>?mes=05&ano=<%=@ano%>">Maio</a>
                    <a class="nav-link" href="<%=request.path%>?mes=06&ano=<%=@ano%>">Junho</a>
                    <a class="nav-link" href="<%=request.path%>?mes=07&ano=<%=@ano%>">Julho</a>
                    <a class="nav-link" href="<%=request.path%>?mes=08&ano=<%=@ano%>">Agosto</a>
                    <a class="nav-link" href="<%=request.path%>?mes=09&ano=<%=@ano%>">Setembro</a>
                    <a class="nav-link" href="<%=request.path%>?mes=10&ano=<%=@ano%>">Outubro</a>
                    <a class="nav-link" href="<%=request.path%>?mes=11&ano=<%=@ano%>">Novembro</a>
                    <a class="nav-link" href="<%=request.path%>?mes=12&ano=<%=@ano%>">Dezembro</a>
                </div>
            </div> 
            <div class="dropdown" style='float:left; margin-left:10px'>
                <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%=@ano%> <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2019">2019</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2020">2020</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2021">2021</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2022">2022</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2023">2023</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2024">2024</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2025">2025</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2026">2026</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2027">2027</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2028">2028</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2029">2029</a>
                    <a class="nav-link" href="<%=request.path%>?mes=<%=@mes_num%>&ano=2030">2030</a>
                </div> 
            </div>
            </div>
        <%end%>
        <hr>
            <div class="animated fadeIn">
                <%=render 'orcamentos', orcamentos: @planilha, mes: @mes%>
            </div><!-- .animated -->
        </div><!-- .content -->
