<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 450px
}

</style>


<div class="content">
  <h3>Localização dos pedidos de orçamento</h3>
  <div class="dropdown">
    <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%=@mes%> <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </a>
    <div class="user-menu dropdown-menu">
      <a class="nav-link" href="<%=request.path%>?mes=1">Janeiro</a>
      <a class="nav-link" href="<%=request.path%>?mes=2">Fevereiro</a>
      <a class="nav-link" href="<%=request.path%>?mes=3">Março</a>
      <a class="nav-link" href="<%=request.path%>?mes=4">Abril</a>
      <a class="nav-link" href="<%=request.path%>?mes=5">Maio</a>
      <a class="nav-link" href="<%=request.path%>?mes=6">Junho</a>
      <a class="nav-link" href="<%=request.path%>?mes=7">Julho</a>
      <a class="nav-link" href="<%=request.path%>?mes=8">Agosto</a>
      <a class="nav-link" href="<%=request.path%>?mes=9">Setembro</a>
      <a class="nav-link" href="<%=request.path%>?mes=10">Outubro</a>
      <a class="nav-link" href="<%=request.path%>?mes=11">Novembro</a>
      <a class="nav-link" href="<%=request.path%>?mes=12">Dezembro</a>
    </div>
  </div> 
  <hr>
  <a href=<%=system_localizacao_path(mes: @mes_num)%>><button type="button" class="btn <%if @fechado || @conversao%>btn-outline-secondary<%else%>btn-outline-link<%end%>">Pedidos</button></a>
  <a href=<%=system_localizacao_path(mes: @mes_num,fechado: true)%>><button type="button" class="btn <%if @fechado%>btn-outline-link<%else%>btn-outline-secondary<%end%>">Fechado</button></a>
  <a href=<%=system_localizacao_path(mes: @mes_num,conversao: true)%>><button type="button" class="btn <%if @conversao%>btn-outline-link<%else%>btn-outline-secondary<%end%>">Conversão</button></a>
  <button type="button" class="btn btn-outline-secondary">Faturamento</button>
   <div class="animated fadeIn" style='margin-top:40px'>
    <div class="row">
      <div class=col-lg-6>
        <div class="card">
          <div class="card-header" style=color:green>
            <strong>Brasil <%if @fechado%> - Fechados<%elsif @conversao%> - Conversao<%end%></strong>
          </div>
          <div class="card-body card-block form-inline">
            <div id='chartdiv'></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Info</strong>
          </div>
          <div class="table-stats order-table ov-h">
            <table class="table ">
              <thead>
                <tr>
                  <th class="serial">#</th>
                  <th class="avatar">Estado</th>
                  <th>Pedidos</th>
                  <th>Fechados</th>
                  <th>Conversao</th>
                  <th>Faturamento</th>
                </tr>
              </thead>
              <tbody>
              <%@estados.each_with_index do |estado,index|%>
                <tr>
                  <td class="serial"><%=index+1%>.</td>
                  <td class="avatar"><%=estado.name%></td>
                  <td><%=estado.pedido%></td>
                  <td>  <span class="name"><%=estado.fechado%></span> </td>
                  <td><%=estado.conversao%>%</td>
                  <td><%=estado.faturamento%></td>
                </tr>
              <%end%>
              </tbody>
            </table>
          </div> <!-- /.table-stats -->
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/brazilLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

 // Create map instance
var chart = am4core.create("chartdiv", am4maps.MapChart);

chart.seriesContainer.draggable = false;
chart.seriesContainer.resizable = false;
chart.maxZoomLevel = 1;

// Set map definition
chart.geodata = am4geodata_brazilLow;


// Create map polygon series
var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

//Set min/max fill color for each area
polygonSeries.heatRules.push({
  property: "fill",
  target: polygonSeries.mapPolygons.template,
  min: am4core.color("#e2e2e2"),
  max: am4core.color("#009fab")
});
// Make map load polygon data (state shapes and names) from GeoJSON
polygonSeries.useGeodata = true;

// Set heatmap values for each state
polygonSeries.data = [
  <%@estados.each_with_index do |estado,index|%>
    {
      id: "<%=estado.sigla%>",
      value: <%if @fechado%><%=estado.fechado%><%elsif @conversao%><%=estado.conversao%><%else%><%=estado.pedido%><%end%>
    },
  <%end%>

];

// Set up heat legend
let heatLegend = chart.createChild(am4maps.HeatLegend);
heatLegend.series = polygonSeries;
heatLegend.align = "right";
heatLegend.valign = "bottom";
heatLegend.width = am4core.percent(20);
heatLegend.marginRight = am4core.percent(4);
heatLegend.minValue = 0;
heatLegend.maxValue = 40000000;

// Set up custom heat map legend labels using axis ranges
var minRange = heatLegend.valueAxis.axisRanges.create();
minRange.value = heatLegend.minValue;
minRange.label.text = "Nada";
var maxRange = heatLegend.valueAxis.axisRanges.create();
maxRange.value = heatLegend.maxValue;
maxRange.label.text = "Oh loco!";

// Blank out internal heat legend value axis labels
heatLegend.valueAxis.renderer.labels.template.adapter.add("text", function(labelText) {
  return "";
});

// Configure series tooltip
var polygonTemplate = polygonSeries.mapPolygons.template;
polygonTemplate.tooltipText = "{name}: {value}";
polygonTemplate.nonScalingStroke = true;
polygonTemplate.strokeWidth = 0.5;

// Create hover state and set alternative fill color
var hs = polygonTemplate.states.create("hover");
hs.properties.fill = am4core.color("#3F315D");

}); // end am4core.ready()
</script>
