<footer id=main-footer class="dark-bg light-typo">
        <div class='w3-center'>
            <p>Impressão 3D e Prototipagem | BEEPRINTED</p>
        </div>
        <br>
        <br>
        <div class=container>
            <div class=row>
                <div class=w3-center>
                    <div class="col-md-4 col-sm-4 news">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Categorias</p><a href='' style=color:white title=Prototipagem><p style=margin-bottom:0px>Prototipagem</p></a><a href='' style=color:white title='Corporativo'><p style=margin-bottom:0px>Corporativo</p></a><a href='' style=color:white title=Recordações><p style=margin-bottom:0px>Recordações</p></a><a href='' style=color:white title=BeeLoja><p style=margin-bottom:0px>BeeLoja</p></a></div>
                    <div class="col-md-4 col-sm-4 d2">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Conteúdo</p><a href=<%=politica_devolucao_path%> style=color:white title='Política de Envio, Trocas e Devoluções'><p style=margin-bottom:0px>Política de Envio, Trocas e Devoluções</p></a><a href=<%=politica_privacidade_path%> style=color:white title='Política de Privacidade'><p style=margin-bottom:0px>Política de Privacidade</p></a>
                        <a href=<%=root_path%>#contact style=color:white title=Contato>
                            <p style=margin-bottom:0px>Fale Conosco</p>
                        </a><a href=<%=root_path%> style=color:white title=Blog><p style=margin-bottom:0px>Blog</p></a></div>
                    <div class="col-md-4 col-sm-4 d2">
                        <p class=font-bold style=margin-top:10px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;font-size:24px>Social</p>
                        <div class='social-links text-center'>
                            <li><a href=https://www.instagram.com/beeprinted/ title=Instagram-Beeprinted><i class="fa fa-instagram bee15"></i></a></li>
                            <li><a href=https://www.facebook.com/beeprinted title=Facebook-Beeprinted><i class="fa fa-facebook bee15"></i></a></li>
                            <li><a href=<%=root_path%>#contact title=Contato><i class="fa fa-phone"></i></a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p class="pull-left copyright" style='margin-bottom:0px; font-size:16px'>Copyright © Beeprinted 2019.</p>
        </div>
        <div itemscope itemtype=http://data-vocabulary.org/Organization class=beehide>
            <h3 itemprop=name>Beeprinted – Impressão 3D de Ideias</h3>
            <p itemprop=tel>61 9 9996-0874</p>
            <p itemprop=address itemscope itemtype=http://data-vocabulary.org/Address><span itemprop=street-address>EQN 406/407 Prédio Salim Bitar, sala 125</span>,<span itemprop=locality>Asa Norte, Brasília</span>,<span itemprop=region>DF</span>.</p>
        </div>
    </footer>